body {
  min-height: 400px;
  height: 100vh;
  position: relative;
  background-color: #fcf7f5;
  text-align: center;
}
div {
  position: absolute;
  left: 50%;
  top: 50%;
}
div:before,
div:after {
  display: block;
  content: '';
  position: absolute;
}
@media (max-width: 400px) {
  div:not(.no-scale) {
    transform: scale(0.8);
  }
}
#boxed {
  width: 350px;
  height: 300px;
  margin-left: -175px;
  margin-top: -150px;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #ff69b4 60%, transparent 60.1%), radial-gradient(circle, #ffc0cb 60%, transparent 60.1%), radial-gradient(circle, #ff69b4 60%, transparent 60.1%), radial-gradient(circle, #ff69b4 60%, transparent 60.1%), radial-gradient(circle, #ff69b4 60%, transparent 60.1%), radial-gradient(circle, #ff69b4 60%, transparent 60.1%), radial-gradient(circle, #ffc0cb 60%, transparent 60.1%), radial-gradient(circle, #ff69b4 60%, transparent 60.1%), radial-gradient(circle, white 60%, transparent 60.1%), radial-gradient(circle, white 60%, transparent 60.1%), radial-gradient(circle, white 60%, transparent 60.1%), radial-gradient(circle, white 60%, transparent 60.1%), radial-gradient(circle, white 60%, transparent 60.1%), radial-gradient(circle, white 60%, transparent 60.1%), radial-gradient(circle, white 60%, transparent 60.1%), radial-gradient(circle, white 60%, transparent 60.1%), radial-gradient(circle, white 60%, transparent 60.1%), radial-gradient(circle, white 60%, transparent 60.1%), radial-gradient(ellipse at 50% 80%, transparent 35%, #9370db 35.2%, #9370db 40%, #00ced1 40.2%, #00ced1 45%, #3cb371 45.2%, #3cb371 50%, #ffa500 50.2%, #ffa500 55%, #ed365b 55.2%, #ed365b 60%, transparent 60.2%), radial-gradient(circle, #ffd700 60%, transparent 60.1%), linear-gradient(#ffa500, #ffa500), linear-gradient(#ffa500, #ffa500), linear-gradient(#9370db, #9370db), linear-gradient(#9370db, #9370db), linear-gradient(#3cb371, #3cb371), linear-gradient(#3cb371, #3cb371), linear-gradient(#ffa500, #ffa500), linear-gradient(#ffa500, #ffa500);
  background-size: 30px 30px, 50px 50px, 40px 40px, 30px 30px, 30px 30px, 50px 50px, 40px 40px, 30px 30px, 20px 20px, 40px 40px, 30px 30px, 30px 30px, 20px 20px, 20px 20px, 35px 35px, 20px 20px, 25px 25px, 20px 20px, 95% 100%, 60px 60px, 21px 5px, 5px 21px, 21px 5px, 5px 21px, 21px 5px, 5px 21px, 21px 5px, 5px 21px;
  background-position: left 15px bottom 60px, left 32px bottom 53px, left 65px bottom 54px, left 95px bottom 60px, right 15px bottom 60px, right 32px bottom 53px, right 65px bottom 54px, right 95px bottom 60px, 72px 100px, 82px 80px, 110px 90px, 82px 100px, 105px 105px, right 50px top 150px, right 60px top 140px, right 85px top 155px, right 70px top 160px, right 55px top 160px, 50% 0, right 20px top, 0 148px, 8px 140px, 70px 35px, 78px 27px, 140px 180px, 148px 172px, right 10px top 115px, right 18px top 107px;
}
#boxed:before,
#boxed:after {
  font-family: Helvetica, Arial, sans-erif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  color: #222;
  height: 30px;
  padding-top: 50px;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: 33% 30%, 33% 40%, 70% 30%, 60% 40%, 112px 100%;
  box-shadow: 0 15px 0 -13px #a0522d;
}
#boxed:before {
  content: 'design';
  text-align: right;
  width: 110px;
  padding-right: 35px;
  background-image: linear-gradient(120deg, transparent 21%, #ac6c2d 21.5%, #ac6c2d 78%, transparent 78.5%), linear-gradient(110deg, #784b1f 55%, transparent 55.5%), linear-gradient(55deg, transparent 18%, #cd853f 18.5%, #cd853f 85%, transparent 85.5%), linear-gradient(70deg, transparent 19%, #985f28 19.5%), linear-gradient(to right, #985f28 29%, #d29253 29%);
  background-position: 0 0, 15px 0, 100% 0, right 18px top 0, 15px 0;
}
#boxed:after {
  content: 'code';
  text-align: left;
  width: 105px;
  padding-left: 40px;
  right: 0;
  background-image: linear-gradient(-120deg, transparent 21%, #ac6c2d 21.5%, #ac6c2d 78%, transparent 78.5%), linear-gradient(-110deg, #784b1f 55%, transparent 55.5%), linear-gradient(-55deg, transparent 18%, #cd853f 18.5%, #cd853f 85%, transparent 85.5%), linear-gradient(-70deg, transparent 19%, #985f28 19.5%), linear-gradient(to left, #985f28 29%, #d29253 29%);
  background-position: 100% 0, right 15px top 0, 0 0, left 18px top 0, right 15px top 0;
}
