html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
*::before, *::after {
  content: '';
  position: absolute;
  display: block;
}

.mickey {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 12.25em;
  height: 12.5em;
  transform: translate(-50%,-50%);
  background-color: #000;
  border-radius: 50%;
  opacity: 1;
}

.mickey::before,
.mickey::after {
  bottom: 95%;
  left: 50%;
  width: 7.5em;
  height: 7em;
  margin-left: -4.5em;
  transform: rotate(-12deg);
  background-color: #000;
  border-radius: 50%;
}

.mickey::after {
  bottom: 62%;
  left: 83%;
  height: 6.5em;
  margin-left: 0;
  transform: rotate(-80deg);
}

.mickey .face {
  position: absolute;
  top: 10%;
  left: 9.5%;
  width: 5em;
  height: 9em;
  transform: rotate(-5deg);
  background-color: #fff;
  border-radius: 50%;
}

.mickey .face::before,
.mickey .face::after {
  top: 26%;
  left: -20%;
  width: 2em;
  height: 5.8125em;
  background-color: #fff;
  border-radius: 50%;
}

.mickey .face::after {
  top: 39%;
  left: 78%;
  width: 5.75em;
  height: 8.5em;
  transform: rotate(50deg);
}

.mickey .chin {
  position: absolute;
  top: 64%;
  left: 42%;
  width: 4.75em;
  height: 5em;
  transform: rotate(10deg);
  background-color: #000;
  border-radius: 50%;
}

.mickey .chin::before,
.mickey .chin::after {
  top: -3%;
  left: 0;
  width: 97%;
  height: 100%;
  transform: rotate(0deg);
  background-color: #fff;
  border-radius: 0 0 50% 50%;
}

.mickey .chin::before {
  top: 7%;
  left: -45%;
  width: 100%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 0 -0.2em;
}

.mickey .eyes {
  position: absolute;
  top: 30%;
  left: 16%;
  width: 1.5em;
  height: 4em;
  transform: rotate(-12deg);
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid;
  box-shadow:
    -1.875em 1.25em 0 -0.25em #fff,
    -1.875em 1.25em 0 -0.125em;
}

.mickey .eyes::before {
  bottom: 0;
  right: 10%;
  width: 0.75em;
  height: 1.5em;
  transform: rotate(0deg);
  background-color: #000;
  border-radius: 50%;
  box-shadow: -1.75em 0.5em 0 -0.125em;
}

.mickey .nose {
  position: absolute;
  top: 63%;
  left: -7.5%;
  width: 7em;
  height: 5.0625em;
  transform: rotate(10deg);
  background-color: #000;
  border-radius: 50%;
}

.mickey .nose::before,
.mickey .nose::after {
  top: 0;
  left: 4%;
  width: 100%;
  height: 94%;
  transform: rotate(-7deg);
  background-color: #fff;
  border-radius: 50%;
}

.mickey .nose::after {
  top: 8%;
  left: -32%;
  width: 4em;
  height: 3em;
  transform: rotate(50deg);
  background-color: maroon;
  border-radius: 60% 80% 100% 60% / 70% 50% 100% 80%;
}

.mickey .mouth {
  position: absolute;
  top: 53%;
  left: 37%;
  width: 4.5em;
  height: 6em;
  transform: rotate(-30deg);
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -0.25em -2em #000;
}

.mickey .mouth::before,
.mickey .mouth::after {
  top: -33%;
  left: -82%;
  width: 215%;
  height: 105%;
  transform: rotate(-20deg);
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #000;
  box-shadow: inset 1.25em -1.55em #fff;
}

.mickey .mouth::after {
  top: 28%;
  left: 90%;
  width: 2em;
  height: 1em;
  transform: rotate(20deg);
  border: none;
  border-top: 3px solid #000;
  box-shadow: none;
}

.mickey .tongue {
  position: absolute;
  bottom: 2%;
  right: 26%;
  width: 1.75em;
  height: 1.5em;
  transform: rotate(-7deg);
  background-color: #f00;
  border-radius: 100% 0;
  box-shadow: inset 0 0;
}

.mickey .tongue::after {
  bottom: 40%;
  left: 37%;
  width: 1.5em;
  height: 1.75em;
  transform: rotate(-20deg);
  background-color: #f00;
  border-radius: 100% 0;
  box-shadow: inset 0 0.25em;
}