body {
  background: #111111;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 240px;
  width: 100%;
  margin: auto;
}

:before, :after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
}

.pumpkin {
  position: relative;
  left: calc(50% - (240px / 2));
  height: 200px;
  width: 240px;
  background: #E37100;
  -moz-border-radius: 45% 45% 40% 40%/43% 43% 50% 50%;
  -webkit-border-radius: 45%;
  border-radius: 45% 45% 40% 40%/43% 43% 50% 50%;
  -moz-box-shadow: inset 0 -20px 20px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 -20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 -20px 20px 0px rgba(0, 0, 0, 0.4);
}
.pumpkin * {
  position: absolute;
}
.pumpkin .front {
  height: 94%;
  width: 50%;
  bottom: 0;
  z-index: 2;
}
.pumpkin .front:before {
  top: 5%;
  height: 94%;
  width: 85%;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
}
.pumpkin .front:after {
  top: 12%;
  height: 85%;
  width: 40%;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
}
.pumpkin .front.left {
  -moz-box-shadow: inset 5px 5px 10px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 5px 5px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 5px 5px 10px -5px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 65% 35% 10% 85%/45% 20% 10% 60%;
  -webkit-border-radius: 65%;
  border-radius: 65% 35% 10% 85%/45% 20% 10% 60%;
  left: 0;
}
.pumpkin .front.left:before {
  left: 20%;
  -moz-box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.3);
}
.pumpkin .front.left:after {
  left: 60%;
  -moz-box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.3);
}
.pumpkin .front.right {
  -moz-box-shadow: inset -5px 5px 10px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -5px 5px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: inset -5px 5px 10px -5px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 35% 65% 85% 10%/20% 45% 60% 10%;
  -webkit-border-radius: 35%;
  border-radius: 35% 65% 85% 10%/20% 45% 60% 10%;
  right: 0;
}
.pumpkin .front.right:before {
  right: 20%;
  -moz-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.3);
}
.pumpkin .front.right:after {
  right: 60%;
  -moz-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.3);
}
.pumpkin .top-dent-back,
.pumpkin .top-dent-front {
  height: 30px;
  width: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.pumpkin .top-dent-back {
  top: 3px;
}
.pumpkin .top-dent-back.left {
  left: 80px;
  -moz-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  -webkit-transform: rotate(110deg);
  transform: rotate(110deg);
  -moz-box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.3);
}
.pumpkin .top-dent-back.right {
  right: 80px;
  -moz-transform: rotate(-110deg);
  -ms-transform: rotate(-110deg);
  -webkit-transform: rotate(-110deg);
  transform: rotate(-110deg);
  -moz-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.3);
}
.pumpkin .top-dent-front {
  top: 18px;
}
.pumpkin .top-dent-front.left {
  left: 90px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.2);
  box-shadow: -7px 0 5px -5px rgba(0, 0, 0, 0.2);
}
.pumpkin .top-dent-front.right {
  right: 90px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 0 5px -5px rgba(0, 0, 0, 0.2);
}
.pumpkin .stalk {
  top: -5px;
  left: calc(50% - 15px);
  height: 30px;
  width: 30px;
  z-index: 1;
  background: #35260F;
  -moz-border-radius: 10% 10% 50% 50%/90% 90% 20% 20%;
  -webkit-border-radius: 10%;
  border-radius: 10% 10% 50% 50%/90% 90% 20% 20%;
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.pumpkin .stalk-shadow {
  top: -10px;
  left: calc(50% - 60px);
  height: 50px;
  width: 120px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iNTAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 50%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #000000 0%, rgba(0, 0, 0, 0) 50%);
  background-image: radial-gradient(ellipse cover at center, #000000 0%, rgba(0, 0, 0, 0) 50%);
  opacity: 0.4;
}
.pumpkin .eye {
  top: 65px;
  height: 35px;
  width: 70px;
  background: #5A2504;
  z-index: 4;
}
.pumpkin .eye:before {
  height: 100%;
  width: 87%;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  z-index: 3;
}
.pumpkin .eye.left {
  left: 38px;
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  -moz-border-radius: 10% 10% 40% 60%/0% 30% 50% 95%;
  -webkit-border-radius: 10%;
  border-radius: 10% 10% 40% 60%/0% 30% 50% 95%;
}
.pumpkin .eye.left:before {
  left: 8px;
  -moz-box-shadow: -8px 0 0 0 #AD4B07;
  -webkit-box-shadow: -8px 0 0 0 #AD4B07;
  box-shadow: -8px 0 0 0 #AD4B07;
  border-right: 1px solid #7c3605;
}
.pumpkin .eye.right {
  right: 38px;
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  -moz-border-radius: 10% 10% 60% 40%/30% 0% 95% 50%;
  -webkit-border-radius: 10%;
  border-radius: 10% 10% 60% 40%/30% 0% 95% 50%;
}
.pumpkin .eye.right:before {
  right: 8px;
  -moz-box-shadow: 8px 0 0 0 #AD4B07;
  -webkit-box-shadow: 8px 0 0 0 #AD4B07;
  box-shadow: 8px 0 0 0 #AD4B07;
  border-right: 1px solid #7c3605;
}
.pumpkin .nose {
  top: 105px;
  left: calc(50% - 13px);
  height: 26px;
  width: 26px;
  background: #AD4B07;
  z-index: 4;
  -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  overflow: hidden;
}
.pumpkin .nose:before {
  left: 15%;
  top: 15%;
  height: 70%;
  width: 70%;
  background: #5A2504;
  -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
.pumpkin .mouth {
  top: 65px;
  left: calc(50% - 80px);
  height: 110px;
  width: 160px;
  z-index: 3;
  background: #5A2504;
  -webkit-clip-path: polygon(0% 58%, 7% 65%, 19% 70%, 22% 71%, 28% 82%, 33% 74%, 38% 74%, 50% 75%, 62% 74%, 67% 74%, 72% 82%, 78% 71%, 81% 70%, 93% 65%, 100% 58%, 94% 75%, 86% 89%, 79% 94%, 70% 98%, 60% 100%, 56% 100%, 50% 88%, 44% 100%, 40% 100%, 30% 98%, 21% 95%, 14% 89%, 6% 75%);
  clip-path: polygon(0% 58%, 7% 65%, 19% 70%, 22% 71%, 28% 82%, 33% 74%, 38% 74%, 50% 75%, 62% 74%, 67% 74%, 72% 82%, 78% 71%, 81% 70%, 93% 65%, 100% 58%, 94% 75%, 86% 89%, 79% 94%, 70% 98%, 60% 100%, 56% 100%, 50% 88%, 44% 100%, 40% 100%, 30% 98%, 21% 95%, 14% 89%, 6% 75%);
  overflow: hidden;
}
.pumpkin .mouth:before {
  left: 8px;
  height: 100%;
  width: calc(100% - (8px * 2));
  background: #5A2504;
  top: -8px;
  -webkit-clip-path: polygon(0% 58%, 7% 65%, 19% 70%, 22% 71%, 26% 89%, 30% 87%, 38% 74%, 50% 75%, 62% 74%, 70% 87%, 74% 89%, 78% 71%, 81% 70%, 93% 65%, 100% 58%, 94% 75%, 86% 89%, 79% 94%, 70% 98%, 60% 100%, 56% 100%, 50% 90%, 44% 100%, 40% 100%, 30% 98%, 21% 95%, 14% 89%, 6% 75%);
  clip-path: polygon(0% 58%, 7% 65%, 19% 70%, 22% 71%, 28% 82%, 33% 74%, 38% 74%, 50% 75%, 62% 74%, 65% 82%, 74% 90%, 78% 71%, 81% 70%, 93% 65%, 100% 58%, 94% 75%, 86% 89%, 79% 94%, 70% 98%, 60% 100%, 56% 100%, 50% 90%, 44% 100%, 40% 100%, 30% 98%, 21% 95%, 14% 89%, 6% 75%);
  z-index: 2;
}
.pumpkin .mouth:after {
  left: 0;
  height: 100%;
  width: 100%;
  background: #AD4B07;
  z-index: 1;
}
.pumpkin .bottom-shadow {
  bottom: -195px;
  left: calc(50% - 250px);
  width: 500px;
  height: 400px;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0) 35%);
  z-index: -1;
  -moz-transform: scaleY(0.2);
  -ms-transform: scaleY(0.2);
  -webkit-transform: scaleY(0.2);
  transform: scaleY(0.2);
}
.pumpkin .candle {
  background: rgba(255, 255, 0, 0.5);
  z-index: 15;
  -moz-box-shadow: 0 0 50px 2px rgba(255, 255, 0, 0.8);
  -webkit-box-shadow: 0 0 50px 2px rgba(255, 255, 0, 0.8);
  box-shadow: 0 0 50px 2px rgba(255, 255, 0, 0.8);
}
.pumpkin .candle:before, .pumpkin .candle:after {
  display: none;
}
.pumpkin .candle.nose, .pumpkin .candle.mouth {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

p {
  font-family: 'eater', 'cursive';
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  color: #AC0805;
}

/* Animation */
@keyframes candle {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.candle {
  -moz-animation: candle linear 3s infinite;
  -webkit-animation: candle linear 3s infinite;
  animation: candle linear 3s infinite;
}
