html {
  background: #d966;
}

.canvas {
  --dough: #d96;
  --line: #531;
  --pink: #e88;
  --frosting: #f6f7f5;
  --gradient: #0004 0 0.125%, #0000 0 9.875%, #0004 0 10%;
  width: 80vmin;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--line);
  filter:
    drop-shadow(0 -0.5vmin)
    drop-shadow(0.5vmin -0.5vmin)
    drop-shadow(0.5vmin 0)
    drop-shadow(0.5vmin 0.5vmin)
    drop-shadow(0 0.5vmin)
    drop-shadow(-0.5vmin 0.5vmin)
    drop-shadow(-0.5vmin 0)
    drop-shadow(-0.25vmin -0.5vmin)
}

.canvas div,
.canvas div::before, 
.canvas div::after {
  position: absolute;
  display: block;
  box-sizing: border-box;
}

.head {
  width: 50%;
  height: 35%;
  background: var(--dough);
  border-radius: 100% / 110% 110% 100% 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  box-shadow: inset 1vmin 0vmin #8002;
}

.arms {
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
  height: 20%;
  background:
    linear-gradient(45deg, #0000 45%, #fff 0 59%, #0000 0) 10% 13% / 10% 20%,
    linear-gradient(-45deg, #0000 45%, #fff 0 59%, #0000 0) 10.5% 38% / 10% 20%,
    linear-gradient(45deg, #0000 45%, #fff 0 59%, #0000 0) 10% 61% / 10% 20%,
    linear-gradient(-45deg, #0000 45%, #fff 0 59%, #0000 0) 10.5% 86% / 10% 20%,
    linear-gradient(-45deg, #0000 45%, #fff 0 59%, #0000 0) 90% 13% / 10% 20%,
    linear-gradient(45deg, #0000 45%, #fff 0 59%, #0000 0) 89.5% 38% / 10% 20%,
    linear-gradient(-45deg, #0000 45%, #fff 0 59%, #0000 0) 90% 61% / 10% 20%,
    linear-gradient(45deg, #0000 45%, #fff 0 59%, #0000 0) 89.5% 86% / 10% 20%
    ;
  background-repeat: no-repeat;
  background-color: var(--dough);
  border-radius: 30% / 100% 100% 120% 120%;
  box-shadow: inset 1vmin -1vmin #8002
}

.leg {
  width: 25%;
  height: 60%;
  background:
    radial-gradient(farthest-side at 50% 0%, #0000 40%, #fff 0 60%, #0000 0) 15% 90% / 40% 10%,
    radial-gradient(farthest-side at 50% 100%, #0000 40%, #fff 0 60%, #0000 0) 49% 80% / 40% 10%,
    radial-gradient(farthest-side at 50% 0%, #0000 40%, #fff 0 60%, #0000 0) 82% 90% / 40% 10%,
    radial-gradient(circle at 50% 82%, #fff 2%, #0000 0)
    ;
  background-repeat: no-repeat;
  background-color: var(--dough);
  top: 40%;
  left: 50%;
  border-radius: 100% / 120% 0 90% 90%;
  transform: translate(-100%) rotate(15deg);
  box-shadow: inset 1.5vmin -2vmin 0 -1vmin #8002;
  z-index: 2;
}

.leg + .leg {
  top: 41.5%;
  transform: scaleX(-1) rotate(15deg);
  box-shadow: inset -1.5vmin -2vmin 0 -1vmin #8002;
  z-index: 1;
}

.eye {
  --distance: 25%;
  height: 25%;
  width: 17.5%;
  background:
    radial-gradient(circle at 24% 37%, #fff 13%, #0000 0),
    radial-gradient(circle at 34% 17%, #fff 5%, #0000 0)
    ;
  background-color: var(--line);
  border-radius: 50%;
  top: 47%;
  left: var(--distance);
  box-shadow: -4vmin 4vmin 0 -2vmin var(--frosting); 
}

.eye + .eye {
  left: auto;
  right: var(--distance);
  box-shadow: 4vmin 4vmin 0 -2vmin var(--frosting); 
}

.mouth {
  background:
    radial-gradient(50% 30% at 50% 70%, var(--pink) 50%, #0000 0)
    ;
  background-color: var(--line);
  width: 16%;
  height: 13%;
  top: 68%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 60% / 20% 20% 100% 100%;
}

.gumdrop {
  width: 10%;
  height: 10%;
  background:
    radial-gradient(circle at 34% 25%, #fff7 13%, #0000 0)
    ;
  background-color: mediumseagreen;
  border-radius: 100% 90% 100% 80%;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1vmin solid var(--line);
  z-index: 3;
}

.gumdrop + .gumdrop {
  top: 42%;
  background:
    radial-gradient(circle at 58% 83%, #fff7 13%, #0000 0)
    ;
  background-color: darkorange;
  transform: translate(-50%, -50%) rotate(150deg);
}


/***/

#youtube {
  z-index: 2;
  display: block;
  width: 100px;
  height: 70px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: red;
  border-radius: 50% / 11%;
  transition: transform 0.5s;
}

#youtube:hover,
#youtube:focus {
  transform: scale(1.1);
}

#youtube::before {
  content: "";
  display: block;
  position: absolute;
  top: 7.5%;
  left: -6%;
  width: 112%;
  height: 85%;
  background: red;
  border-radius: 9% / 50%;
}

#youtube::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 40px;
  width: 45px;
  height: 30px;
  border: 15px solid transparent;
  box-sizing: border-box;
  border-left: 30px solid white;
}

#youtube span {
  font-size: 0;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

