body {
  min-height: 200px;
  height: 100vh;
  position: relative;
  background-color: #5f9ea0;
}
div {
  position: absolute;
  left: 50%;
  top: 50%;
}
div:before,
div:after {
  display: block;
  content: '';
  position: absolute;
}
@media (max-width: 400px) {
  div:not(.no-scale) {
    transform: scale(0.8);
  }
}
#surreal {
  font-size: 18px;
  width: 20em;
  height: 10em;
  margin-left: -10em;
  margin-top: -5em;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse, white 60%, rgba(255,255,255,0) 60.5%), radial-gradient(ellipse, #ccc 60%, rgba(255,255,255,0) 60.5%), linear-gradient(120deg, transparent 1em, #daa520 1em, #daa520 4.5em, transparent 4.5em), linear-gradient(120deg, transparent 1em, #8b4513 1em, #8b4513 1.5em, #ffb6c1 1.5em, #ffb6c1 1.7em, #8b4513 1.7em, #8b4513 2.2em, #ffb6c1 2.2em, #ffb6c1 2.4em, #8b4513 2.4em, #8b4513 2.9em, #ffb6c1 2.9em, #ffb6c1 3.1em, #8b4513 3.1em, #8b4513 3.6em, #ffb6c1 3.6em, #ffb6c1 3.8em, #8b4513 3.8em, #8b4513 4.3em, #daa520 4.3em, #daa520 4.5em, transparent 4.5em), radial-gradient(ellipse, #daa520 60%, rgba(218,165,32,0) 61%), radial-gradient(ellipse, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 61%), radial-gradient(ellipse, #daa520 60%, rgba(218,165,32,0) 61%), radial-gradient(ellipse, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 61%), radial-gradient(ellipse at 50% 100%, #ffd700 58.8%, rgba(255,215,0,0) 59.5%), linear-gradient(#ffd700, #ffd700), radial-gradient(ellipse, white 60%, rgba(255,255,255,0) 60.5%), radial-gradient(ellipse, #ccc 60%, rgba(255,255,255,0) 60.5%), radial-gradient(circle, black 60%, rgba(0,0,0,0) 61%), radial-gradient(circle, black 60%, rgba(0,0,0,0) 61%), radial-gradient(circle, black 60%, rgba(0,0,0,0) 61%), radial-gradient(circle, white 60%, rgba(255,255,255,0) 61%), radial-gradient(circle, #ffc0cb 30%, white 30.5%, white 60%, rgba(255,255,255,0) 61%), radial-gradient(circle, #ffc0cb 30%, white 30.5%, white 60%, rgba(255,255,255,0) 61%), radial-gradient(circle, white 60%, rgba(255,255,255,0) 61%), radial-gradient(circle, white 60%, rgba(255,255,255,0) 61%);
  background-size: 12em 3.2em, 12em 3.6em, 6em 0.2em, 6em 2.1em, 0.6em 0.6em, 0.6em 0.6em, 0.4em 0.4em, 0.4em 0.4em, 2em 2.5em, 2em 1em, 9em 1.6em, 9em 1.9em, 0.4em 0.4em, 0.2em 0.2em, 0.2em 0.2em, 1.5em 1.5em, 0.9em 0.9em, 0.9em 0.9em, 0.6em 0.7em, 0.6em 0.7em;
  background-position: 0 93%, 0 100%, right 1.55em bottom 4.5em, right 1.5em bottom 2.6em, right 1.9em bottom 3.5em, right 2em bottom 3.5em, right 2.5em bottom 2.8em, right 2.6em bottom 2.8em, right 1.4em bottom 2.6em, right 2em bottom 2.6em, right bottom 1.9em, right bottom 1.6em, left 5.45em bottom 6.9em, left 5.3em bottom 7.6em, left 5.8em bottom 7.6em, left 4.9em bottom 6.7em, left 4.7em bottom 7.7em, left 5.7em bottom 7.7em, left 4.4em bottom 6.7em, left 6.4em bottom 6.7em;
}
#surreal:before {
  width: 8em;
  height: 5em;
  left: 2em;
  bottom: 1.2em;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #b68a1b 60%, rgba(218,165,32,0) 61%), radial-gradient(circle, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 61%), radial-gradient(circle, #b68a1b 60%, rgba(218,165,32,0) 61%), radial-gradient(circle, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 61%), radial-gradient(circle, #b68a1b 60%, rgba(218,165,32,0) 61%), radial-gradient(circle, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 61%), radial-gradient(circle, #b68a1b 60%, rgba(218,165,32,0) 61%), radial-gradient(circle, rgba(255,255,255,0.3) 60%, rgba(255,255,255,0) 61%), linear-gradient(#daa520, #daa520), linear-gradient(#daa520, #daa520), linear-gradient(#daa520, #daa520), linear-gradient(#daa520, #daa520), repeating-linear-gradient(to bottom, #8b4513, #8b4513 0.6em, #ffb6c1 0.6em, #ffb6c1 0.8em);
  background-size: 1em 1em, 1em 1em, 1em 1em, 1em 1em, 0.6em 0.6em, 0.6em 0.6em, 0.6em 0.6em, 0.6em 0.6em, 69.5% 83%, 50% 50%, 50% 5%, 4% 76%, 45% 76%;
  background-position: 20% 40%, 18.5% 40%, 50% 75%, 48.5% 75%, 59% 35%, 57.5% 35%, 10% 80%, 8.5% 80%, 0 100%, 0 0, 100% 0, 100.5% 20%, 100% 20%;
  border-bottom-left-radius: 5em 1em;
  border-bottom-right-radius: 5em 1em;
  animation: cheese 500ms infinite ease-in-out;
}
#surreal:after {
  width: 8em;
  height: 1.8em;
  left: 2em;
  bottom: 5.3em;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse, black 60%, rgba(0,0,0,0) 61%), radial-gradient(ellipse, white 60%, rgba(255,255,255,0) 61%), radial-gradient(ellipse, white 60%, rgba(255,255,255,0) 61%), radial-gradient(ellipse, #daa520 60%, rgba(218,165,32,0) 61%), radial-gradient(ellipse, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 61%), radial-gradient(ellipse, #daa520 60%, rgba(218,165,32,0) 61%), radial-gradient(ellipse, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 61%), radial-gradient(ellipse, #daa520 60%, rgba(218,165,32,0) 61%), radial-gradient(ellipse, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0) 61%), linear-gradient(#ffd700, #ffd700), linear-gradient(40deg, #ffd700 61%, rgba(255,215,0,0) 61.5%);
  background-size: 0.4em 0.4em, 0.6em 0.6em, 0.6em 0.6em, 0.8em 0.3em, 0.8em 0.3em, 1em 0.4em, 1em 0.4em, 1.2em 0.5em, 1.2em 0.5em, 100% 50%, 100% 55%;
  background-position: left 3.45em top -0.2em, left 2.4em top -0.3em, left 4.4em top -0.3em, 75% 25%, 73% 25%, 18% 40%, 16% 40%, 45% 70%, 43% 70%, 0 0, 0 100%;
  border-radius: 50%;
}
