@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
* {
  box-sizing: border-box;
}

html {
  backface-visibility: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

.logo {
  position: relative;
  width: 375px;
  height: 375px;
  margin: 50px auto;
  border: 1px dashed transparent;
}
.logo:before, .logo:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  margin-left: 50%;
  margin-top: 50%;
  box-sizing: border-box;
}
.logo:before {
  width: 232px;
  height: 232px;
  left: -116px;
  top: -116px;
  background: #fff;
  border: 10px solid #A2D3F1;
}
.logo:after {
  width: 262px;
  height: 262px;
  top: -131px;
  left: -131px;
  background: #9E9BC4;
  z-index: -1;
}
.logo .eye {
  width: 74.5px;
  height: 74.5px;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
  border: 12px solid #9E9BC4;
  position: absolute;
  top: 130.5px;
}
.logo .eye:first-of-type {
  left: 119px;
  box-shadow: -35px 47px 0 -25px #F58D93, 3px 50px 0 -31.25px #9E9BC4;
}
.logo .eye:nth-of-type(2) {
  left: 181px;
  box-shadow: 35px 47px 0 -25px #F58D93, -5px 50px 0 -31.25px #9E9BC4;
}
.logo .eye:before, .logo .eye:after {
  content: '';
  position: absolute;
}
.logo .eye:before {
  width: 52px;
  height: 20px;
  background: #A2D3F1;
  z-index: 1;
}
.logo .eye:after {
  width: 20.5px;
  height: 20.5px;
  border-radius: 50%;
  background: #F58D93;
  left: -10.25px;
  margin-left: 50%;
  top: -10.25px;
  margin-top: 50%;
}
.logo .mouth {
  width: 66px;
  height: 33px;
  left: -33px;
  margin-left: 50%;
  top: 218px;
  position: absolute;
  overflow: hidden;
}
.logo .mouth:before {
  content: '';
  position: absolute;
  width: 66px;
  height: 66px;
  border: 12px solid #9E9BC4;
  box-sizing: border-box;
  border-radius: 50%;
  bottom: 0;
}

.pink {
  border-color: transparent transparent #F58D93 transparent;
}

.blue {
  border-color: transparent transparent #A2D3F1 transparent;
}

.purple {
  border-color: transparent transparent #9E9BC4 transparent;
}

.triangle {
  border-style: solid;
  position: absolute;
  transform-origin: center center;
}

.large {
  border-width: 0 41.25px 64px 41.25px;
  z-index: -3;
}

.small {
  border-width: 0 20.5px 23px 20.5px;
}

p {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: 'Quicksand';
  position: absolute;
  bottom: -40px;
  color: #676364;
  opacity: 0.5;
  transition: opacity 0.25s ease;
}
p:hover {
  opacity: 1;
}
p a {
  text-decoration: none;
  color: inherit;
}

.large.blue.one {
  left: -40px;
  margin-left: 50%;
}

.large.blue.two {
  left: 238px;
  top: 30px;
  transform: rotate(36deg);
}

.large.blue.three {
  left: 294px;
  top: 108px;
  transform: rotate(72deg);
}

.large.blue.four {
  left: 293px;
  top: 204px;
  transform: rotate(108deg);
}

.large.blue.five {
  left: 236px;
  top: 282px;
  transform: rotate(144deg);
}

.large.blue.six {
  left: 144px;
  top: 311px;
  transform: rotate(180deg);
}

.large.blue.seven {
  left: 54px;
  top: 282px;
  transform: rotate(216deg);
}

.large.blue.eight {
  left: -3px;
  top: 204px;
  transform: rotate(252deg);
}

.large.blue.nine {
  left: -4px;
  top: 108px;
  transform: rotate(288deg);
}

.large.blue.ten {
  left: 54px;
  top: 30px;
  transform: rotate(324deg);
}

.large.pink.one {
  left: 193px;
  top: 7px;
  transform: rotate(18deg);
}

.large.pink.two {
  left: 271px;
  top: 63px;
  transform: rotate(54deg);
}

.large.pink.three {
  left: 301px;
  top: 155px;
  transform: rotate(90deg);
}

.large.pink.four {
  left: 271px;
  top: 245px;
  transform: rotate(126deg);
}

.large.pink.five {
  left: 193px;
  top: 302px;
  transform: rotate(162deg);
}

.large.pink.six {
  left: 95px;
  top: 302px;
  transform: rotate(198deg);
}

.large.pink.seven {
  left: 18px;
  top: 245px;
  transform: rotate(234deg);
}

.large.pink.eight {
  left: -11px;
  top: 155px;
  transform: rotate(270deg);
}

.large.pink.nine {
  left: 19px;
  top: 63px;
  transform: rotate(306deg);
}

.large.pink.ten {
  left: 95px;
  top: 7px;
  transform: rotate(342deg);
}

.small.purple.one {
  left: 188px;
  top: 36px;
  transform: rotate(9deg);
}

.small.purple.two {
  left: 230px;
  top: 50px;
  transform: rotate(27deg);
}

.small.purple.three {
  left: 266px;
  top: 75px;
  transform: rotate(45deg);
}

.small.purple.four {
  left: 292px;
  top: 111px;
  transform: rotate(63deg);
}

.small.purple.five {
  left: 305px;
  top: 153px;
  transform: rotate(81deg);
}

.small.purple.six {
  left: 305px;
  top: 198px;
  transform: rotate(99deg);
}

.small.purple.seven {
  left: 292px;
  top: 239px;
  transform: rotate(117deg);
}

.small.purple.eight {
  left: 266px;
  top: 274px;
  transform: rotate(135deg);
}

.small.purple.nine {
  left: 230px;
  top: 301px;
  transform: rotate(153deg);
}

.small.purple.ten {
  left: 188px;
  top: 314px;
  transform: rotate(171deg);
}

.small.purple.eleven {
  left: 142px;
  top: 314px;
  transform: rotate(189deg);
}

.small.purple.twelve {
  left: 101px;
  top: 301px;
  transform: rotate(207deg);
}

.small.purple.thirteen {
  left: 66px;
  top: 274px;
  transform: rotate(225deg);
}

.small.purple.fourteen {
  left: 40px;
  top: 238px;
  transform: rotate(243deg);
}

.small.purple.fifteen {
  left: 27px;
  top: 198px;
  transform: rotate(261deg);
}

.small.purple.sixteen {
  left: 27px;
  top: 153px;
  transform: rotate(279deg);
}

.small.purple.seventeen {
  left: 40px;
  top: 111px;
  transform: rotate(297deg);
}

.small.purple.eighteen {
  left: 66px;
  top: 75px;
  transform: rotate(315deg);
}

.small.purple.nineteen {
  left: 100px;
  top: 50px;
  transform: rotate(333deg);
}

.small.purple.twenty {
  left: 142px;
  top: 36px;
  transform: rotate(351deg);
}

@keyframes blink {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
