body {
  background: #F40000;
}

.box {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 10%;
  height: 500px;
  width: 800px;
}

.ctrl-backdrop {
  position: absolute;
  width: 73%;
  height: 64%;
  background: #070808;
  left: 13.5%;
  top: 13%;
  border-radius: 30px;
}

.ctrl-lower {
  position: absolute;
  width: 70%;
  height: 50%;
  left: 15%;
  background: #8A919D;
  border-radius: 20px;
  margin-top: 15%;
  z-index: 1;
}

.ctrl-upper {
  position: absolute;
  width: 70%;
  height: 50%;
  left: 15%;
  background: #EAEBEE;
  border-radius: 20px;
  margin-top: 10%;
  z-index: 2;
}

.ctrl-face {
  position: absolute;
  width: 90%;
  height: 80%;
  background: #070808;
  left: 5%;
  top: 10%;
}

.d-pad-box {
  position: absolute;
  width: 25%;
  height: 65%;
  left: 5%;
  top: 17%;
}

.d-pad-vert-upper {
  position: absolute;
  width: 30%;
  height: 100%;
  background: #262B30;
  border-radius: 10px;
  left: 35%;
  z-index: 2;
}

.d-pad-horz-upper {
  position: absolute;
  width: 100%;
  height: 30%;
  background: #262B30;
  border-radius: 10px;
  top: 34.5%;
  z-index: 2;
}

.d-pad-vert-lower {
  position: absolute;
  width: 30%;
  height: 100%;
  background: #505862;
  border-radius: 10px;
  left: 35%;
  top: 5%;
  z-index: 1;
}

.d-pad-horz-lower {
  position: absolute;
  width: 100%;
  height: 30%;
  background: #505862;
  border-radius: 10px;
  top: 39%;
  z-index: 1;
}

.srt-slct-lower {
  position: absolute;
  width: 30%;
  height: 23%;
  background: #D0D5DB;
  border-radius: 7px;
  left: 35%;
  top: 60%;
  z-index: 1;
}

.srt-slct-face {
  position: absolute;
  width: 92%;
  height: 75%;
  background: #EAEBEE;
  left: 3.5%;
  top: 12%;
  z-index: 2;
}

.srt-btn {
  position: absolute;
  width: 30%;
  height: 30%;
  background: #070808;
  border-radius: 20px;
  left: 10%;
  top: 35%;
}

.slct-btn {
  position: absolute;
  width: 30%;
  height: 30%;
  background: #070808;
  border-radius: 20px;
  right: 10%;
  top: 35%;
}

.ctr-element-one {
  position: absolute;
  width: 30%;
  height: 15%;
  background: #505862;
  left: 35%;
  top: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.ctr-element-two {
  position: absolute;
  width: 30%;
  height: 15%;
  background: #505862;
  left: 35%;
  top: 20%;
  border-radius: 7px;
}

.ctr-element-three {
  position: absolute;
  width: 30%;
  height: 15%;
  background: #505862;
  left: 35%;
  top: 40%;
  border-radius: 7px;
}

.ctr-element-four {
  position: absolute;
  width: 30%;
  height: 12%;
  background: #505862;
  left: 35%;
  top: 88%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.a-b-box {
  position: absolute;
  width: 25%;
  height: 25%;
  left: 69%;
  top: 58%;
}

.a-box {
  position: absolute;
  width: 45%;
  height: 100%;
  background: #D0D5DB;
  border-radius: 12px;
  z-index: 1;
}

.a-circle-upper {
  position: absolute;
  width: 75%;
  height: 80%;
  background: #F40000;
  border-radius: 50px;
  left: 12%;
  top: -5%;
  z-index: 2;
}

.a-circle-lower {
  position: absolute;
  width: 75%;
  height: 80%;
  background: #BF0404;
  border-radius: 50px;
  left: 12%;
  top: 10%;
  z-index: 1;
}

.b-box {
  position: absolute;
  width: 45%;
  height: 100%;
  background: #D0D5DB;
  border-radius: 12px;
  left: 55%;
  z-index: 1;
}

.b-circle-upper {
  position: absolute;
  width: 75%;
  height: 80%;
  background: #F40000;
  border-radius: 50px;
  left: 12%;
  top: -5%;
  z-index: 2;
}

.b-circle-lower {
  position: absolute;
  width: 75%;
  height: 80%;
  background: #BF0404;
  border-radius: 50px;
  left: 12%;
  top: 10%;
  z-index: 1;
}
