/* $bg: #F4F3EF;
$l: #1B1718; // letters
$credit: #0d0f11; */
html {
  font-size: 16px;
  background: #0d0f11;
}

@media (max-width: 320px) {
  html {
    font-size: 6px;
  }

  .link-container {
    font-size: 12px;
  }
}
@media (min-width: 321px) {
  html {
    font-size: 6px;
  }

  .link-container {
    font-size: 12px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 10px;
  }

  .link-container {
    font-size: 12px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 2200px) {
  html {
    font-size: 18px;
  }
}
.container {
  display: grid;
  grid-template-rows: repeat(4, 9.2rem);
  grid-template-columns: repeat(4, 8.7rem);
  grid-column-gap: 1.56rem;
  grid-row-gap: 1rem;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

@font-face {
  font-family: 'plateletthin';
  src: url(https://dvfnvgxhycwzf.cloudfront.net/media/ShopDesignSplit4-shopStylesheet/value/.fqmsTnPX/ShopDesignSplit4-shopStylesheet-16594.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
.link-container {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  font-family: 'plateletthin', sans-serif;
}
.link-container .credit {
  margin-bottom: 0.5rem;
}
.link-container a {
  color: #CE3C38;
  font-weight: 600;
  text-decoration: none;
}
.link-container a:hover, .link-container a:focus {
  text-decoration: underline;
  font-weight: 900;
  color: #802220;
}

.circle {
  height: 19.6rem;
  width: 19.6rem;
  background: #e7e7e7;
  display: inline-block;
  border-radius: 50%;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.e, .s {
  height: 9.2rem;
  width: 8.3rem;
}

.a, .y {
  height: 9.2rem;
  width: 8.7rem;
}

.e {
  background: linear-gradient(32deg, rgba(255, 0, 0, 0) 34%, #e7e7e7 35%, #e7e7e7 63%, rgba(255, 0, 0, 0) 64%) 1.4rem 3.2rem/6.2rem 2.2rem, radial-gradient(100% 100% at 50% 50%, #0d0f11 50%, rgba(255, 0, 0, 0) 51%) 98% 3.66rem/2.5rem 2.5rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 49%, #e7e7e7 50%, #e7e7e7 71%, rgba(255, 0, 0, 0) 72%) 1.4rem 0rem/5.9rem 3.5rem, linear-gradient(32deg, #0d0f11 73%, rgba(255, 0, 0, 0) 74%) 4.3rem 2.1rem/3.2rem 4.2rem, radial-gradient(100% 100% at 50% 50%, #e7e7e7 50%, #0d0f11 51%) 100% 1.85rem/3.8rem 4.4rem, radial-gradient(100% 100% at 50% 50%, #0d0f11 50%, rgba(255, 0, 0, 0) 51%) 99% 6rem/2.2rem 2.2rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 41%, #e7e7e7 41.5%, #e7e7e7 60.5%, rgba(255, 0, 0, 0) 61%) 0 4.8rem/6.8rem 4.4rem, linear-gradient(#0d0f11, #0d0f11 100%) 5.4rem 6.9rem/1.4rem 1.2rem, radial-gradient(100% 200% at 50% 0%, #e7e7e7 50%, rgba(255, 0, 0, 0) 51%) 97.5% 101%/3.7rem 1.9rem, linear-gradient(#e7e7e7, #e7e7e7 100%) 0 0/1.4rem 5.6rem;
  background-repeat: no-repeat;
}

.a {
  background: linear-gradient(32deg, rgba(255, 0, 0, 0) 34%, #e7e7e7 35%, #e7e7e7 61%, rgba(255, 0, 0, 0) 62%) 1.4rem 3.2rem/6.2rem 2.2rem, radial-gradient(200% 200% at 0% 100%, #0d0f11 56%, rgba(255, 0, 0, 0) 57%) 6.079rem 3.4rem/1.2rem 1.375rem, radial-gradient(200% 215% at 0% 100%, rgba(255, 0, 0, 0) 7%, #e7e7e7 8%, #e7e7e7 49%, rgba(255, 0, 0, 0) 50%) 101.5% 2.1rem/1.9rem 1.9rem, linear-gradient(#0d0f11, #0d0f11 100%) 100% 0%/0.8rem 4rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 39%, #e7e7e7 40%, #e7e7e7 60%, rgba(255, 0, 0, 0) 61%) 1.4rem 0rem/8.3rem 3.5rem, linear-gradient(#e7e7e7, #e7e7e7 100%) 100% 100%/1.4rem 5.5rem, linear-gradient(#e7e7e7, #e7e7e7 100%) 0 0/1.4rem 5.5rem, linear-gradient(#0d0f11, #0d0f11 100%) 1.41rem 3.3rem/0.5rem 1.5rem, linear-gradient(31deg, rgba(255, 0, 0, 0) 34%, #e7e7e7 35%, #e7e7e7 59%, rgba(255, 0, 0, 0) 60%) 0.78rem 4.86rem/3.8rem 4.4rem, linear-gradient(38deg, rgba(255, 0, 0, 0) 51%, #0d0f11 52%, #0d0f11 69%, rgba(255, 0, 0, 0) 70%) 2rem 5rem/1.5rem 3rem, radial-gradient(100% 100% at 50% 50%, #0d0f11 50%, rgba(255, 0, 0, 0) 51%) 1.4rem 2.9rem/3.3rem 3.3rem, radial-gradient(100% 100% at 50% 50%, #e7e7e7 50%, #0d0f11 51%) -0.05rem 3.85rem/3.3rem 3.3rem;
  background-repeat: no-repeat;
}

.s {
  background: linear-gradient(32deg, rgba(255, 0, 0, 0) 34%, #e7e7e7 34.5%, #e7e7e7 52.5%, rgba(255, 0, 0, 0) 53%) 0 1.8rem/100% 3.9rem, radial-gradient(100% 100% at 50% 50%, #0d0f11 50%, rgba(255, 0, 0, 0) 51%) 6.55rem 7.22rem/1.28rem 1.28rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 50.5%, #e7e7e7 51%, #e7e7e7 73%, rgba(255, 0, 0, 0) 74%) 0% 5.7rem/5.5rem 3.5rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 45%, #0d0f11 46%, #0d0f11 71%, rgba(255, 0, 0, 0) 72%) 2.4rem 5.6rem/5.1rem 2.7rem, radial-gradient(100% 100% at 50% 50%, #e7e7e7 50%, rgba(255, 0, 0, 0) 51%) 99% 100%/4.07rem 4.07rem, radial-gradient(100% 100% at 50% 50%, #0d0f11 50%, rgba(255, 0, 0, 0) 51%) 98% 3.66rem/2.5rem 2.5rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 49%, #e7e7e7 50%, #e7e7e7 71%, rgba(255, 0, 0, 0) 72%) 1.4rem 0rem/5.9rem 3.5rem, linear-gradient(32deg, #0d0f11 73%, rgba(255, 0, 0, 0) 74%) 4.3rem 2.1rem/3.2rem 4.2rem, radial-gradient(100% 100% at 50% 50%, #e7e7e7 50%, #0d0f11 51%) 100% 1.8rem/3.8rem 4.4rem, linear-gradient(#e7e7e7, #e7e7e7 100%) 0% 0%/1.5rem 2.5rem;
  background-repeat: no-repeat;
}

.y {
  background: radial-gradient(100% 100% at 50% 50%, #0d0f11 50%, rgba(255, 0, 0, 0) 51.5%) 0.55rem 0.6rem/1.27rem 1.27rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 46%, #e7e7e7 47%, #e7e7e7 78%, rgba(255, 0, 0, 0) 79%) 3.1rem 0.2rem/1.6rem 3.6rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 30%, #e7e7e7 31%, #e7e7e7 64%, rgba(255, 0, 0, 0) 65%) 1.1rem 3.7rem/6.2rem 2.1rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 15%, #e7e7e7 16%, #e7e7e7 45%, #0d0f11 46%, #0d0f11 70%, rgba(255, 0, 0, 0) 71%) 0.8rem 0.7rem/3.7rem 3.9rem, radial-gradient(100% 100% at 50% 50%, #e7e7e7 50%, rgba(255, 0, 0, 0) 51.5%) 1% 0%/4.2rem 4.2rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 37%, #e7e7e7 38%, #e7e7e7 63%, rgba(255, 0, 0, 0) 64%) 0.8rem 100%/6.5rem 2.3rem, linear-gradient(32deg, rgba(255, 0, 0, 0) 15%, #e7e7e7 16%, #e7e7e7 36%, #0d0f11 37%, #0d0f11 63%, rgba(255, 0, 0, 0) 64%) 0.7rem 4.2rem/4.3rem 3rem, radial-gradient(100% 100% at 50% 50%, #0d0f11 51%, rgba(255, 0, 0, 0) 52%) 0.2rem 3.2rem/2rem 2rem, radial-gradient(100% 100% at 50% 50%, #e7e7e7 50%, rgba(255, 0, 0, 0) 51.5%) 0 3.1rem/4.1rem 4.1rem, linear-gradient(#e7e7e7, #e7e7e7 100%) 100% 100%/1.5rem 100%;
  background-repeat: no-repeat;
}
