body {
  min-height: 300px;
  height: 100vh;
  position: relative;
  background-color: #ff6347;
  text-align: center;
}
div {
  position: absolute;
  left: 50%;
  top: 50%;
}
div:before,
div:after {
  display: block;
  content: '';
  position: absolute;
}
#quick {
  width: 18em;
  height: 9em;
  margin-left: -9em;
  margin-top: -1.5em;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 50% 13em, rgba(160,82,45,0) 60%, #a0522d 60.1%), radial-gradient(ellipse at 100% 120%, transparent 65%, #703a20 65.5%), radial-gradient(ellipse at 0 120%, transparent 65%, #703a20 65.5%), radial-gradient(circle, black 50%, rgba(0,0,0,0) 51%), radial-gradient(circle, black 50%, rgba(0,0,0,0) 51%), radial-gradient(ellipse, black 50%, rgba(0,0,0,0) 52%), radial-gradient(ellipse, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 51%), radial-gradient(ellipse at 50% 20%, #f5deb3 60%, rgba(255,255,255,0) 61%), radial-gradient(circle, #daa520 50%, rgba(218,165,32,0) 51%), radial-gradient(ellipse at 50% 20%, #dc143c 60%, rgba(220,20,60,0) 61%), radial-gradient(ellipse at 50% 80%, #f5deb3 60%, rgba(255,255,255,0) 61%), radial-gradient(ellipse at 0 100%, #f5deb3 60%, rgba(255,255,255,0) 61%), radial-gradient(ellipse at 100% 100%, #f5deb3 60%, rgba(255,255,255,0) 61%), radial-gradient(ellipse at 60% 80%, #f5deb3 60%, rgba(255,255,255,0) 61%), radial-gradient(ellipse at 20% 80%, #f5deb3 60%, rgba(255,255,255,0) 61%);
  background-size: 100% 100%, 40% 80%, 40% 80%, 0.4em 0.4em, 0.4em 0.4em, 1.2em 0.8em, 2.8em 2em, 4.9em 2.5em, 1em 1em, 4em 2.5em, 4em 3em, 1.5em 2em, 1.5em 2em, 1.2em 0.6em, 1.2em 0.6em;
  background-position: 0 0, 10% 100%, 90% 100%, 45% 70%, 55% 70%, 50% 80%, 50% 87%, 50% 86%, 50% 100%, 50% 92%, 50% 100%, 42.5% 62%, 57.5% 62%, 40% 100%, 60% 100%;
  border-radius: 10em 10em 0 0;
}
#quick:before {
  width: 3em;
  height: 10em;
  left: -1em;
  top: -5.9em;
  background-color: #a0522d;
  background-image: radial-gradient(circle at 80% 0, white 30%, rgba(255,255,255,0) 30.5%);
  border-radius: 0 4em;
}
#quick:after {
  width: 8em;
  height: 6em;
  right: -1em;
  top: -3em;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse at 20% 100%, white 70%, rgba(255,255,255,0) 70.5%), radial-gradient(ellipse at 80% 100%, white 70%, rgba(255,255,255,0) 70.5%), radial-gradient(circle, black 50%, rgba(0,0,0,0) 51%), radial-gradient(circle, black 50%, rgba(0,0,0,0) 51%), radial-gradient(ellipse, black 50%, rgba(0,0,0,0) 51%), radial-gradient(ellipse at 50% 90%, #a0522d 63%, rgba(160,82,45,0) 63.5%), radial-gradient(ellipse at 0 100%, #a0522d 60%, rgba(160,82,45,0) 60.5%), radial-gradient(ellipse at 0 100%, #703a20 60%, rgba(160,82,45,0) 60.5%), radial-gradient(ellipse at 100% 100%, #a0522d 60%, rgba(160,82,45,0) 60.5%), radial-gradient(ellipse at 100% 100%, #703a20 60%, rgba(160,82,45,0) 60.5%);
  background-size: 3.5em 2.5em, 3.5em 2.5em, 0.5em 0.5em, 0.5em 0.5em, 0.8em 0.5em, 10em 4em, 2.5em 5em, 3.5em 5em, 2.5em 5em, 3.5em 5em;
  background-position: 0 100%, 100% 100%, 41% 70%, 59% 70%, 50% 95%, 50% 100%, 14% 0, 18% 0, 86% 0, 82% 0;
  border-radius: 0 0 4em 4em;
}
