:root {
    --body-color: #FDDDC8;
    --white-color: #ffffff;
    --hair-color: #FCD33D;
    --mouth-color: #8D3649;
    --tounge-color: #e9a3ad;
    --border-color: #000000;
    --blue-color: #9fc2e6;
    --off-white: #F5FFFF;
    --bg-blue: #8AABCC;
    --bg-color: #ffffff;
    --black-stripes: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    font-family: 'Chicle', cursive;
}

.text {
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
    font-size: 2rem;
    color: var(--bg-blue);
    height: 3rem;
    padding: 0.5rem;
    background: var(--white-color);
}

img,
.text,
.container,
.head, 
.eye,
.pupil,
.fringe,
.eye::before,
.eye::after,
.mouth,
.mouth::before,
.mouth::after, 
.fringe::before,
.nose,
.pony-tail,
.pony-tail::before,
.pony-tail::after,
.blue-ball,
.blue-ball::before,
.hand,
.tummy,
.stripes,
.stripes::before,
.stripes::after,
.leg,
.leg-left::before,
.leg-left::after,
.leg-right,
.leg-right::before,
.leg-right::after,
.spot,
.floor  {
    box-sizing: border-box;
    position: absolute;
}

.container {
    width: 335px;
    height: 488px;
    background: transparent;
}

.head {
    width: 218px;
    height: 191px;
    overflow: hidden;
    border: 3px solid var(--border-color);
    border-radius: 50%;
    top: 131px;
    left: 78px;
    transform: rotate(-20deg);
    background-color: var(--body-color);
    /* opacity: 0.5; */
}
.eye {
    width: 114px;
    height: 122px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    top: 32px;
    left: -5px;
    overflow: hidden;
    background: var(--off-white);
}
.eye::before {
    content: "";
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--blue-color);
   
}

.eye::after {
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--border-color);
    top: 10px;
}


.eye-left::before {
    top: 3px;
}
.eye-left::after {
    left: 9px;
}

.eye-right{
    left: 68%;
    top: 34px;
}

.eye-right::after {
    left:-20px;
    width: 80px;
    top: 12px;
    
}
.eye-right::before {    
    left: -8px;
    top: -2px;
    width: 80px;
}

.pupil {
    width: 30px;
    height: 33px;
    background-color: var(--white-color);
    border-radius: 50%;
    top: 38%;
    left: 3px;
    border: 2px solid var(--border-color);
    z-index: 5;
}
.eye-left .pupil {
    left: 37%;
    top: 37%;
    width: 33px;
}

.fringe {
    width: 190px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--hair-color);
    top: -48%;
    left: -46px;
    border: 2px solid var(--border-color);
}
.fringe-right {
    left: 51%;
}
.fringe-right::before {
    width: 20%;
    height: 20%;
    top: 86px;   
    content: "";
    background-color: var(--hair-color);
}

.mouth {
    width: 28px;
    height: 33px;
    background-color: var(--mouth-color);
    top: 117px;
    left: 113px;
    transform: rotate(20deg);
    border-radius: 50%;
    border: 2px solid var(--border-color);
    overflow: hidden;
}
.mouth::before {
    content: "";
    width: 100%;
    height: 120%;
    background-color: var(--tounge-color);
    top: 66%;
    border-radius: 50%;
    left: -20%;
}
.nose {    
    width: 24px;
    height: 28px;
    background-color: var(--body-color);
    z-index: 4;
    border-radius: 50%;
    border-bottom: 2px solid var(--border-color);
    top: 107px;
    left: 119px;
    transform: rotate(18deg);    
}

.pony-tail {
    width: 83px;
    height: 93px;
    border: 3px solid var(--border-color);
    top: 140px;
    left: 20px;
    border-radius: 110px;
    z-index: -2;
    background-color: var(--hair-color);
    transform: rotate(20deg);

}
.pony-tail::before {
    content: "";
    width: 93px;
    height: 38px;
    border: 3px solid var(--border-color);
    border-top: none;
    left: -20px;
    top: 60px;
    border-radius: 50%/ 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--hair-color);    
}
.pony-tail::after {
    content: "";
    width: 19px;
    height: 10px;
    background-color: var(--bg-color);
    border: 3px solid var(--border-color);
    border-radius:  0 0 50% 50% /  0 0 100% 100%;
    top: 58px;
    left: -18px;
    border-top: 0;
    border-left: 0;
    transform: rotate(-10deg);    
}

.tail-right {
    left: 210px;    
    top: 70px;
    transform: scale(-1, 1);
}

.blue-ball {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 3px solid var(--border-color);
    background: var(--blue-color);
    left: 60px;
}
.ball2 {
    top: 45px;
}
.hand {
    width: 35px;
    height: 48px;
    border: 3px solid var(--border-color);
    border-radius: 50%;
    top: 282px;
    left: 198px;
    transform: rotate(8deg);
    background-color: var(--body-color);
}
.right-hand {
    left: 225px;
    transform: rotate(-10deg);
    top: 278px;
}
.tummy {
    width: 62px;
    height: 80px;
    border: 3px solid var(--border-color);
    border-top-left-radius: 30% ;
    border-top-right-radius: 90%;
    background: white;
    top: 280px;
    left: 190px;     
    overflow: hidden;
    transform: rotate(15deg);
    border-bottom: none;   
    z-index: -1;
    
}
.stripes {
    height: 170px;
    width: 170px;
    border: 2px solid var(--border-color);
    border-radius: 50%;    
    background: var(--blue-color);         
    left: -60px; 
    top: -92px;
}
.stripes::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--black-stripes);
    border-radius: 50%;
    top: -8px;
}
.stripes::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: -32px;
    background: var(--blue-color) ; 
}
.leg {
    width: 38px;
    height: 120px;
    border: 3px solid var(--border-color);
    border-radius: 50% 50% 50% 50%;
}
.leg-left {
    top: 320px;
    left: 198px;
    transform: rotate(20deg);
    z-index: -3;
    background-color: var(--black-stripes);
    overflow: hidden;
}
.leg-left::before {
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--off-white);
    top: -18px;
    left: -30px;
}
.leg-left::after {
    content: "";
    width: 13px;
    height: 13px;
    /* background: var(--white-color); */
    background: var(--off-white);
    top: 80px;
    left: 13px;
    border-radius: 0 0 50% 50%;
}
.leg-right {
    width: 47px;
    height: 37px;
    border-radius: 0 0 50% 50%;
    border: 3px solid var(--border-color);
    border-top: none;
    background: var(--off-white);
    top: 340px;
    left: 158px;
    transform: rotate(-20deg);
    z-index: -3;    
   
}
.leg-right::before {
    content: "";
    width: 29px;
    height: 37px;
    border-radius: 50%;
    background: var(--black-stripes);
    top: -16px;
    left: -3px;
    transform: rotate(7deg);
    border: 3px solid var(--border-color);
    overflow: hidden;
    
}
.leg-right::after {
    content: "";
    width: 25px;
    height: 25px;
    top: 7px;
    border-radius: 50% ;
    background: var(--off-white);
}

.spot {
    width: 8px;
    height: 15px;
    background-color: var(--off-white);
    border-radius: 50% 50% 0 0;
    top: -8px;
}