.wrapper {
  width: 633px;
  height: 458px;
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 70px 12px 55px 50px 79px 143px;
  grid-template-columns: 300px 86px 150px 67px;
  background-color: black;
}

div {
  border: 3px solid black;
  background-color: white;
}

.a {
  grid-row: 1 / 6;
  grid-column: 1 / 2;
  background-color: red;
}

.b {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  background-color: yellow;
}

.c {
  grid-row: 1 / 4;
  grid-column: 3 / 4;
}

.d {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  background-color: red;
}

.e {
  grid-row: 3 / 6;
  grid-column: 2 / 3;
}

.f {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  background-color: blue;
}

.g {
  grid-row: 2 / 5;
  grid-column: 4 / 5;
}

.h {
  grid-row: 6 / 7;
  grid-column: 1 / 2;
}

.i {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  background-color: blue;
}

.j {
  grid-row: 5 / 7;
  grid-column: 3 / 5;
  background-color: yellow;
}
