@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap");
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #edeef0;
  justify-content: center;
  font-family: 'Eczar', serif;
  overflow: hidden;
}
.walkman {
  position: relative;
  width: 259px;
  height: 418px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: linear-gradient(#497496, #44607b);
  box-shadow: 0 -3px 2px -0.5px #6d90b6 inset, 3px 0 5px 2px #6a88ac inset, 0 4.5px 3px #a6d3f9 inset, 0 30px 20px -5px rgba(0,0,0,0.1), 0 65px 50px -10px rgba(0,0,0,0.05);
}
.sony {
  font-family: 'Eczar', serif;
  font-size: 30px;
  letter-spacing: 3px;
  transform: scale(1.2, 0.8);
  transform-origin: top;
  display: block;
  position: absolute;
  height: 80%;
  left: 50px;
  top: 65px;
  background: -webkit-linear-gradient(-10deg, #bacdd7 20%, #fffff9 50%, #bacdd7 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px #49647b);
}
.walkman-name-logo {
  position: absolute;
  bottom: 30px;
  left: 32px;
  display: flex;
  gap: 2px;
  transform: scale(0.8);
  filter: drop-shadow(2px 2px #49647b);
}
.walkman-name-logo .walkman-name-logo-w {
  display: flex;
}
.walkman-name-logo .walkman-name-logo-w div:last-child {
  margin-left: -4.5px;
}
.walkman-name-logo .walkman-name-logo-w .walkman-name-logo-w1 {
  width: 6px;
  height: 20px;
  border: solid #cddbe2;
  border-width: 0px 4.5px 4.5px 4.5px;
  -webkit-border-radius: 0 0 100% 100%;
  -moz-border-radius: 0 0 100% 100%;
  border-radius: 0 0 100% 100%;
}
.walkman-name-logo .walkman-name-logo-a .walkman-name-logo-a1 {
  width: 10px;
  height: 20px;
  border: solid #cddbe2;
  border-width: 4.5px 4.5px 0px 4.5px;
  -webkit-border-radius: 100% 100% 0 0;
  -moz-border-radius: 100% 100% 0 0;
  border-radius: 100% 100% 0 0;
}
.walkman-name-logo .walkman-name-logo-a .walkman-name-logo-a-circle {
  position: absolute;
  top: 8px;
  margin-left: 5.2px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #cddbe2;
}
.walkman-name-logo .walkman-name-logo-l {
  width: 10px;
  height: 20px;
  border: solid #cddbe2;
  border-width: 0 0 4.5px 4.5px;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
.walkman-name-logo .walkman-name-logo-k .walkman-name-logo-k-rect {
  width: 10px;
  height: 25px;
  border: solid #cddbe2;
  border-width: 0 0 0 5.5px;
}
.walkman-name-logo .walkman-name-logo-k .walkman-name-logo-k1 {
  position: absolute;
  top: 0px;
  margin-left: 1px;
  width: 10px;
  height: 10px;
  border: solid #cddbe2;
  border-width: 0 4.5px 4.5px 0;
  -webkit-border-radius: 0 0 80% 0;
  -moz-border-radius: 0 0 80% 0;
  border-radius: 0 0 80% 0;
}
.walkman-name-logo .walkman-name-logo-k .walkman-name-logo-k2 {
  position: absolute;
  top: 10px;
  margin-left: 1px;
  width: 10px;
  height: 10px;
  border: solid #cddbe2;
  border-width: 4.5px 4.5px 0 0;
  -webkit-border-radius: 0 80% 0 0;
  -moz-border-radius: 0 80% 0 0;
  border-radius: 0 80% 0 0;
}
.walkman-name-logo .m-rotate {
  transform: rotate(180deg);
}
.arrow-box {
  position: absolute;
  right: 80px;
  top: 227px;
  transform-style: preserve-3d;
}
.arrow-box .arrow-rect {
  width: 6px;
  height: 25px;
  border: solid #adbcce;
  border-width: 0px 3px 3px 3px;
  filter: drop-shadow(2px 2px #49647b);
}
.arrow-box .arrow-tri {
  position: absolute;
  right: 5px;
  top: -26px;
  width: 6px;
  height: 25px;
  border: solid #adbcce;
  border-width: 0px 0px 3px 3px;
  transform: skew(-20deg);
}
.arrow-box .tri-otherside {
  right: -1px;
  border: solid #adbcce;
  border-width: 0px 3px 3px 0px;
  transform: skew(20deg);
  filter: drop-shadow(2px 2px #49647b);
}
.circle {
  position: absolute;
  top: 250px;
  right: 35px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #c7d6d8;
  box-shadow: 0px -1px 1px 0px #403833 inset, 1px 1px 1px 0px #9f8c79 inset;
}
.right-btn {
  z-index: -1;
  position: absolute;
  top: 50px;
  right: -10px;
  width: 15px;
  height: 70px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: linear-gradient(90deg, #7d949d, #96abb5);
  box-shadow: -1px -1px 0px 1px #cad5da inset, 0 3px 1px #cad5da inset, 0 30px 20px -5px rgba(0,0,0,0.1), 0 65px 50px -10px rgba(0,0,0,0.05);
}
.orange-btn {
  z-index: -1;
  position: absolute;
  top: -10px;
  left: 70px;
  width: 32px;
  height: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: linear-gradient(#e2b380, #dea970);
  box-shadow: -1px -1px 0px 1px #e1aa56 inset, 0 3px 1px #e1aa56 inset, 0 30px 20px -5px rgba(0,0,0,0.1), 0 65px 50px -10px rgba(0,0,0,0.05);
}
.walkman-right-side {
  display: block;
  position: absolute;
  right: 0;
  width: 50px;
  height: 418px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  opacity: 0.75;
  background: linear-gradient(#bed2dd, #a8b3be);
  box-shadow: -2.5px -3px 4px 2px #a4bad8 inset, 0 3px 1px #d9dcf1 inset;
}
.walkman-shadow-line {
  display: block;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 208px;
  height: 6px;
  background: linear-gradient(#4f6c88, #0e1b33, #6d90b6 80%);
}
.walkman-window {
  display: block;
  position: absolute;
  opacity: 0.8;
  left: 53px;
  top: 120px;
  width: 83px;
  height: 217px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2a4b64;
  background: #0f1210;
}
.walkman-window-frame {
  position: absolute;
  width: 73px;
  height: 207px;
  left: 5px;
  top: 5px;
  opacity: 0.8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 1px -2px 4px 2px #1d201e inset, 3px 0 6px 2px #262c2d inset, 0 3px 1px #6c7d85 inset;
}
.walkman-window-dots {
  position: absolute;
  width: 73px;
  height: 207px;
  left: 5px;
  top: 5px;
  opacity: 0.5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: radial-gradient(#232625 40%, transparent 60%);
  background-size: 5px 5px;
}
.walkman-window-inner-window {
  position: absolute;
  width: 53px;
  height: 87px;
  left: 15px;
  top: 65px;
  opacity: 0.9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #c7d6d8;
  box-shadow: 1px -2px 5px 2px #6c7d85 inset;
}
.walkman-window-cassette {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 26px;
  top: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #73695c;
  box-shadow: 0px -2.5px 1px 0px #403833 inset, 2px 3px 1px 0px #9f8c79 inset;
}
.walkman-window-cassette .walkman-window-cassette-box {
  width: 30px;
  height: 30px;
  left: 26px;
  top: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  transform-origin: center;
  animation: playing 5s linear infinite;
}
.btm {
  top: 165px;
}
.walkman-window-cassette-center {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 4px;
  top: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #1f2023;
}
.walkman-window-cassette-center-inner {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 3px;
  top: 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #2e3339;
}
.walkman-window-cassette-center-inner .walkman-window-cassette-center-inner-lines:nth-child(1) {
  transform: rotate(120deg);
}
.walkman-window-cassette-center-inner .walkman-window-cassette-center-inner-lines:nth-child(2) {
  transform: rotate(240deg);
}
.walkman-window-cassette-center-inner .walkman-window-cassette-center-inner-lines:nth-child(3) {
  transform: rotate(360deg);
}
.walkman-window-cassette-center-inner-lines {
  position: absolute;
  width: 7px;
  height: 2px;
  left: 9px;
  top: 7px;
  background-color: #a0b6bf;
  transform-origin: left;
}
.walkman-window-cassette-center-inner-black {
  position: absolute;
  width: 8px;
  height: 4px;
  left: 12px;
  top: 6px;
  margin-top: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #363e3e;
  transform-origin: left;
  transform: rotate(45deg);
}
.right-top {
  width: 12px;
  left: 10px;
  top: -1px;
  transform: rotate(-45deg);
}
.left-top {
  width: 12px;
  left: 5px;
  top: 0px;
  transform: rotate(180deg);
}
@-moz-keyframes playing {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes playing {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes playing {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes playing {
  100% {
    transform: rotate(360deg);
  }
}
