* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: #fee8b8;
}

.pikachu {
  position: relative;
  height: 50vmin;
  width: 50vmin;
  background: #fdfd7d;
  border: none;
  border-radius: 10%;
  border-bottom: 2vmin solid #CCCC48;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pikachu::before {
  content: '';
  position: absolute;
  background: #494738;
  height: 10vmin;
  width: 10vmin;
  border-radius: 50%;
  top: 16vmin;
  left: 7vmin;
  box-shadow: 26vmin 0 #494738;
}

.pikachu::after {
  content: '';
  position: absolute;
  background: white;
  height: 3.5vmin;
  width: 3.5vmin;
  border-radius: 50%;
  top: 17vmin;
  left: 11vmin;
  box-shadow: 24vmin 0 white;
}

.nose-cheeks {
  position: relative;
  width: 0; 
  height: 0; 
  border-left: 2.5vmin solid transparent;
  border-right: 2.5vmin solid transparent;  
  border-top: 1.5vmin solid #494738;
  
  top: 5vmin;
}

.nose-cheeks::after {
  content: '';
  position: absolute;
  background: red;
  height: 18vmin;
  width: 10vmin;
  border-radius: 1vmin 15vmin 15vmin 1vmin;
  left: -25vmin;
}

.nose-cheeks::before {
  content: '';
  position: absolute;
  background: red;
  height: 18vmin;
  width: 10vmin;
  border-radius: 15vmin 1vmin 1vmin 15vmin;
  left: 15vmin;
}

.smile {
  position: relative;
  background: transparent;
  height: 3vmin;
  width: 7vmin;
  border-radius: 50%;
  border-bottom: 0.7vmin solid #494738;
  
  top: 6vmin;
  left: -3.3vmin;
}

.smile::after {
  content: '';
  position: absolute;
  height: 3vmin;
  width: 7vmin;
  border-radius: 50%;
  border-bottom: 0.7vmin solid #494738;
  
  left: 7vmin;
}

.pikachu:hover {
  border: none;
  transform: translatey(1vmin);
  cursor: pointer;
}