body {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(rgba(55, 186, 229, 0.6), rgba(23, 149, 191, 0.7));
  background-size: cover;
}

#title {
  color: white;
  font-family: 'lato';
  font-weight: 800;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: 'lato';
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  top: 0%;
  left: 12%;
  position: absolute;
  color: white;
}

h4 {
  font-family: 'lato';
  font-weight: 700;
  font-size: 35px;
  position: absolute;
  background: none;
  color: white;
  text-transform: uppercase;
  left: 2%;
  bottom: -10%;
  z-index: 5;
}

#w, h2 {
  font-family: 'lato';
  font-weight: 1000;
  font-size: 70px;
  color: #0062A6;
  position: absolute;
  top: 5%;
  left: 28%;
  background: transparent;
  z-index: 4;
}

#square {
  width: 350px;
  height: 520px;
  display: block;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 20%;
  margin: auto;
  background: #9D6CAE;
  z-index: 3;
}

#top-line {
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  display: block;
  margin: auto;
  height: 5%;
  position: relative;
  background: #9D6CAE;
}

#topSquare {
  width: 90%;
  display: block;
  margin: auto;
  height: 50%;
  position: relative;
  background: #282828;
  border-radius: 5%;
  z-index: 1;
}

#bottom {
  width: 100%;
  display: block;
  margin: auto;
  height: 50%;
  position: relative;
  background: none;
  border-radius: 5%;
  z-index: 1;
}

#screen {
  position: absolute;
  background: #505050;
  display: block;
  margin: auto;
  top: 12%;
  left: 15%;
  height: 70%;
  width: 70%;
  z-index: 1;
}

#power {
  border-radius: 50%;
  width: 2%;
  height: 2%;
  background: #EA212D;
  position: absolute;
  left: 7%;
  top: 20%;
}

#gameboy {
  text-transform: uppercase;
  font-style: italic;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  color: #C1C1C1;
  background: none;
  position: absolute;
  left: 32%;
  top: 82%;
}

#color {
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 800;
  font-size: 12px;
  color: #C1C1C1;
  background: none;
  position: absolute;
  left: 51%;
  top: 82%;
}

.gamefreak {
  width: 90%;
  display: block;
  margin: auto;
  z-index: 2;
  background: white;
  position: absolute;
  top: 14%;
  left: 17%;
  height: 66%;
  width: 66%;
}

#C {
  color: #E11B50;
  background: none;
}

#O {
  color: #9D6CAE;
  background: none;
}

#L {
  color: #AECF36;
  background: none;
}

#O-2 {
  color: #F5E82A;
  background: none;
}

#R {
  color: #1890B2;
  background: none;
}

#bottomSquare {
  width: 30%;
  border-radius: 50px;
  display: block;
  margin: 10px auto;
  height: 3%;
  position: relative;
  background: rgba(172, 124, 182, 0.4);
}

#select {
  cursor: pointer;
  width: 30%;
  border-radius: 30px;
  display: block;
  margin: 10px auto;
  height: 5%;
  width: 10%;
  left: 38%;
  bottom: 34%;
  position: absolute;
  background: #4F4F4F;
}

#start {
  cursor: pointer;
  width: 30%;
  border-radius: 30px;
  display: block;
  margin: 10px auto;
  height: 5%;
  width: 10%;
  left: 50%;
  bottom: 34%;
  position: absolute;
  background: #4F4F4F;
}

#buttonA {
  cursor: pointer;
  background: #4F4F4F;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  position: absolute;
  top: 2%;
  right: 7%;
  z-index: 2;
}

#buttonB {
  cursor: pointer;
  background: #4F4F4F;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
  position: absolute;
  top: 10%;
  right: 23%;
  z-index: 2;
}

#A {
  cursor: pointer;
  font-family: "lato";
  font-size: 28px;
  font-weight: 800;
  color: #3B3B3B;
  background: none;
  display: block;
  margin: auto;
  position: absolute;
  line-height: 100px;
  text-align: center;
  top: -55%;
  right: 31%;
  z-index: 3;
}

#B {
  cursor: pointer;
  font-family: "lato";
  font-size: 28px;
  font-weight: 800;
  color: #3B3B3B;
  background: none;
  display: block;
  margin: auto;
  position: absolute;
  line-height: 100px;
  text-align: center;
  top: -55%;
  right: 31%;
  z-index: 3;
}

#dpad-horizontal {
  cursor: pointer;
  background: #505050;
  height: 80px;
  width: 23px;
  left: 16%;
  top: 2%;
  z-index: 3;
  margin: auto;
  display: block;
  position: absolute;
}

#dpad-vertical {
  cursor: pointer;
  background: #505050;
  height: 23px;
  width: 80px;
  left: 8%;
  top: 12%;
  z-index: 3;
  margin: auto;
  display: block;
  position: absolute;
}
