body{
 
 /*background credit: http://lea.verou.me/css3patterns/#polka-dot*/ 
  
  /*background-color: #bbf2d1;*/
background-color:#bbf2d1;;
background-image: radial-gradient(white 15%, transparent 16%),
radial-gradient(white 15%, transparent 16%);
background-size:60px 60px;
  background-position: 0 0, 30px 30px;
}

.container{
  background-color: 71c694;
  height: 600px;
  width: 600px;
  position: relative;
  margin: 0 auto;
  top: 50px;
  z-index: -99;
}

.faceBG{
  height: 400px;
  width: 400px;
  background-color: #4c2909;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  top: 100px;
  z-index: -2;
}

.mouthBG{
  height: 200px;
  width: 230px;
  background-color: #e0b46e;
  position: relative;
  margin: 0 auto;
  top: 150px;
  border-radius: 50%;
  z-index: 0;
}

.nose{
  background-color: black;
  height: 30px;
  width: 50px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
}

.mouth{
  position: relative;
  left: -50px;
  width:500px; height:100px;  
  border:solid 5px #000;
  border-color:#000 transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
  transform: scale(0.3); 
}

.eyes{
  height: 150px;
  width: 250px;
  position: relative;
  margin: 0 auto;
  top: -280px;
  z-index: -1;
}

.leftEye{
  position: relative;
  background-color: black;
  height: 90px;
  width: 50px;
  top: 30px;
  left: 40px;
  border-radius: 50px 50px 20px 20px;

}

.leftEyeReflection{
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  left: 30px;
  top: 20px;
}

.rightEye{
  position: relative;
  background-color: black;
  height: 90px;
  width: 50px;
  top: -60px;
  left: 157px;
  border-radius: 50px 50px 20px 20px;
}

.rightEyeReflection{
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  left: 30px;
  top: 20px;
}

.ears{
  position: relative;
  height: 250px;
  width: 500px;
  margin: 0 auto;
  right: 0px;
  top: -400px;
  z-index: -5;
}

.leftEar{
  position: relative;
  height: 150px;
  width: 150px;
  top: 60px;
  left: 30px;
  background-color: #4c2909;
  border-radius: 70px 70px 30px 30px;
  transform: rotate(-30deg);
}

.leftInnerEar{
  position: relative;
  height: 150px;
  width: 150px;
  top: 10px;
  left: 0px;
  background-color: #e0b46e;
  border-radius: 70px 70px 30px 30px;
  transform: scale(0.7)
}

.rightEar{
  position: relative;
  height: 150px;
  width: 150px;
  top: -90px;
  left: 310px;
  background-color: #4c2909;
  border-radius: 70px 70px 30px 30px;
  transform: rotate(30deg);
}

.rightInnerEar{
  position: relative;
  height: 150px;
  width: 150px;
  top: 10px;
  left: 0px;
  background-color: #e0b46e;
  border-radius: 70px 70px 30px 30px;
  transform: scale(0.7);
}

.eyebrows{
  height: 200px;
  width: 500px;
  position: absolute;
  margin: 0 auto;
  left: 45px;
  top: 40px;
}

.eyebrowLeft{
  position: relative;
  width: 80px;
  height: 10px;
  top: 130px;
  left: 130px;
  background-color: #e0b46e;
  transform: rotate(-30deg);
}

.eyebrowRight{
  position: relative;
  width: 80px;
  height: 10px;
  top: 120px;
  left: 300px;
  background-color: #e0b46e;
  transform: rotate(30deg);
}



