@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
:root {
  --black: #555;
  --white: #fff;
  --grey: #dedede;
  --primary-color: #ffe6a4;
  --primary-color-dark: #ffdc80;
  --primary-color-tint: #fff4d7;
  --secondary-color: #ffeebd;
  --secondary-color-dark: #ffc724;
  --secondary-color-tint: #fffbf0;
  --accent-color: #f66a6a;
  --water-color: #a4ceff;
  --blush-color: #ff8394;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  height: 100%;
  background-color: var(--primary-color-tint);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(0deg, var(--water-color) 50%, var(--primary-color-tint) 50%);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: var(--black);
}

.psy {
  position: relative;
  animation: floaty 5s ease-in-out infinite;
}
.psy-eye {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50% 40%;
  border-bottom-left-radius: 50% 40%;
  position: absolute;
  z-index: 2;
  top: 4rem;
  height: 1.75rem;
  width: 2.5rem;
  background-color: var(--white);
  transform-origin: center 70%;
  animation: blinky 7s infinite;
}
.psy-eye::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  background-color: var(--black);
  transition: transform 0.5s ease-in-out;
}
.psy-eye-left {
  --rotate: -7deg;
  left: -0.125rem;
  transform: rotate(var(--rotate));
}
.psy-eye-right {
  --rotate: 7deg;
  right: 2.75rem;
  transform: rotate(var(--rotate));
}
.psy-blush {
  position: absolute;
  z-index: 1;
  top: 5.25rem;
  height: 1.5rem;
  width: 2.5rem;
  border-radius: 100%;
  background-color: var(--blush-color);
  opacity: 0.25;
}
.psy-blush-left {
  left: -1.5rem;
}
.psy-blush-right {
  right: 1.5rem;
}
.psy-face {
  border-top-left-radius: 50% 60%;
  border-top-right-radius: 50% 60%;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  overflow: hidden;
}
.psy-beak {
  border-top-left-radius: 40% 60%;
  border-top-right-radius: 40% 60%;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  position: absolute;
  z-index: 8;
  bottom: 1rem;
  left: 0;
  height: 2.5rem;
  width: 9rem;
  background-color: var(--secondary-color);
}
.psy-beak::before, .psy-beak::after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.psy-beak::before {
  border-top-left-radius: 50% 80%;
  border-top-right-radius: 50% 80%;
  border-bottom-right-radius: 0.5rem 0;
  border-bottom-left-radius: 0.5rem 0;
  bottom: calc(100% - 0.25rem);
  left: 30%;
  height: 1rem;
  width: 3rem;
}
.psy-beak::after {
  border-top-left-radius: 1rem 60%;
  border-top-right-radius: 1rem 60%;
  border-bottom-right-radius: 40% 40%;
  border-bottom-left-radius: 40% 40%;
  top: 50%;
  left: 0.25rem;
  width: 90%;
  height: 4rem;
}
.psy-beak-nose {
  position: absolute;
  top: 0;
  left: 30%;
  width: 3rem;
}
.psy-beak-nose::before, .psy-beak-nose::after {
  content: "";
  position: absolute;
  top: 0;
  height: 0.1875rem;
  width: 1px;
  background-color: var(--secondary-color-dark);
}
.psy-beak-nose::before {
  left: 0.75rem;
  transform: rotate(-20deg);
}
.psy-beak-nose::after {
  right: 0.75rem;
  transform: rotate(20deg);
}
.psy-hair {
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
  position: absolute;
  z-index: 1;
  bottom: calc(100% - 0.375rem);
  left: 60%;
  height: 2rem;
  width: 0.75rem;
  transform-origin: center bottom;
  transform: rotate(10deg);
  background-color: var(--black);
}
.psy-hair::before, .psy-hair::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: center bottom;
  border-radius: inherit;
  background-color: inherit;
}
.psy-hair::before {
  height: 80%;
  width: 80%;
  transform: rotate(-40deg);
}
.psy-hair::after {
  height: 90%;
  width: 75%;
  transform: rotate(60deg);
}
.psy-head {
  position: relative;
  z-index: 10;
  height: 9.5rem;
  width: 12rem;
  transition: transform 0.7s ease-in-out;
}
.psy-arm {
  border-top-left-radius: 50% 30%;
  border-top-right-radius: 50% 30%;
  border-bottom-right-radius: 0.5rem 70%;
  border-bottom-left-radius: 0.5rem 70%;
  position: absolute;
  top: 0.75rem;
  height: 3.5rem;
  width: 2rem;
  transform-origin: center 1rem;
  background-color: var(--primary-color-dark);
  transition: transform 0.4s ease-in-out;
}
.psy-arm-claw {
  left: 50%;
  top: 100%;
  transform: translateX(-50%) scaleX(1.1);
}
.psy-arm-claw, .psy-arm-claw::before, .psy-arm-claw::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.25rem 0.25rem 0 0.25rem;
  border-color: var(--primary-color-dark) transparent transparent transparent;
  position: absolute;
}
.psy-arm-claw::before, .psy-arm-claw::after {
  content: "";
  top: -0.25rem;
}
.psy-arm-claw::before {
  left: 100%;
}
.psy-arm-claw::after {
  right: 100%;
}
.psy-arm-left {
  z-index: 5;
  left: -0.75rem;
  transform: rotate(70deg);
}
.psy-arm-right {
  z-index: 11;
  right: 0.75rem;
  transform: rotate(-60deg);
}
.psy-foot {
  border-top-left-radius: 50% 30%;
  border-top-right-radius: 50% 30%;
  border-bottom-right-radius: 0.325rem 70%;
  border-bottom-left-radius: 0.325rem 70%;
  position: absolute;
  z-index: 1;
  top: calc(100% - 1rem);
  height: 2rem;
  width: 2.25rem;
  transform-origin: top center;
  background-color: var(--secondary-color);
  animation: swimKick 4s infinite ease-in-out;
}
.psy-foot-web {
  left: 50%;
  top: 100%;
  transform: translateX(-50%) scaleX(1.3);
}
.psy-foot-web, .psy-foot-web::before, .psy-foot-web::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.325rem 0.325rem 0 0.325rem;
  border-color: var(--secondary-color) transparent transparent transparent;
  position: absolute;
}
.psy-foot-web::before, .psy-foot-web::after {
  content: "";
  top: -0.325rem;
}
.psy-foot-web::before {
  left: 100%;
}
.psy-foot-web::after {
  right: 100%;
}
.psy-foot-left {
  left: 3.5rem;
  animation-delay: 1s;
}
.psy-foot-right {
  right: 2rem;
}
.psy-tube {
  position: absolute;
  bottom: 15%;
  left: 45%;
  height: var(--tube-height, 10rem);
  width: var(--tube-width, 185%);
  transform: translateX(-50%) scaleY(0.85);
  border-radius: 100%;
  border: 4.5rem solid var(--accent-color);
}
.psy-tube-front {
  z-index: 4;
  border-top-color: transparent;
}
.psy-tube-front::before, .psy-tube-front::after {
  content: "";
  position: absolute;
  background-color: var(--white);
  opacity: 0.7;
}
.psy-tube-front::before {
  right: -2rem;
  top: 1rem;
  height: 1.5rem;
  width: 1rem;
  transform: rotate(60deg);
  border-radius: 100%;
}
.psy-tube-front::after {
  top: 2.25rem;
  right: 0.75rem;
  height: 1.5rem;
  width: 40%;
  transform: rotate(-5deg);
  border-radius: 100%;
}
.psy-tube-back {
  z-index: 1;
  border-color: transparent;
  border-top-color: var(--accent-color);
}
.psy-torso {
  border-top-left-radius: 40% 60%;
  border-top-right-radius: 40% 60%;
  border-bottom-right-radius: 40% 40%;
  border-bottom-left-radius: 40% 40%;
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}
.psy-body {
  position: absolute;
  left: 1.5rem;
  top: calc(100% - 2rem);
  height: 8.5rem;
  width: 11rem;
}
.psy-thoughts {
  position: absolute;
  display: grid;
  place-items: center;
  height: 4rem;
  width: 4rem;
  transition: transform 0.1s ease-in-out;
}
.psy-thoughts::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.75rem 0.75rem 0 0.75rem;
  border-color: var(--white) transparent transparent transparent;
  content: "";
  position: absolute;
  top: 100%;
  left: 30%;
}
.psy-thoughts::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: var(--white);
  border-radius: 0.25rem;
}
.psy-thoughts-symbol {
  position: relative;
  z-index: 5;
  font-size: 2.25rem;
  font-weight: 900;
}
.psy-thoughts-1 {
  bottom: calc(100% - 0.5rem);
  left: -2.5rem;
  transform-origin: 30% bottom;
  transform: rotate(-30deg) scale(var(--thought-scale-1, 0));
}
.psy-thoughts-1::after {
  transform: perspective(0.5rem) rotateX(2deg) skew(10deg);
}
.psy-thoughts-1 .psy-thoughts-symbol {
  top: 0.25rem;
  transform: rotate(10deg);
}
.psy-thoughts-2 {
  bottom: calc(100% + 3rem);
  left: 1.5rem;
  transform: rotate(5deg) scale(var(--thought-scale-2, 0));
}
.psy-thoughts-2::before {
  top: calc(100% - 0.5rem);
}
.psy-thoughts-2::after {
  transform: perspective(0.5rem) rotateX(-3deg) skewY(5deg);
}
.psy-thoughts-2 .psy-thoughts-symbol {
  top: -0.5rem;
  transform: rotate(-5deg);
}
.psy:hover .psy-eye::before {
  transform: translateY(-0.5rem);
  transition-delay: 0.55s;
}
.psy:hover .psy-head {
  transform: rotate(12deg);
  transition-delay: 0.5s;
}
.psy:hover .psy-arm-left {
  transform: rotate(170deg) translateY(0.625rem);
}
.psy:hover .psy-arm-right {
  transform: rotate(-160deg) translateY(0.625rem);
}
.psy:hover .psy-foot {
  animation-duration: 0.5s;
}
.psy:hover .psy-foot-left {
  animation-delay: 0.125s;
}
.psy:hover .psy-thoughts {
  --thought-scale-1: 1;
  --thought-scale-2: 1;
}
.psy:hover .psy-thoughts-1 {
  transition-delay: 1.5s;
}
.psy:hover .psy-thoughts-2 {
  transition-delay: 2s;
}

.water-magic {
  position: absolute;
  z-index: 3;
  background-color: var(--water-color);
  top: 3.25rem;
  left: -50%;
  height: 100%;
  width: 200%;
  opacity: 0.7;
}
.water-ripple {
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  border-bottom-right-radius: 50% 80%;
  border-bottom-left-radius: 50% 80%;
  position: absolute;
  z-index: 3;
  top: 2.625rem;
  left: -45%;
  height: 4.5rem;
  width: 180%;
}
.water-ripple-shadow {
  transform-origin: bottom center;
  background-color: var(--water-color);
  opacity: 0.6;
  mix-blend-mode: multiply;
  animation: floatyInverse 5s ease-in-out infinite;
}
.water-ripple-highlight {
  transform-origin: top center;
  background-color: var(--white);
  opacity: 0.3;
  animation: floatyRipple 5s ease-in-out infinite;
}

@keyframes blinky {
  0%, 9%, 11%, 19%, 21%, 69%, 71%, 100% {
    transform: scaleY(1) rotate(var(--rotate));
  }
  10%, 20%, 70% {
    transform: scaleY(0) rotate(var(--rotate));
  }
}
@keyframes floaty {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
}
@keyframes floatyInverse {
  0%, 100% {
    transform: translateY(0) scaleY(1) scaleX(1);
  }
  50% {
    transform: translateY(-0.3rem) scaleY(0.9) scaleX(1.02);
  }
}
@keyframes floatyRipple {
  0%, 10% {
    transform: scale(0.6);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes swimKick {
  0%, 100% {
    transform: rotateX(0deg);
  }
  25% {
    transform: rotateX(40deg);
  }
  75% {
    transform: rotateX(-40deg);
  }
}