@import "https://www.tinydesign.co.uk/css-pixels/css-pixels/css-pixel-box-shadows.css";
body {
  width: 50vmin;
  height: 90vmin;
  margin: auto;
  position: relative;
  top: 1vmin;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(254, 254, 218, 0.5), rgba(24, 77, 119, 0.25) 30%, rgba(24, 77, 119, 0.9) 40%, #430141 90%, #0e020a), #768C96;
}
body:before {
  content: '';
  height: 1.1vmin;
  width: 1.1vmin;
  position: absolute;
  left: 0;
  top: 0;
  animation: back 2s steps(1, end) infinite;
}
body:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0 0 0 1vmin rgba(53, 7, 37, 0.25), inset 0 0 5vmin #350725, inset 0 0 0 0.5vmin rgba(14, 2, 10, 0.25), 0 0 0 100vmax #0e020a;
  border-radius: 3vmin;
  z-index: 1;
}
