article {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 0.5vmin solid;
  aspect-ratio: 1;
  overflow: hidden;
  width: 80vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:
    linear-gradient(#dff, #cef 80%, #0000 0),
    radial-gradient(circle, #c003 1%, #0000 0) 50% 50% / 33% 17%,
    radial-gradient(circle, #c002 1%, #0000 0) 36% 33% / 17% 11%,
    radial-gradient(circle, #c003 3%, #0000 0) 27% 31% / 7% 3%,
    radial-gradient(circle, #c002 3%, #0000 0) 73% 19% / 4% 9%,
    radial-gradient(circle, #cf07 3%, #0000 0) 13% 19% / 6% 7%,
    #fc7;
}

.water {
  width: 27%;
  height: 90%;
  border-radius: 150% 0 0 0 / 50% 0 0 0;
  background:
    radial-gradient(100% 120% at 110% 50%, #0000 45%, #20B2AAdd 45.25%)
    ;
  filter: 
    drop-shadow(2vmin 7vmin #00a0a0ee) 
    drop-shadow(-7vmin -0.5vmin #0bae)
    drop-shadow(-9vmin -1.5vmin #0aae)
}

.water + .water {
  transform: scaleX(-1);
  filter: 
    drop-shadow(-4.5vmin -4vmin #0bae)
    drop-shadow(-8vmin -3.5vmin #0aae)
    drop-shadow(0vmin 10vmin #00a0a0ee) 
}

.rock {
  width: 20%;
  height: 10%;
  background: darkgray;
  border-radius: 50% / 110% 100% 30% 20%;
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: -3.5vmin 1.25vmin 0 -3vmin gray
}

.bubble {
  position: absolute;
  white-space: pre-wrap;
  font-family: monospace, monospace;
  font-size: 1.6vmin;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #1e1e1e;
  color: #eee;
  padding: 1vmin 2vmin 1vmin 1vmin;
}

.bubble::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 60%;
  height: 90%;
  width: 10%;
  box-shadow: inset -1vmin 1vmin #1e1e1e;
  border-radius: 0 0 100% 0;
}

.selector {
  color: #ccb25e;
}

.property {
  color: #88dafe;
}

.value {
  color: #d88e73;
}

.person * {
  position: absolute;
  box-sizing: border-box;
}

.person {
  --hair: #554;
  --skin: #db8;
  --skin-dark: #c96;
  --cloth: #A52A2A;
  --cloth-semi: #A52A2A44;
  width: 40%;
  height: 50%;
  position: absolute;
  bottom: 23%;
  left: 50%;
  transform: translate(-50%, 0);
}

.body {
  width: 30%;
  height: 55%;
  border-radius: 100% / 200% 200% 10% 10%;
  background: 
    radial-gradient(circle at 58% 51.5%, #b70 3%, #0000 3.5%),
    repeating-linear-gradient(90deg, #0000 0 4%, var(--cloth-semi) 0 5%),
    radial-gradient(300% 100% at 50% 0, #0000 50.8%, goldenrod 51% 52%, #0000 53.2%),
    var(--cloth);
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  /* bD3C3C */
/*   box-shadow: -5vmin -3vmin 0 -3vmin #aD4C4C, 5vmin -3.75vmin 0 -3.4vmin #aD4C4C;  */
}

.arms {
  width: 80%;
  height: 30%;
  background: #00f4;
  border-radius: 10% / 100%;
  background:
    radial-gradient(35% 300% at 0 20%, #0003 10%, #0000 0),
    radial-gradient(40% 290% at 100% 18%, #0004 10%, #0000 0),
    radial-gradient(50% 150% at 50% 0, indianred 55%, #0000 0),
    radial-gradient(180% 170% at 50% -40%, var(--cloth) 0 60%, #0000 60.5%);
  -webkit-mask: radial-gradient(130% 170% at 50% -40%, #0000 44%, #000 44.25%);
  top: 24.5%;
  left: 50%;
  transform: translateX(-50%);
}

.hand {
  width: 8%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--skin);
  right: 5.5%;
  top: 24.5%;
}

.hand + .hand {
  left: 5.5%;
  top: 25%;
}

.foot {
  --x: 30%;
  width: 14%;
  height: 5%;
  background: 
    radial-gradient(at var(--x) 100%, #0000 35%, #644 0 50%, #0000 0),
    var(--skin);
  border-radius: 100% 50% 20% 20%;
  border-bottom: 0.5vmin solid #644;
  bottom: 5%;
  left: 33%;
  transform: rotate(-1deg);
}

.foot::before {
  content: "";
  position: absolute;
  right: 0;
  width: 40%;
  height: 200%;
  bottom: 80%;
  background: var(--skin);
}

.foot + .foot {
  --x: 10%;
  transform: scaleX(-1) rotate(-2deg);
  left: 55%;
}

.stick {
  width: 4%;
  height: 60%;
  background: saddlebrown;
  border-radius: 100% / 5vmin 5vmin 200% 200%;
  left: 6%;
  top: 15%;
  transform: rotate(4deg);
}

.head {
  border-radius: 50%;
  width: 21%;
  aspect-ratio: 1;
  background: 
    /* nose */
    radial-gradient( 50% 100%, var(--skin-dark) 15%, #0000 0),
    /* eyes */
    radial-gradient(#000 15%, #0000 0) 0% 45% / 50% 50% repeat-x,
    radial-gradient(100% 100% at 50% 100%, #0000 15%, var(--hair) 0 25%, #0000 0) 0% -10% / 50% 50% repeat-x,
    /* cheeks */
    radial-gradient(200% 100%, #f664 10%, #f000 20%) 0% 65% / 50% 50% repeat-x,
    /* hair */
     radial-gradient(100% 100% at 20% -20%, var(--hair) 40%, #0000 0),
    radial-gradient(100% 100% at 70% -15%, var(--hair) 40%, #0000 0),
    /* mouth */
    radial-gradient(farthest-side at 50% 0, #fffc 99%, #0000 99.9%) 50% 80% / 20% 10% no-repeat,
    /* beard */
    radial-gradient(100% 100% at 50% 100%, var(--hair) 40%, #0000 0),
    var(--skin);
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow:
    0 0 0 0.4vmin var(--hair),
    -1vmin -1.5vmin 0 -1vmin var(--hair),
    0.5vmin -1.5vmin 0 -0.75vmin var(--hair),
    -3.5vmin 0 0 -2.7vmin var(--skin),
    3.5vmin 0 0 -2.7vmin var(--skin)
}

.beard {
  width: 23%;
  height: 25%;
  background: var(--hair);
  left: 50%;
  top: 17%;
  transform: translateX(-50%);
  border-radius: 100% / 80% 80% 120% 120%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 90%, 80% 100%, 73% 90%, 57% 100%, 50% 90%, 44% 100%, 30% 90%, 20% 100%, 10% 90%, 0 100%);
}