body {
  min-height: 200px;
  height: 100vh;
  position: relative;
  background-color: #f0fff0;
}
div {
  position: absolute;
  left: 50%;
  top: 50%;
}
div:before,
div:after {
  display: block;
  content: '';
  position: absolute;
}
@media (max-width: 400px) {
  div:not(.no-scale) {
    transform: scale(0.8);
  }
}
#juicy {
  font-size: 20px;
  box-sizing: border-box;
  width: 6.2em;
  height: 7em;
  margin-left: -3.1em;
  margin-top: -3.5em;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse at 50% 100%, rgba(255,255,255,0.8) 20%, rgba(255,255,255,0) 21%), linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), radial-gradient(ellipse, rgba(255,255,255,0.8) 23%, rgba(255,255,255,0) 25%), radial-gradient(circle, #f5deb3 50%, rgba(245,222,179,0) 51%), radial-gradient(circle, #f5deb3 50%, rgba(245,222,179,0) 51%), radial-gradient(circle, #f5deb3 50%, rgba(245,222,179,0) 51%), radial-gradient(circle, #f5deb3 50%, rgba(245,222,179,0) 51%), radial-gradient(circle, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 51%), radial-gradient(circle, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 51%), radial-gradient(circle, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 51%), radial-gradient(circle, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 51%), radial-gradient(circle, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 51%), radial-gradient(circle, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 51%), linear-gradient(to top, rgba(128,128,0,0.7) 85%, #ccc 85%);
  background-size: 120% 8%, 5% 1.5%, 5% 1.5%, 80% 12%, 0.3em 0.3em, 0.3em 0.3em, 0.3em 0.3em, 0.3em 0.3em, 0.3em 0.3em, 0.3em 0.3em, 0.3em 0.3em, 0.3em 0.3em, 0.3em 0.3em, 0.3em 0.3em, 100% 100%;
  background-position: 50% 100%, 25% 100%, 74% 100%, 95% 3%, 20% 30%, 80% 45%, 72% 58%, 30% 88%, 14% 45%, 70% 30%, 30% 70%, 17% 94%, 50% 95%, 80% 90%, 0 0;
  border-radius: 1em;
  border: 0.1em solid #808000;
  box-shadow: inset 0 -1.05em 0 -0.8em rgba(0,0,0,0.15), inset 0 0.5em 0 -0.2em rgba(0,0,0,0.1), inset -0.3em 0 0 rgba(0,0,0,0.12), inset -0.7em 0 0 rgba(255,255,255,0.75), inset 0.3em 0 0 rgba(0,0,0,0.12), inset 0.7em 0 0 rgba(255,255,255,0.75);
}
#juicy:after {
  width: 1.3em;
  height: 4.5em;
  left: 2.2em;
  bottom: 0.75em;
  background-color: #9acd32;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 51%), radial-gradient(circle, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 51%), radial-gradient(circle, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 51%), radial-gradient(circle, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 51%), radial-gradient(circle, white 50%, rgba(255,255,255,0) 51%), radial-gradient(circle, white 50%, rgba(255,255,255,0) 51%), radial-gradient(circle, black 50%, rgba(0,0,0,0) 51%), radial-gradient(circle, black 50%, rgba(0,0,0,0) 51%);
  background-size: 0.3em 0.3em;
  background-position: 87% 15%, 95% 25%, 80% 60%, 90% 90%, 45% 50%, 45% 80%, 3% 20%, 5% 60%;
  border-radius: 1em;
  border: 0.1em solid #6c9023;
  box-shadow: inset 0.4em 0 0 rgba(107,142,35,0.8), inset 0.8em 0 0 rgba(107,142,35,0.5);
  transform: rotate(-15deg);
}
#juicy:before {
  box-sizing: border-box;
  width: 90%;
  height: 0.7em;
  left: 5%;
  top: -0.8em;
  background-repeat: repeat-x, no-repeat;
  background-image: linear-gradient(to right, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.25) 50%), linear-gradient(to right, #006e00 15%, #259725 15%, #259725 70%, #006400 70%, #006400 90%, #007e00 90%);
  background-size: 10% 65%, 100% 100%;
  background-position: 0 100%, 0 0;
  border-radius: 0.2em;
  box-shadow: 0 0.42em 0 -0.25em #ccc, 0 0.3em 0 -0.15em #808000;
  border: 0.1em solid #003100;
}
