html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* --- Colours --- */
body {
  margin: 0;
  background: linear-gradient(#7596a9, #a45216);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mountains--1, .mountains--2 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.mountains--1 {
  clip-path: polygon(0 35%, 7% 28%, 12% 38%, 20% 30%, 26% 34%, 37% 12%, 47% 28%, 55% 34%, 62% 20%, 70% 26%, 76% 17%, 85% 33%, 88% 29%, 94% 39%, 100% 34%, 100% 100%, 0 100%);
  background: linear-gradient(#3d5462 50%, #161e23);
}
.mountains--2 {
  clip-path: polygon(0 55%, 8% 60%, 18% 74%, 25% 69%, 31% 70%, 38% 74%, 58% 75.5%, 67% 73%, 72% 68%, 86% 68%, 93% 64%, 96% 54%, 100% 48%, 100% 100%, 0 100%);
  background: linear-gradient(#3d5462 40%, #161e23);
}

.aang {
  width: 50vmin;
  height: 90vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sign {
  width: 54%;
  height: 22%;
  position: absolute;
  top: -2.5%;
  transform: rotate(-2.5deg);
  background: linear-gradient(165deg, #d9d9d9 65%, #f2f2f2 66%);
}
.sign svg {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.head {
  width: 21.5%;
  height: 15.5%;
  border-radius: 50% / 40% 40% 60% 60%;
  position: absolute;
  top: 27%;
  left: 38.8%;
  overflow: hidden;
  background: #fedbbb;
}
.head::before, .head::after {
  content: "";
  width: 29%;
  height: 11%;
  display: block;
  position: absolute;
  border-radius: 0 0 20vmin 20vmin;
  top: 58%;
  background-color: #fff;
  box-shadow: 0 0 1vmin 0 #fff, 0 0 2vmin 0 #8efffd, 0 0 2.2vmin 0 #8efffd, 0 0 3vmin 0 #8efffd;
  z-index: 10;
}
.head::before {
  left: 13%;
  transform: rotate(25deg);
}
.head::after {
  left: 60%;
  transform: rotate(-25deg);
}
.head__arrow--top {
  width: 25%;
  height: 37%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 37.5%;
  border-radius: 25% 25% 5% 5%;
  box-shadow: 0 0 0.5vmin 0 #fff, 0 0 2vmin 0 #8efffd, 0 0 4vmin 0 #8efffd;
}
.head__arrow--top::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 4%;
  left: 0;
  border-radius: 25% 25% 5% 5%;
  background-color: #fff;
  animation: glow 3s infinite ease-in-out;
}
.head__arrow--top::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -18%;
  left: 28%;
  border-bottom: 4.5vmin solid #fff;
  border-left: 4.5vmin solid transparent;
  border-top: 4.5vmin solid transparent;
  transform: rotate(45deg);
}
.head__arrow--triangle {
  top: -2%;
  left: 44%;
  position: relative;
}
.head__arrow--triangle::before, .head__arrow--triangle::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -2.2vmin;
  left: 0;
  filter: blur(0.5vmin);
  transform: rotate(45deg);
  border-left: 5.5vmin solid transparent;
  border-top: 5.5vmin solid transparent;
  animation: glow 3s infinite ease-in-out;
}
.head__arrow--triangle::before {
  border-bottom: 5.5vmin solid #8efffd;
}
.head__arrow--triangle::after {
  border-bottom: 5.5vmin solid #fff;
}
.head__shadow {
  width: 94%;
  height: 78%;
  border-radius: 50% / 40% 40% 60% 60%;
  background-color: #d1a47b;
  position: absolute;
  bottom: 2%;
  left: 3.2%;
  animation: glow 3s infinite ease-in-out;
}

.ear__l, .ear__r, .ear__l::before, .ear__r::before {
  border-radius: 50% / 60% 60% 40% 40%;
}
.ear__l, .ear__r {
  width: 4.7%;
  height: 4.2%;
  background-color: #fedbbb;
  position: absolute;
  top: 33%;
}
.ear__l::before, .ear__r::before {
  content: "";
  width: 85%;
  height: 85%;
  display: block;
  position: absolute;
  background: #d1a47b;
  left: 0;
}
.ear__l {
  left: 35.5%;
  transform: rotate(-195deg);
}
.ear__l::before {
  left: 12%;
  background: radial-gradient(4% 4% at 20% 40%, #fedbbb 0.3vmin, transparent 0.4vmin), #d1a47b;
}
.ear__r {
  left: 59%;
  transform: rotate(195deg);
}
.ear__r::before {
  background: radial-gradient(4% 4% at 92% 38%, #fedbbb 0.3vmin, transparent 0.4vmin), #d1a47b;
}

.neck {
  width: 21%;
  height: 7.5%;
  background: linear-gradient(180deg, #a18348 25%, #a45216);
  position: absolute;
  border-radius: 22% 22% 0 0;
  top: 39.5%;
  left: 39.2%;
}
.neck::before {
  content: "";
  width: 50%;
  height: 60%;
  display: block;
  position: absolute;
  background: #d1a47b;
  top: 24%;
  left: 24%;
}

.collar__r, .collar__l {
  width: 7.2%;
  height: 6%;
  position: absolute;
  top: 40.2%;
}
.collar__r::after, .collar__l::after {
  content: "";
  width: 45%;
  height: 53%;
  display: block;
  position: absolute;
  top: 35%;
}
.collar__l {
  background: linear-gradient(26deg, #a45216 28%, #deb563 calc(28% + 1px), #deb563 68%, #ffd75e 70%, transparent calc(70% + 1px));
  left: 39.3%;
  border-radius: 0 0 0 100% / 0 0 0 60%;
}
.collar__l::after {
  left: 100%;
  background: linear-gradient(60deg, #deb563 48%, transparent 49%);
}
.collar__l::before {
  content: "";
  width: 100%;
  height: 14%;
  display: block;
  position: absolute;
  top: 84%;
  left: 94%;
  background: linear-gradient(transparent 20%, #deb563 20%);
  border-radius: 50%;
}
.collar__r {
  background: linear-gradient(-26deg, #a45216 28%, #deb563 calc(28% + 1px), #deb563 68%, #ffd75e 70%, transparent calc(70% + 1px));
  left: 52.8%;
  border-radius: 0 0 100% 0 / 0 0 60% 0;
}
.collar__r::after {
  left: -45%;
  background: linear-gradient(-58deg, #deb563 50%, transparent 51%);
}

.cloak {
  width: 58%;
  height: 35%;
  border-radius: 50% / 40% 40% 60% 60%;
  position: absolute;
  top: 29.5%;
  overflow: hidden;
}
.cloak::before, .cloak::after {
  content: "";
  width: 70%;
  height: 80%;
  display: block;
  position: absolute;
  top: 17%;
}
.cloak::before {
  left: -41%;
  background: linear-gradient(-5deg, transparent 96%, #eb6d21 96.5%), radial-gradient(2% 4% at 77% 6%, #a45216 4.6vmin, transparent 4.7vmin), linear-gradient(90deg, #a45216 80%, transparent 80.5%);
  transform: rotate(50deg);
}
.cloak::after {
  left: 69%;
  background: linear-gradient(5deg, transparent 96%, #eb6d21 96.5%), radial-gradient(2% 4% at 24% 8%, #a45216 4.6vmin, transparent 4.7vmin), linear-gradient(-90deg, #a45216 80%, transparent 80.5%);
  transform: rotate(-50deg);
}

.arm__l, .arm__r {
  width: 8%;
  height: 15%;
  position: absolute;
}
.arm__l::before, .arm__r::before {
  content: "";
  width: 115%;
  height: 55%;
  display: block;
  position: absolute;
}
.arm__l::after, .arm__r::after {
  content: "";
  width: 70%;
  height: 35%;
  display: block;
  position: absolute;
  background: #d1a47b;
  top: -23%;
  transform: rotate(-95deg);
}
.arm__l {
  top: 20.2%;
  left: 18.5%;
  transform: rotate(7deg);
  border-radius: 40% 40% 0 30% / 40% 70% 0 30%;
  background: linear-gradient(93deg, transparent 80%, #ffd75e 81%), radial-gradient(4% 1% at 50% 44%, #deb563 4vmin, transparent 4.2vmin), radial-gradient(4% 1% at 50% 36%, #a45216 4vmin, transparent 4.2vmin), #deb563;
}
.arm__l::before {
  top: 75%;
  left: 32%;
  transform: rotate(-46deg);
  box-shadow: inset 0vmin 0.5vmin 0 0 #deb563;
  border-radius: 50% 5% 20% 0 / 70% 50% 40% 0;
  background: linear-gradient(#deb563 28%, transparent 29%), radial-gradient(4% 1% at 50% 60%, transparent 4vmin, #deb563 4.2vmin), linear-gradient(90deg, transparent 60%, #a45216 61%, #a45216 83%, #eb6d21 84%), radial-gradient(4% 1% at 50% 77%, #deb563 4vmin, transparent 4.2vmin), radial-gradient(4% 1% at 50% 60%, #a45216 4vmin, transparent 4.2vmin);
}
.arm__l::after {
  border-radius: 20% 20% 10% 80% / 30% 10% 10% 90%;
  left: 0%;
  transform: rotate(-10deg);
}
.arm__r {
  top: 20.2%;
  left: 74%;
  transform: rotate(-3deg);
  border-radius: 40% 40% 30% 0 / 40% 70% 30% 0;
  background: linear-gradient(85deg, #ffd75e 18%, transparent 1%), radial-gradient(4% 1% at 50% 47%, #deb563 4vmin, transparent 4.2vmin), radial-gradient(4% 1% at 50% 39%, #a45216 4vmin, transparent 4.2vmin), #deb563;
}
.arm__r::before {
  top: 73%;
  left: -45%;
  transform: rotate(45deg);
  box-shadow: inset 0vmin 0.5vmin 0 0 #deb563;
  border-radius: 5% 50% 0 20% / 50% 70% 0 40%;
  background: linear-gradient(#deb563 28%, transparent 29%), radial-gradient(4% 1% at 50% 60%, transparent 4vmin, #deb563 4.2vmin), linear-gradient(90deg, #eb6d21 17%, #a45216 18%, #a45216 34%, transparent 35%), radial-gradient(4% 1% at 50% 77%, #deb563 4vmin, transparent 4.2vmin), radial-gradient(4% 1% at 50% 60%, #a45216 4vmin, transparent 4.2vmin);
}
.arm__r::after {
  border-radius: 20% 20% 10% 80% / 30% 10% 10% 90%;
  left: 4%;
  transform: rotate(10deg);
}

.sleeve__l, .sleeve__r {
  width: 7%;
  height: 1.4%;
  position: absolute;
}
.sleeve__l {
  top: 20.5%;
  left: 20%;
  transform: rotate(5deg);
  border-radius: 10% 10% 30% 30%;
  background: linear-gradient(80deg, transparent 9%, #deb563 12%, #deb563 80%, transparent 81%), linear-gradient(-80deg, transparent 5%, #deb563 7%, #deb563 80%, transparent 81%);
}
.sleeve__r {
  top: 21%;
  left: 73.4%;
  transform: rotate(-5deg);
  border-radius: 10% 10% 30% 30%;
  background: linear-gradient(80deg, transparent 9%, #deb563 12%, #deb563 80%, transparent 81%), linear-gradient(-80deg, transparent 5%, #deb563 7%, #deb563 80%, transparent 81%);
}

.fingers__l, .fingers__r {
  width: 7.7%;
  height: 1.5%;
  border-radius: 30% / 80%;
  background-color: #d1a47b;
  position: absolute;
}
.fingers__l::after, .fingers__r::after {
  content: "";
  width: 90%;
  height: 90%;
  display: block;
  position: absolute;
  background: #d1a47b;
  border-radius: 30% / 80%;
}
.fingers__l {
  top: 17.5%;
  left: 19.8%;
  transform: rotate(-8deg);
  box-shadow: 0vmin -1.1vmin 0 0 #d1a47b, 0.3vmin -2.2vmin 0 0 #d1a47b;
}
.fingers__l::after {
  transform: rotate(5deg);
  top: -235%;
  left: 18%;
}
.fingers__r {
  top: 17%;
  left: 72.5%;
  box-shadow: 0.3vmin -1.1vmin 0 0 #d1a47b, 0.2vmin -2.2vmin 0 0 #d1a47b;
}
.fingers__r::after {
  transform: rotate(-8deg);
  top: -235%;
  left: 5%;
}

.torso {
  width: 22%;
  height: 6%;
  background-color: #a45216;
  position: absolute;
  box-shadow: 0 0.5vmin 0 0 #a18348;
  border-radius: 0 0 30% 30%;
  top: 55.2%;
  left: 39%;
}
.torso::before {
  content: "";
  width: 120%;
  height: 220%;
  display: block;
  position: absolute;
  background: linear-gradient(#a45216 25%, #deb563 25.5%);
  position: absolute;
  border-radius: 0 0 15% 15% / 80%;
  top: -160%;
  left: -10%;
  overflow: hidden;
}
.torso::after {
  content: "";
  width: 106%;
  height: 56%;
  display: block;
  position: absolute;
  background: #deb563;
  position: absolute;
  border-radius: 50%;
  top: 22%;
  left: -3%;
}
.torso__shadow {
  width: 26.2%;
  height: 11%;
  position: absolute;
  border-radius: 0 0 48% 48%;
  top: 48.8%;
  left: 36.9%;
  overflow: hidden;
}
.torso__shadow::before, .torso__shadow::after {
  content: "";
  width: 120%;
  height: 60%;
  display: block;
  position: absolute;
  background: #a18348;
  top: 0%;
  border-radius: 50%;
}
.torso__shadow::before {
  left: -59%;
  transform: rotate(-33deg);
}
.torso__shadow::after {
  left: 37%;
  transform: rotate(33deg);
}

.leg__l, .leg__r {
  width: 9%;
  height: 24%;
  position: absolute;
  border-radius: 40% 40% 30% 30%;
  top: 70.6%;
}
.leg__l::before, .leg__r::before {
  content: "";
  width: 200%;
  height: 100%;
  display: block;
  position: absolute;
  background: #deb563;
  position: absolute;
  top: -50%;
}
.leg__l {
  left: 35.8%;
  transform: rotate(10deg);
  background: radial-gradient(1vmin 1.6vmin at 55% 95%, transparent 5.4vmin, #773225 5.5vmin), radial-gradient(1.6vmin 1vmin at 66% 99.2%, #773225 3vmin, #964a33 3.1vmin), #964a33;
}
.leg__l::before {
  left: -48%;
  border-radius: 10% 10% 30% 30% / 30% 30% 80% 30%;
  background: radial-gradient(circle at 27% -1.9%, #a18348 2.5vmin, transparent 2.6vmin), radial-gradient(1vmin 2vmin at 35% 40%, transparent 5.4vmin, #a18348 5.5vmin), #deb563;
}
.leg__r {
  left: 55.5%;
  transform: rotate(-10deg);
  background: radial-gradient(1vmin 1.6vmin at 35% 95%, transparent 5.4vmin, #773225 5.5vmin), radial-gradient(1.6vmin 1vmin at 30% 99%, #773225 3vmin, #964a33 3.1vmin), #964a33;
}
.leg__r::before {
  left: -52%;
  border-radius: 10% 10% 30% 30% / 30% 30% 30% 80%;
  background: radial-gradient(circle at 71% -2.2%, #a18348 2.5vmin, transparent 2.6vmin), linear-gradient(#deb563 60%, transparent 60.5%), linear-gradient(#deb563 60%, transparent 60.5%), radial-gradient(1vmin 2vmin at 56% 41%, transparent 5.4vmin, #a18348 5.5vmin), #deb563;
}

.shoe__l, .shoe__r {
  width: 6.8%;
  height: 3%;
  position: absolute;
  top: 93%;
  border-radius: 50%;
}
.shoe__l::before, .shoe__r::before {
  content: "";
  width: 150%;
  height: 200%;
  display: block;
  position: absolute;
  position: absolute;
  top: 60%;
  background: linear-gradient(77deg, transparent 45%, #964a33 46%, #964a33 82%, transparent 83%), linear-gradient(105deg, transparent 20%, #964a33 21%, #964a33 60%, transparent 60%);
}
.shoe__l::after, .shoe__r::after {
  content: "";
  width: 190%;
  height: 120%;
  display: block;
  position: absolute;
  background: #715339;
  background: radial-gradient(2vmin 0.5vmin at 50% 85%, #23201d 2.5vmin, transparent 2.8vmin), #715339;
  box-shadow: inset 0 -0.5vmin 0 0 #23201d;
  position: absolute;
}
.shoe__l {
  left: 33.3%;
  transform: rotate(-7deg);
  background: radial-gradient(1.6vmin 1vmin at 40% 75%, transparent 2.4vmin, #773225 2.5vmin), radial-gradient(1.6vmin 1vmin at 40% 75%, transparent 2.4vmin, #773225 2.5vmin), #964a33;
}
.shoe__l::before {
  left: -60%;
  transform: rotate(20deg);
}
.shoe__l::after {
  top: 200%;
  left: -125%;
  border-radius: 70% 50% 30% 40%;
  transform: rotate(7deg);
}
.shoe__r {
  left: 60%;
  transform: rotate(7deg);
  background: radial-gradient(1.6vmin 1vmin at 50% 75%, transparent 2.4vmin, #773225 2.5vmin), radial-gradient(1.6vmin 1vmin at 50% 75%, transparent 2.4vmin, #773225 2.5vmin), #964a33;
}
.shoe__r::before {
  left: 0%;
  transform: rotate(-20deg);
}
.shoe__r::after {
  top: 200%;
  left: 25%;
  border-radius: 50% 70% 40% 30%;
  transform: rotate(-8deg);
}

.fire--f, .fire--b {
  width: 58vmin;
  height: 58vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: radial-gradient(circle at 10% 10%, transparent 62%, rgba(142, 255, 253, 0.35) 63%);
  filter: blur(1.5vmin);
  box-shadow: 1vmin 0.5vmin 0 0 #8efffd;
  will-change: opacity, filter;
}
.fire--f {
  transform: translate3d(-50%, -30%, 0) skew(20deg);
  animation: glow 3s 1.25s infinite ease-in-out;
}
.fire--b {
  transform: translate3d(-55%, -75%, 0) rotate(115deg);
  animation: glow 3s infinite ease-in-out;
}

.circle {
  width: 75vmin;
  height: 75vmin;
  top: 50%;
  left: 50%;
  filter: blur(1.5vmin);
  transform: translate3d(-50%, -45%, 0);
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 3vmin 0 rgba(255, 255, 255, 0.1), 0 0 2vmin 0 rgba(142, 255, 253, 0.1), 0 0 5.2vmin 0 rgba(142, 255, 253, 0.1), 0 0 7vmin 0 rgba(142, 255, 253, 0.1);
  animation: glow 4s 1s infinite ease-in-out;
  overflow: hidden;
}

.vingette {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: radial-gradient(circle, transparent 60%, #000 150%);
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blur {
  0% {
    filter: blur(1.5vmin);
  }
  50% {
    filter: blur(2.5vmin);
  }
  100% {
    filter: blur(1.5vmin);
  }
}
