/* https://dribbble.com/shots/7981891-Landscape */
html, body {
  --angle: 20deg;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #003a1d;
  perspective: 1000px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 63vmin;
  height: 73vmin;
  z-index: 1;
  box-shadow: 0 0 0 100vmin #003a1d;
}

.grid {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.grid-0:hover ~ .cartoon {
  transform: rotate3d(1, 1, 0, var(--angle));
}

.grid-1:hover ~ .cartoon {
  transform: rotate3d(1, 0, 0, var(--angle));
}

.grid-2:hover ~ .cartoon {
  transform: rotate3d(1, -1, 0, var(--angle));
}

.grid-3:hover ~ .cartoon {
  transform: rotate3d(0, 1, 0, var(--angle));
}

.grid-4:hover ~ .cartoon {
  transform: rotate3d(0, 0, 0, var(--angle));
}

.grid-5:hover ~ .cartoon {
  transform: rotate3d(0, -1, 0, var(--angle));
}

.grid-6:hover ~ .cartoon {
  transform: rotate3d(-1, 1, 0, var(--angle));
}

.grid-7:hover ~ .cartoon {
  transform: rotate3d(-1, 0, 0, var(--angle));
}

.grid-8:hover ~ .cartoon {
  transform: rotate3d(-1, -1, 0, var(--angle));
}

.cartoon {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -40vmin;
  margin-left: -35vmin;
  width: 70vmin;
  height: 80vmin;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transition: transform 0.5s;
}

.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tree-layer-0 {
  transform: translate3d(0, 0, 0);
  background: #003a1d;
  clip-path: polygon(-1.00% 87.88%,2.57% 87.25%,6.86% 88.38%,6.57% 86.88%,9.43% 91.62%,11.14% 90.75%,14.43% 91.12%,15.86% 89.50%,18.86% 88.50%,21.86% 89.12%,24.00% 91.38%,25.00% 86.62%,26.00% 86.62%,25.00% 90.38%,26.14% 89.00%,27.43% 89.25%,25.14% 91.12%,28.43% 90.25%,32.14% 90.25%,36.71% 94.25%,39.29% 91.25%,40.71% 90.75%,40.71% 89.38%,37.71% 89.50%,39.00% 84.88%,38.00% 84.88%,39.29% 81.12%,38.00% 81.12%,41.14% 71.12%,43.86% 80.62%,42.86% 81.00%,44.43% 84.75%,43.43% 84.75%,44.86% 89.00%,41.43% 89.00%,41.71% 90.25%,45.71% 90.50%,47.00% 89.75%,45.57% 86.25%,47.00% 87.62%,48.57% 85.50%,47.43% 88.62%,49.14% 88.62%,53.43% 86.62%,53.57% 84.50%,51.29% 84.62%,52.43% 80.38%,51.00% 80.38%,52.71% 76.62%,51.57% 76.75%,54.57% 67.50%,57.14% 76.38%,56.14% 76.50%,58.00% 80.50%,56.86% 80.62%,58.29% 84.50%,55.29% 84.25%,55.57% 86.62%,57.43% 86.50%,61.71% 86.38%,65.29% 87.75%,69.71% 91.62%,70.29% 89.75%,74.14% 88.00%,77.86% 87.62%,78.00% 85.75%,75.00% 85.88%,76.71% 81.25%,75.71% 81.25%,77.29% 76.00%,76.14% 76.12%,79.14% 64.00%,82.71% 75.12%,81.86% 75.88%,83.14% 80.38%,82.14% 80.62%,83.57% 85.50%,80.14% 85.75%,80.14% 87.75%,82.86% 87.75%,85.71% 88.00%,87.43% 89.50%,89.43% 87.88%,91.71% 87.50%,91.71% 83.38%,86.71% 83.38%,89.00% 75.25%,87.43% 75.25%,89.57% 68.25%,88.14% 68.38%,92.71% 50.88%,97.43% 68.62%,96.00% 68.62%,98.57% 75.62%,96.43% 75.38%,98.86% 83.50%,94.43% 83.38%,94.14% 86.88%,96.14% 87.62%,97.86% 89.50%,99.00% 85.75%,101.71% 82.38%,103.00% 103.88%,-3.00% 102.88%);
}

.tree-layer-1 {
  transform: translate3d(0, 0, -20px);
  background: #004728;
  clip-path: polygon(-3.29% 92.0%,9.57% 84.62%,11.00% 79.50%,11.71% 83.88%,17.29% 84.00%,15.57% 82.50%,17.86% 83.38%,17.86% 81.38%,18.57% 83.00%,20.71% 81.75%,19.14% 84.12%,23.00% 84.25%,25.57% 75.62%,27.57% 83.88%,33.86% 82.38%,35.57% 76.25%,36.57% 81.12%,44.14% 76.38%,44.86% 73.38%,45.43% 75.25%,47.43% 74.38%,56.14% 80.12%,61.00% 81.12%,64.57% 67.75%,67.71% 81.38%,72.14% 76.00%,80.29% 75.88%,84.29% 71.50%,82.29% 67.88%,84.29% 69.62%,85.29% 67.12%,84.86% 71.12%,86.00% 69.38%,87.43% 64.25%,89.86% 70.00%,93.57% 62.75%,97.29% 66.00%,98.43% 61.25%,106.71% 85.50%,104.14% 108.38%,-4.71% 104.88%);
}

.tree-layer-2 {
  transform: translate3d(0, 0, -40px);
  background: #005738;
  clip-path: polygon(-1.00% 88.25%,1.29% 77.00%,4.57% 84.50%,5.71% 77.25%,8.14% 82.50%,10.14% 72.12%,13.14% 81.25%,14.57% 73.12%,17.29% 79.00%,18.00% 71.62%,19.43% 77.38%,20.86% 69.62%,22.57% 76.12%,22.71% 69.88%,24.43% 74.62%,25.57% 71.38%,26.57% 74.38%,27.00% 70.12%,28.00% 74.38%,28.57% 71.75%,30.43% 74.00%,31.71% 66.88%,34.71% 72.50%,36.57% 68.38%,38.14% 71.88%,40.43% 64.00%,42.43% 71.38%,45.14% 64.25%,47.43% 69.38%,50.43% 60.00%,52.71% 68.38%,53.71% 62.50%,56.14% 66.88%,56.86% 63.50%,58.00% 66.75%,60.71% 56.75%,63.29% 65.62%,64.14% 61.50%,66.14% 64.62%,66.43% 59.38%,68.00% 63.25%,70.00% 56.38%,71.86% 61.88%,74.00% 53.12%,76.00% 60.25%,77.00% 57.00%,78.14% 61.00%,81.29% 49.88%,85.00% 59.88%,85.86% 54.62%,88.00% 59.12%,89.71% 47.75%,93.00% 57.38%,95.29% 51.62%,97.00% 58.38%,100.71% 43.12%,102.57% 105.62%,-2.43% 103.75%);
}

.tree-layer-3 {
  transform: translate3d(0, 0, -60px);
  background: #3f916d;
  clip-path: polygon(-1.71% 70.00%,1.29% 76.00%,2.57% 69.75%,5.14% 76.25%,5.29% 72.12%,6.86% 74.75%,10.00% 63.88%,11.57% 72.88%,12.71% 69.88%,13.57% 71.75%,14.00% 68.00%,15.00% 69.62%,17.71% 62.25%,19.00% 67.75%,19.71% 66.25%,20.43% 68.50%,22.29% 59.88%,25.29% 68.62%,26.29% 64.38%,27.86% 67.12%,29.29% 59.00%,31.00% 62.12%,31.29% 60.00%,33.57% 65.00%,35.29% 56.88%,38.14% 62.00%,38.14% 59.00%,40.00% 60.50%,41.71% 54.25%,43.86% 58.75%,44.86% 55.62%,46.14% 59.25%,48.00% 51.00%,50.57% 57.38%,51.71% 51.75%,53.57% 55.00%,54.71% 47.50%,57.14% 55.62%,58.14% 51.25%,59.57% 54.12%,60.57% 48.50%,61.43% 52.75%,63.57% 43.62%,65.86% 52.00%,67.86% 45.62%,70.29% 51.00%,70.29% 45.62%,71.57% 49.50%,74.14% 42.00%,75.29% 47.62%,76.71% 38.88%,79.00% 46.38%,80.29% 43.38%,81.14% 47.00%,82.57% 39.25%,84.29% 45.25%,86.43% 35.12%,89.14% 43.38%,90.29% 36.88%,91.86% 45.25%,93.71% 38.38%,95.71% 41.00%,98.29% 33.38%,102.14% 49.00%,102.29% 104.00%,-2.86% 102.00%);
}

.house {
  transform: translate3d(0, 0, -80px);
  width: 10%;
  height: 61%;
  left: 41.5%;
  top: 39%;
  color: #864800;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #864800 8%, transparent 0), linear-gradient(transparent 90%, #864800 0), linear-gradient(22deg, transparent 48%, #864800 0 52%, transparent 0), linear-gradient(-22deg, transparent 48%, #864800 0 52%, transparent 0);
  background-size: 100% 100%, 100% 7%, 100% 7%, 100% 7%;
  border-right: 0.5vmin solid;
  border-left: 0.5vmin solid;
}

.house::before, 
.house::after {
  content: "";
  display: block;
  position: absolute;
}

.house::before {
  width: 150%;
  left: -25%;
  top: -6.5%;
  height: 7%;
  background: #864800;
  clip-path: polygon(0% 90%, 50% 0%, 100% 90%, 92% 90%, 92% 100%, 8% 100%, 8% 90%);
}

.house::after {
  top: 4%;
  height: 4%;
  background: red;
  width: 100%;
  left: -33%;
  border-bottom: 0.25vmin solid;
  border-top: 0.125vmin solid;
  box-sizing: border-box;
  background: linear-gradient(to right, #864800 20%, transparent 0);
  background-size: 8% 100%;
}

.tree-layer-4 {
  transform: translate3d(0, 0, -100px);
  background: #f3a100;
  clip-path: polygon(-1.43% 56.50%,1.29% 36.75%,3.29% 45.38%,4.29% 43.50%,5.71% 47.25%,7.29% 43.62%,8.86% 49.38%,9.57% 47.62%,11.00% 50.62%,11.71% 47.50%,14.00% 53.88%,15.86% 50.50%,16.71% 53.50%,18.29% 51.50%,19.14% 54.38%,21.71% 49.38%,22.29% 55.00%,23.86% 57.50%,24.43% 55.12%,25.71% 58.38%,27.43% 53.75%,28.86% 59.25%,30.29% 57.88%,31.86% 61.88%,34.43% 53.00%,35.29% 60.62%,38.71% 54.12%,41.00% 63.62%,44.56% 54.25%,46.14% 65.50%,50.57% 58.50%,54.29% 69.00%,57.86% 57.25%,60.43% 64.38%,63.86% 57.25%,65.43% 63.75%,69.14% 56.88%,73.43% 70.00%,77.29% 52.12%,79.29% 67.38%,83.14% 57.75%,83.14% 66.38%,85.57% 54.88%,87.71% 62.00%,87.71% 55.38%,90.43% 63.38%,90.86% 54.00%,96.71% 64.50%,100.14% 52.25%,105.29% 68.50%,105.14% 106.12%,-1.29% 103.12%);
}

.mountains {
  transform: translate3d(0, 0, -120px);
  background: #ffbb51;
  clip-path: polygon(-3.29% 54.38%,2.86% 39.00%,4.57% 38.12%,4.57% 36.25%,10.00% 30.50%,10.71% 26.88%,13.14% 26.00%,14.71% 22.88%,17.14% 25.12%,18.29% 27.75%,19.57% 27.75%,22.29% 22.25%,24.71% 20.62%,25.14% 17.25%,27.86% 15.00%,32.14% 19.25%,32.29% 21.62%,34.00% 23.12%,34.00% 19.62%,38.00% 13.00%,42.29% 11.25%,42.43% 7.00%,45.29% 3.25%,48.57% 0.00%,51.57% 3.00%,52.86% 5.88%,56.43% 8.00%,58.86% 13.62%,61.43% 14.75%,63.14% 17.62%,63.14% 22.75%,64.14% 21.25%,64.14% 19.75%,65.57% 19.25%,65.71% 17.38%,68.57% 14.88%,70.86% 16.25%,70.86% 18.75%,73.86% 19.88%,76.86% 25.00%,76.86% 27.38%,79.00% 28.25%,79.29% 31.88%,80.86% 29.00%,82.14% 28.12%,83.14% 25.50%,85.29% 23.38%,87.71% 26.88%,88.71% 30.88%,91.57% 32.62%,91.71% 36.12%,95.14% 38.00%,97.00% 42.00%,103.57% 45.88%,103.86% 103.88%,-2.57% 103.12%);
}

.mountains::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffe5bc;
  clip-path: polygon(-5.29% 53.6%,8.71% 53.50%,12.43% 38.00%,15.00% 36.00%,16.57% 30.00%,14.43% 21.25%,19.57% 26.75%,30.00% 41.62%,29.14% 27.25%,31.29% 25.00%,28.43% 21.00%,28.14% 17.88%,30.57% 11.75%,34.29% 22.88%,47.57% 41.38%,42.14% 23.88%,46.57% 18.25%,46.00% 10.25%,48.43% 4.12%,51.43% 1.00%,64.71% 17.50%,62.86% 22.38%,70.00% 33.00%,69.29% 28.50%,70.14% 24.12%,68.00% 17.38%,68.71% 12.12%,79.71% 23.38%,79.71% 31.62%,82.14% 36.12%,88.29% 42.25%,85.57% 32.38%,87.00% 30.25%,82.71% -6.38%,-5.86% -4.50%);
}