*,*::before, *::after{
  margin:0;
  padding:0;
  box-sizing:border-box}

  body{
    background-color: lightseagreen;
  }

.chilisHead{
    position: relative;
    background-color: rgb(236, 212, 212);
height: 27vh;
width: 30vh;
border-radius: 50% / 40%  ;
margin: 10vh;
overflow: hidden;
border-bottom: .1vh solid rgb(160, 146, 146);
}

.eyeL{
position: absolute;
width: 4vh;
height: 4vh;
background-color: black;
border-radius: 50% ;

margin-top: 13vh;
margin-left: 5vh;
box-shadow: -.1vh -.1vh 0 .3vh brown, -.3vh -.2vh .2vh .9vh white,-.8vh -.8vh 1.5vh .8vh;
}
.eyeL::after{
    content:" "; 
      position: absolute; 
      top: 1.6vh; 
      right: 3.3vh; 
      width: 1vh; 
      height: 1vh;
      border-radius: 50%;
      background-color:white;

}
.eyeL::before{
    content:" "; 
      position: absolute; 
      top: 1vh; 
      right: 5.4vh; 
      width: 1vh; 
      color: black;
      background-color:black;
      box-shadow: -.1vh -.1vh .2vh .1vh,-.1vh -.8vh .2vh .1vh,-.1vh -1.5vh .2vh .1vh ;
      transform: rotate(25deg);
    }

    
.eyeR{
position: absolute;
width: 4vh;
height: 4vh;
background-color: black;
border-radius: 50% ;

margin-top: 13vh;
margin-left: 20vh;
box-shadow: -.1vh -.1vh 0 .3vh brown, .1vh -.2vh .2vh .9vh white, .3vh -.8vh 1.5vh .8vh;
}
.eyeR::after{
    content:" "; 
      position: absolute; 
      top: 1.6vh; 
      right: 3.3vh; 
      width: 1vh; 
      height: 1vh;
      border-radius: 50%;
      background-color:white;

}
.eyeR::before{
    content:" "; 
      position: absolute; 
      top: .8vh; 
      left: 5.4vh; 
      width: 1vh; 
      color: black;
      background-color:black;
      box-shadow: -.1vh -.1vh .2vh .1vh,-.1vh -.8vh .2vh .1vh,-.1vh -1.5vh .2vh .1vh ;
      transform: rotate(-25deg)
    }


    .glassL{

position: inherit;
      top: 9.5vh; 
      right: -1.7vh; 
      width: 10vh; 
      height: 10vh;
      border-radius: 25%;
      background-color:transparent;
      border: .5vh solid black;
      z-index: 30;
      

    }

    .glassL::after{


        content:" "; 
      position: absolute; 
      top:-.5vh; 
      right: -16.5vh; 
      width: 10vh; 
      height: 10vh;
      border-radius: 25%;
      background-color:transparent;
      border: .5vh solid black;
      
      


    }

    .stick1{

        position: inherit; 
      top: 2vh; 
      right: 1.4vh; 
      width: 3.3vh; 
      height: .5vh;
      background-color:black;
      transform: rotate(20deg)

    }
    .stick1::after{
        content:" "; 
      position: absolute; 
      top:-10vh; 
      right: -29vh; 
      width: 5.5vh; 
      height: .5vh;
      background-color:black;
      transform: rotate(-30deg)


}

.stick2{

    position: inherit;
      top: 2vh; 
      right: -10.3vh; 
      width: 9vh; 
      height: 7vh;
      border-radius: 50%;
      background-color:transparent;
      border-top: .5vh solid black;
      border-left: .5vh solid transparent;
      border-right: .5vh solid transparent;


}

.stick2::after{

    content:" "; 
      position: absolute; 
      top: 5vh; 
      left: 2.2vh;
      width: 2vh; 
      height: 1vh;
      border-radius: 50%;
      background-color:transparent;
      border-top: .5vh solid rgb(202, 179, 179);
     
}

.mouth{
    position: inherit;
      top: 4vh; 
      right: -12.8vh; 
      width: 4vh; 
      height: 3vh;
      border-radius: 0 0 60% 60%;
      background-color:rgb(184, 22, 22);
      overflow: hidden;
}


.tooth{
  position: absolute;
width: 1vh;
height: 2vh;
top: -1.1vh; 
right: 1vh; 
border-radius: 25%;
background-color: white;
    }

    .tooth::after{
      content: "";
  position: absolute;
width: 1vh;
height: 2vh;
top: .1vh; 
right: 1vh; 
border-radius: 25%;
background-color: black;
    }



.chicks{
    position: absolute;

      top: 19.3vh; 
      right: 23vh; 
      width: 23vh; 
      height: 29vh;
      border-radius: 50%;
      box-shadow: -1vh -1vh 3vh 2vh rgb(238, 150, 150),  38vh 1vh 3vh 2vh rgb(238, 150, 150);

      
}
.chicks::after{
    content:" "; 
      position: absolute; 
      top: 2vh; 
      right: 3vh; 
      width: .5vh; 
      height: .5vh;
      border-radius: 50%;
      background-color:rgb(203, 134, 134);
      box-shadow: 1.5vh .5vh rgb(203, 134, 134),21.5vh .5vh rgb(203, 134, 134),19.5vh .5vh rgb(203, 134, 134),19.5vh 2vh rgb(203, 134, 134),.5vh 1.5vh rgb(203, 134, 134),2.5vh 1.5vh rgb(203, 134, 134),18vh 1.5vh rgb(203, 134, 134);
}

.hair{
position:absolute;
      top: -13vh; 
      right: -4.7vh; 
      width: 40vh; 
      height: 105vh;
      border-top: 15vh solid rgb(34, 9, 9);
      background-color:transparent;
      border-radius: 50%;
     
}

.hair::before{
position:absolute;
content: "";
      top: -2vh; 
      right: 4vh; 
      width: 31.5vh; 
      height: 95vh;
      border-top: 5vh solid rgb(34, 9, 9);
      border-left: 5vh solid transparent;
      border-right: 5vh solid transparent;


      background-color:transparent;
      border-radius: 40%;

     
}

.hair::after{
position:absolute;
content: "";
      top: -2vh; 
      right: 7vh; 
      width: 25vh; 
      height: 95vh;
      border-top: 5vh solid rgb(34, 9, 9);
      border-left: 5vh solid transparent;
      border-right: 5vh solid transparent;


      background-color:transparent;
      border-radius: 60%;

     
}


.chilisBody{
  position: relative;
  z-index: 1;
  top: 10vh;
  left: 20vh;
}

.ears{

  position: absolute;
  left: 29vh;
  top:2vh;
    background-color: rgb(236, 212, 212);
height: 5vh;
width: 3vh;
border-radius: 50% / 40%  ;
margin: 10vh;
overflow: hidden;
box-shadow: -30.6vh .1vh rgb(236, 212, 212);

}

.colitas{
position: absolute;
left: 28.8vh;
top:-4.3vh;
  background-color: transparent;
  border-top: 5vh solid  rgb(34, 9, 9);
  border-right: 2vh solid  transparent;
  border-left: 1vh solid  yellow;
  border-bottom: 1vh solid transparent;

  height: 15vh;
width: 15vh;
border-radius: 50% ;
margin: 10vh;

transform: rotate(14deg);
z-index: -2;

}
.colitas::after{
  content: "";
position: absolute;
left: -51vh;
top:-17vh;
  background-color: transparent;
  border-top: 5vh solid  rgb(34, 9, 9);
  border-right: 2vh solid  transparent;
  border-left: 1vh solid  yellow;
  border-bottom: 1vh solid transparent;

  height: 15vh;
width: 15vh;
border-radius: 50% ;
margin: 10vh;

transform: rotate(225deg);

}


.neck{

position: absolute;
left: 12.5vh;
top:14vh;
  background-color: rgb(236, 212, 212);
height: 5vh;
width: 5vh;
border-radius: 50% ;
margin: 10vh;
box-shadow: -2.5vh 2vh yellow,2vh 2vh yellow;
z-index: -1;
border-bottom: .1vh solid rgb(160, 146, 146);

}

.dress{

position: relative;
left: 17vh;
top:-15vh;

z-index: -2;
border-bottom: .1vh solid rgb(160, 146, 146);
border-radius: 2vh;

width: 0;
    height: 0;
    border-left: 8vh solid transparent;
    border-right: 8vh solid transparent;
    border-bottom: 20vh solid green;

}

.pocket{
    position: absolute;
      top: 15vh; 
      right: -5.5vh; 
      width: 3vh; 
      height: 3vh;
      border-radius: 0 0 60% 60%;
      background-color:yellow;
      transform: rotate(-12deg);

}


.topL{

  position: absolute;
left: 21vh;
top:28vh;

z-index: -2;
border-bottom: .1vh solid rgb(160, 146, 146);
border-radius: 2vh 0;

width: 0;
    height: 0;
    border-left: 1.9vh solid transparent;
    border-right: .7vh solid transparent;
    border-bottom: 8vh solid red;
    z-index: -1;
    transform: rotate(22deg);

}

.topR{

  position: absolute;
left: 26.2vh;
top:28vh;

z-index: -2;
border-bottom: .1vh solid rgb(160, 146, 146);
border-radius: 0 2vh;

width: 0;
    height: 0;
    border-left: 1.9vh solid transparent;
    border-right: .7vh solid transparent;
    border-bottom: 8vh solid red;
    z-index: -1;
    transform: rotate(335deg);

}

.arms{

  position: absolute;
  left: 19vh;
  top:28vh;
  width: 1.2vh;
    height: 10vh;
    background-color: red;
    transform: rotate(35deg);
    z-index: -1;

}

.arms::after{

  content: "";

position: absolute;
left: 7vh;
top:-7vh;
width: 1.2vh;
  height: 11vh;

  background-color: red;
  transform: rotate(1000deg);
  
  z-index: -1;



}

.legs{

position: absolute;

  z-index: -4;
left: 21vh;
    background-color: rgb(236, 212, 212);
height: 11vh;
width: 3vh;
border-bottom: 3vh solid white;

}

.legs::after{

position: absolute;
content: "";
  z-index: -4;
left: 5vh;
    background-color: rgb(236, 212, 212);
height: 11vh;
width: 3vh;
border-bottom: 3vh solid white;


}

.calzonesL{ 

  position: absolute;

top:41.3vh;
left: 20vh;
background-color: white;
height: 1.5vh;
width: 1.5vh;
border-radius: 50%;
border: .1vh solid rgb(160, 146, 146);
z-index: -3;

}
.calzonesL::before{ 

  content: "";
position: inherit;

top:-.1vh;
left: 1.4vh;
background-color: white;
height: 1.5vh;
width: 1.5vh;
border-radius: 50%;
border: .1vh solid rgb(160, 146, 146);
z-index: -3;

}
.calzonesL::after{ 

content: "";
position: absolute;

top:-.1vh;
left: 2.9vh;
background-color: white;
height: 1.5vh;
width: 1.5vh;
border-radius: 50%;
border: .1vh solid rgb(160, 146, 146);
z-index: -3;

}

.calzonesR{ 

position: absolute;

top:41.3vh;
left: 25vh;
background-color: white;
height: 1.5vh;
width: 1.5vh;
border-radius: 50%;
border: .1vh solid rgb(160, 146, 146);
z-index: -3;

}
.calzonesR::before{ 

content: "";
position: inherit;

top:-.1vh;
left: 1.4vh;
background-color: white;
height: 1.5vh;
width: 1.5vh;
border-radius: 50%;
border: .1vh solid rgb(160, 146, 146);
z-index: -3;

}
.calzonesR::after{ 

content: "";
position: absolute;

top:-.1vh;
left: 2.9vh;
background-color: white;
height: 1.5vh;
width: 1.5vh;
border-radius: 50%;
border: .1vh solid rgb(160, 146, 146);
z-index: -3;

}


.hands{

  position: absolute;
  left: 6vh;
  top:26vh;
    background-color: rgb(236, 212, 212);
height: 2vh;
width: 1.5vh;
border-radius: 50% ;
margin: 10vh;
box-shadow: 16.4vh -1.4vh rgb(236, 212, 212);

}

.shoes{
  position: absolute;
      top: 25vh; 
      right: .9vh; 
      width: 3.2vh; 
      height: 3vh;
      border-radius: 0 0 60% 60%;
      background-color:black;
      box-shadow: 5vh -.2vh;

}