.cartoon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 80vmin;
  overflow: hidden;
}


.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.b {
  border: 0.5vmin solid black;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
}

/****/
.cartoon {
  --hair: #000;
  --skin: #fca;
  --nose: #fa8;
}

.hair {
  width: 30%;
  height: 30%;
  top: 5%;
  left: 45%;
  border-radius: 100% 100% 100% 0;
  box-shadow: inset -8vmin -3.9vmin 0 8vmin var(--hair);
  
  background: transparent;
}

.hair::before {
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  top: 50%;
  left: -50%;
  background: var(--hair);
  border-radius: 50% 0% 0 0;
}

.hair::after {
  width: 40%;
  height: 120%;
  border-radius: 50%;
  top: 40%;
  left: -50%;
  background: var(--hair);
  clip-path: polygon(0% 49.5%, 100% 49.5%, 100% 100%, 0% 100%);
  border: 0.5vmin solid;
  box-sizing: border-box;
}

.face {
  width: 25%;
  height: 45%;
  background:var(--skin);
  border-radius: 0 20% 80% 90% / 100%;
  top: 30%;
  left: 37.5%;
}

.ear {
  width: 8%;
  height: 10%;
  background: var(--skin);
  top: 51%;
  left: 32%;
  transform: rotate(-6deg);
  border-right-color: transparent;
  border-left-width: 0.75vmin;
}

.ear::after {
  width: 30%;
  height: 20%;
  transform: rotate(45deg);
  border: 0.5vmin solid;
  border-radius: 20%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: 25%;
  top: 40%;
}

.ear::before {
  width: 40%;
  height: 170%;
  background: black;
  right: -30%;
  top: -45%;
  transform: rotate(7deg) skew(10deg) skewY(20deg);
  box-shadow: 0 0.25vmin var(--skin), 0 0.5vmin var(--hair);
}
.ear-back {
  left: 57%;
  transform: scaleX(-1) rotate(-10deg);
}

.nose {
  width: 30%;
  height: 30%;
  background-color: var(--skin);
  top: 45%;
  left: 53%;
  border-radius: 0% 120% 120% 120% / 90% 120% 100% 100%;
  background-image: linear-gradient(-65deg, var(--nose), transparent 75%);
  border: 0.5vmin solid;
  border-top: 0.125vmin solid var(--skin);
  border-left: 1vmin solid var(--skin);
  border-right: 0.75vmin solid;
}

.hair-back {
  width: 15%;
  height: 30%;
  background: var(--hair);
  top: 27%;
  left: 50%; 
}

.eye {
  width: 10%;
  height: 12%;
  background: black;
  top: 35%;
  left: 40%;
  box-shadow: 7vmin -0.25vmin
}

.eye::before,
.eye::after {
  width: 200%;
  height: 100%;
  border: 0.5vmin solid transparent;
  border-top: 1.5vmin solid;
  border-radius: 50%;
  top: -100%;
  left: -70%;
  transform: rotate(-15deg);
}

.eye::before {
  top: -105%;
  left: 270%;
  transform: rotate(15deg);
  border-left: 1vmin solid transparent;
}

.chin {
  width: 10%;
  height: 3%;
  background: var(--skin);
  border-radius: 0 0 40% 50%;
  border-top: 0;
  top: 73%;
  left: 46%;
  transform: rotate(-3deg);
  box-shadow: -2.7vmin -2.75vmin var(--skin);
}

.mouth {
  width: 40%;
  height: 10%;
  border-color: transparent;
  border-right-width: 0.25vmin;
  border-bottom-color: black;
  top: 72%;
  left: 40%;
  transform: rotate(15deg);
}

.neck {
  width: 12%;
  height: 10%;
  background: var(--skin);
  top: 70%;
  left: 42%;
  border-bottom: 0;
}

.tshirt {
  background: #f007;
  width: 17%;
  height: 10%;
  top: 78%;
  left: 39.8%;
  background: var(--skin);
  abackground: linear-gradient(transparent 20%, var(--skin) 0);
  border-top: 0.25vmin solid transparent;
  transform: rotate(-2deg);
  box-shadow: 0 1.5vmin #f8f8f8, 0 2vmin;
}

.jacket-1,
.jacket-2 {
  width: 14%;
  height: 17%;
  background: black;
  transform: skewY(-20deg) rotate(-10deg);
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 0 1vmin 1vmin 3vmin;
  top: 80%;
  left: 28%;
}

.jacket-2 {
  width: 13%;
  height: 15%;
  top: 81%;
  clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: scaleX(-1) skewY(-23deg) rotate(4deg);
  left: 56%;
}

.shoulder-1,
.shoulder-2 {
  width: 27.5%;
  height: 20%;
  top: 83%;
  left: 15%;
  background: #181818;
  border-radius: 85% 0 0 0;
  transform: rotate(-9deg);
}

.shoulder-2 {
  width: 20%;
  border-radius: 100% / 80% 0 0 80% 0;
  transform: scaleX(-1) rotate(-5deg) skewX(-10deg);
  left: 57%;
  top: 82%;
}

.shoulder-back {
  width: 18%;
  height: 4%;
  background: black;
  opacity: 0.9;
  top: 78.25%;
  left: 39%;
  transform: rotate(5deg);
}