*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background: #daad71;
}

.gus {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gus::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;

  box-shadow: 108px 20px #560b15, 112px 20px #560b15, 116px 20px #560b15,
    120px 20px #560b15, 124px 20px #560b15, 128px 20px #560b15,
    132px 20px #560b15, 136px 20px #560b15, 140px 20px #560b15,
    144px 20px #560b15, 148px 20px #560b15, 152px 20px #560b15,
    156px 20px #560b15, 100px 24px #50040a, 104px 24px #50040a,
    108px 24px #6f2e06, 112px 24px #6f2e06, 116px 24px #6f2e06,
    120px 24px #904704, 124px 24px #aa660a, 128px 24px #8d4504,
    132px 24px #ab6611, 136px 24px #ab6611, 140px 24px #ab6611,
    144px 24px #ab6611, 148px 24px #ab6611, 152px 24px #8f4800,
    156px 24px #6f2e00, 160px 24px #53020a, 164px 24px #53020a,
    92px 28px #570e0e, 96px 28px #570e0e, 100px 28px #712f01, 104px 28px #712f01,
    108px 28px #712f01, 112px 28px #712f01, 116px 28px #712f01,
    120px 28px #712f01, 124px 28px #712f01, 128px 28px #712f01,
    132px 28px #712f01, 136px 28px #712f01, 140px 28px #560919,
    144px 28px #560919, 148px 28px #560919, 152px 28px #752f0d,
    156px 28px #904802, 160px 28px #904802, 164px 28px #752f0d,
    168px 28px #510301, 172px 28px #510301, 88px 32px #570c13, 92px 32px #732f0a,
    96px 32px #732f0a, 100px 32px #732f0a, 104px 32px #732f0a,
    108px 32px #8f480d, 112px 32px #8f480d, 116px 32px #8f480d,
    120px 32px #8f4903, 124px 32px #722e00, 128px 32px #722e00,
    132px 32px #55080f, 136px 32px #722f06, 140px 32px #722f06,
    144px 32px #722f06, 148px 32px #722f06, 152px 32px #53000b,
    156px 32px #53000b, 160px 32px #723103, 164px 32px #8d4802,
    168px 32px #8d4802, 172px 32px #722e06, 176px 32px #5a070d,
    180px 32px #5a070d, 84px 36px #550c18, 88px 36px #550c18, 92px 36px #550c18,
    96px 36px #712f01, 100px 36px #550b11, 104px 36px #550b11,
    108px 36px #550b11, 112px 36px #55091b, 116px 36px #55091b,
    120px 36px #733008, 124px 36px #914804, 128px 36px #914804,
    132px 36px #723200, 136px 36px #530515, 140px 36px #530515,
    144px 36px #723100, 148px 36px #91490e, 152px 36px #91490e,
    156px 36px #722f00, 160px 36px #540913, 164px 36px #540913,
    168px 36px #723103, 172px 36px #8d4907, 176px 36px #8d4907,
    180px 36px #6e2c00, 184px 36px #500405, 84px 40px #550b12, 88px 40px #6f3002,
    92px 40px #6f3000, 96px 40px #6f3000, 100px 40px #6f3000, 104px 40px #6f3000,
    108px 40px #6f3000, 112px 40px #6f3000, 116px 40px #6f3000,
    120px 40px #540910, 124px 40px #540910, 128px 40px #73300f,
    132px 40px #8e4715, 136px 40px #8e4715, 140px 40px #722e05,
    144px 40px #550a19, 148px 40px #550a19, 152px 40px #713201,
    156px 40px #904904, 160px 40px #713201, 164px 40px #733107,
    168px 40px #550d06, 172px 40px #550d06, 176px 40px #732d0d,
    180px 40px #732d0d, 184px 40px #732d0d, 188px 40px #550d06,
    80px 44px #550a14, 84px 44px #550a14, 88px 44px #904700, 92px 44px #904700,
    96px 44px #904700, 100px 44px #703200, 104px 44px #703200,
    108px 44px #904714, 112px 44px #904714, 116px 44px #904714,
    120px 44px #703200, 124px 44px #703200, 128px 44px #53090a,
    132px 44px #53090a, 136px 44px #713103, 140px 44px #8c4800,
    144px 44px #712f06, 148px 44px #53070f, 152px 44px #53070f,
    156px 44px #904812, 160px 44px #904812, 164px 44px #590a0e,
    168px 44px #661923, 172px 44px #590a0e, 176px 44px #723200,
    180px 44px #8e4a0c, 184px 44px #8e4a0c, 188px 44px #580916,
    192px 44px #580916, 208px 44px #580916, 80px 48px #5b0a12, 84px 48px #8f490b,
    88px 48px #8f490b, 92px 48px #aa6403, 96px 48px #aa6403, 100px 48px #aa6403,
    104px 48px #6f3200, 108px 48px #58081a, 112px 48px #58081a,
    116px 48px #6f2d00, 120px 48px #924514, 124px 48px #ac6402,
    128px 48px #924a03, 132px 48px #722e02, 136px 48px #5a0910,
    140px 48px #5a0910, 144px 48px #732e0e, 148px 48px #732e0e,
    152px 48px #550b14, 156px 48px #732e0b, 160px 48px #ac620e,
    164px 48px #550814, 168px 48px #661923, 172px 48px #550814,
    176px 48px #550814, 180px 48px #752d03, 184px 48px #ab620b,
    188px 48px #53090c, 192px 48px #702f04, 196px 48px #530806,
    200px 48px #530806, 204px 48px #530806, 208px 48px #530806,
    76px 52px #55091a, 80px 52px #55091a, 84px 52px #55091a, 88px 52px #55091a,
    92px 52px #55091a, 96px 52px #712c00, 100px 52px #af6510, 104px 52px #914801,
    108px 52px #56040f, 112px 52px #56040f, 116px 52px #56040f,
    120px 52px #56040f, 124px 52px #56040f, 128px 52px #713103,
    132px 52px #8e4802, 136px 52px #8e4802, 140px 52px #773301,
    144px 52px #530709, 148px 52px #712e09, 152px 52px #560a13,
    156px 52px #560a13, 160px 52px #914613, 164px 52px #6e2e00,
    168px 52px #560913, 172px 52px #661923, 176px 52px #560913,
    180px 52px #560913, 184px 52px #ad6304, 188px 52px #924800,
    192px 52px #520003, 196px 52px #733204, 200px 52px #8f4908,
    204px 52px #713000, 208px 52px #520a11, 68px 56px #530a16, 72px 56px #530a16,
    76px 56px #530a16, 80px 56px #641a21, 84px 56px #641a21, 88px 56px #641a21,
    92px 56px #641a21, 96px 56px #550917, 100px 56px #723100, 104px 56px #8e4802,
    108px 56px #723100, 112px 56px #580816, 116px 56px #651925,
    120px 56px #560314, 124px 56px #560314, 128px 56px #560314,
    132px 56px #560314, 136px 56px #743001, 140px 56px #8b4a01,
    144px 56px #703000, 148px 56px #550b13, 152px 56px #702b11,
    156px 56px #550b13, 160px 56px #73310e, 164px 56px #8f4a0c,
    168px 56px #5a0a0c, 172px 56px #661923, 176px 56px #661923,
    180px 56px #5a0a0c, 184px 56px #6f2f0a, 188px 56px #aa6716,
    192px 56px #914a00, 196px 56px #560000, 200px 56px #560000,
    204px 56px #560000, 64px 60px #520006, 68px 60px #520006, 72px 60px #6f3001,
    76px 60px #590811, 80px 60px #a43b31, 84px 60px #a43b31, 88px 60px #a43b31,
    92px 60px #a43b31, 96px 60px #a43b31, 100px 60px #580008, 104px 60px #713100,
    108px 60px #8f4517, 112px 60px #560916, 116px 60px #a03d35,
    120px 60px #a03d35, 124px 60px #a03d35, 128px 60px #a03d35,
    132px 60px #641a22, 136px 60px #641a22, 140px 60px #641a22,
    144px 60px #722f0b, 148px 60px #540911, 152px 60px #712e06,
    156px 60px #550a13, 160px 60px #550a13, 164px 60px #723108,
    168px 60px #924619, 172px 60px #570715, 176px 60px #661924,
    180px 60px #560916, 184px 60px #560916, 188px 60px #6f3001,
    192px 60px #aa6405, 196px 60px #aa6405, 200px 60px #732f09,
    204px 60px #560916, 64px 64px #54000b, 68px 64px #712f0e, 72px 64px #58081a,
    76px 64px #58081a, 80px 64px #a33c32, 84px 64px #d36750, 88px 64px #d36750,
    92px 64px #d36750, 96px 64px #d36750, 100px 64px #661a1e, 104px 64px #661a1e,
    108px 64px #8d4605, 112px 64px #590915, 116px 64px #a33c3a,
    120px 64px #d6684e, 124px 64px #f78a62, 128px 64px #f78a62,
    132px 64px #d56646, 136px 64px #9e3e35, 140px 64px #651a1e,
    144px 64px #651a1e, 148px 64px #6e3103, 152px 64px #54060a,
    156px 64px #54060a, 160px 64px #661921, 164px 64px #560002,
    168px 64px #914608, 172px 64px #550005, 176px 64px #9d3f3b,
    180px 64px #6b191f, 184px 64px #55091a, 188px 64px #55091a,
    192px 64px #55091a, 196px 64px #55091a, 200px 64px #55091a,
    60px 68px #550104, 64px 68px #8d4901, 68px 68px #713001, 72px 68px #530709,
    76px 68px #9f3b2c, 80px 68px #d36750, 84px 68px #d36750, 88px 68px #d36750,
    92px 68px #f6885e, 96px 68px #f6885e, 100px 68px #9f3939, 104px 68px #580a14,
    108px 68px #732f05, 112px 68px #540001, 116px 68px #cf694d,
    120px 68px #fb9e62, 124px 68px #fb9e62, 128px 68px #fb9e62,
    132px 68px #fb9e62, 136px 68px #fb9e62, 140px 68px #f18c55,
    144px 68px #d2684f, 148px 68px #9e3c33, 152px 68px #4c0000,
    156px 68px #4c0000, 160px 68px #681a1d, 164px 68px #9e3d38,
    168px 68px #69171e, 172px 68px #69171e, 176px 68px #90440a,
    180px 68px #560b0a, 184px 68px #a03f3b, 188px 68px #a03f3b,
    192px 68px #5b0912, 196px 68px #550919, 200px 68px #550919,
    60px 72px #580a09, 64px 72px #580a09, 68px 72px #722e05, 72px 72px #5a0814,
    76px 72px #a13a2d, 80px 72px #d1684f, 84px 72px #d1684f, 88px 72px #fa9f60,
    92px 72px #fa9f60, 96px 72px #fa9f60, 100px 72px #d3694a, 104px 72px #59020d,
    108px 72px #59020d, 112px 72px #59020d, 116px 72px #fa9f60,
    120px 72px #fa9f60, 124px 72px #fa9f60, 128px 72px #fa9f60,
    132px 72px #fa9f60, 136px 72px #fa9f60, 140px 72px #f48a55,
    144px 72px #f48a55, 148px 72px #cf6a4a, 152px 72px #68110c,
    156px 72px #712100, 160px 72px #d06950, 164px 72px #67131c,
    168px 72px #580015, 172px 72px #580015, 176px 72px #580015,
    180px 72px #62151d, 184px 72px #580015, 188px 72px #580015,
    192px 72px #732e0c, 196px 72px #732e0c, 200px 72px #550c0e,
    204px 72px #550c0e, 56px 76px #520809, 60px 76px #6f2e09, 64px 76px #8c460a,
    68px 76px #560a13, 72px 76px #67151c, 76px 76px #a43a35, 80px 76px #d1694d,
    84px 76px #f18d57, 88px 76px #f18d57, 92px 76px #f18d57, 96px 76px #f18d57,
    100px 76px #d36949, 104px 76px #590814, 108px 76px #590814,
    112px 76px #d16c62, 116px 76px #faa05d, 120px 76px #faa05d,
    124px 76px #faa05d, 128px 76px #faa05d, 132px 76px #faa05d,
    136px 76px #faa05d, 140px 76px #faa05d, 144px 76px #faa05d,
    148px 76px #faa05d, 152px 76px #742f00, 156px 76px #f28c57,
    160px 76px #f28c57, 164px 76px #f28c57, 168px 76px #f28c57,
    172px 76px #f28c57, 176px 76px #cc613f, 180px 76px #cc613f,
    184px 76px #641a23, 188px 76px #641a23, 192px 76px #8d4701,
    196px 76px #712f02, 200px 76px #712f02, 204px 76px #540a10,
    56px 80px #560911, 60px 80px #8d4900, 64px 80px #742c09, 68px 80px #560916,
    72px 80px #550816, 76px 80px #681a1e, 80px 80px #d16851, 84px 80px #d16851,
    88px 80px #ff9c63, 92px 80px #ff9c63, 96px 80px #ff9c63, 100px 80px #f58969,
    104px 80px #540915, 108px 80px #540915, 112px 80px #f58a5c,
    116px 80px #faa05d, 120px 80px #faa05d, 124px 80px #faa05d,
    128px 80px #faa05d, 132px 80px #faa05d, 136px 80px #faa05d,
    140px 80px #faa05d, 144px 80px #faa05d, 148px 80px #faa05d,
    152px 80px #faa05d, 156px 80px #faa05d, 160px 80px #faa05d,
    164px 80px #faa05d, 168px 80px #faa05d, 172px 80px #faa05d,
    176px 80px #faa05d, 180px 80px #faa05d, 184px 80px #faa05d,
    188px 80px #a33f35, 192px 80px #55071b, 196px 80px #8b431d,
    200px 80px #55071b, 204px 80px #55071b, 52px 84px #530806, 56px 84px #732e0d,
    60px 84px #560918, 64px 84px #560918, 68px 84px #560918, 72px 84px #681b1c,
    76px 84px #d26753, 80px 84px #d26753, 84px 84px #fd9e5e, 88px 84px #fd9e5e,
    92px 84px #fd9e5e, 96px 84px #fd9e5e, 100px 84px #f78958, 104px 84px #f78958,
    108px 84px #f78958, 112px 84px #fd9e5e, 116px 84px #fd9e5e,
    120px 84px #fd9e5e, 124px 84px #fd9e5e, 128px 84px #fd9e5e,
    132px 84px #fd9e5e, 136px 84px #fd9e5e, 140px 84px #fd9e5e,
    144px 84px #fd9e5e, 148px 84px #fd9e5e, 152px 84px #fd9e5e,
    156px 84px #fd9e5e, 160px 84px #fd9e5e, 164px 84px #fd9e5e,
    168px 84px #fd9e5e, 172px 84px #fd9e5e, 176px 84px #fd9e5e,
    180px 84px #fd9e5e, 184px 84px #fd9e5e, 188px 84px #fd9e5e,
    192px 84px #ce6849, 196px 84px #560a12, 200px 84px #712f03,
    204px 84px #53081b, 208px 84px #53081b, 212px 84px #53081b,
    48px 88px #470000, 52px 88px #470000, 56px 88px #470000, 64px 88px #470000,
    68px 88px #470000, 72px 88px #610300, 76px 88px #d5674d, 80px 88px #d5674d,
    84px 88px #d5674d, 88px 88px #9c3f34, 92px 88px #5f0f1e, 96px 88px #5f0f1e,
    100px 88px #5f0f1e, 104px 88px #5f0f1e, 108px 88px #5f0f1e,
    112px 88px #5f0f1e, 116px 88px #f0895d, 120px 88px #f0895d,
    124px 88px #f0895d, 128px 88px #f0895d, 132px 88px #f0895d,
    136px 88px #f0895d, 140px 88px #620f15, 144px 88px #620f15,
    148px 88px #620f15, 152px 88px #620f15, 156px 88px #620f15,
    160px 88px #620f15, 164px 88px #a03c32, 168px 88px #d1694a,
    172px 88px #fb9f5f, 176px 88px #fb9f5f, 180px 88px #fb9f5f,
    184px 88px #fb9f5f, 188px 88px #fb9f5f, 192px 88px #580a11,
    196px 88px #580a11, 200px 88px #a13a34, 204px 88px #651a1d,
    208px 88px #651a1d, 212px 88px #651a1d, 216px 88px #651a1d,
    64px 92px #510009, 68px 92px #510009, 72px 92px #681b1c, 76px 92px #d26954,
    80px 92px #5d171f, 84px 92px #5d171f, 88px 92px #5d171f, 92px 92px #5d171f,
    96px 92px #5d171f, 100px 92px #5d171f, 104px 92px #9f3b2e,
    108px 92px #d26a52, 112px 92px #d26a52, 116px 92px #f8895e,
    120px 92px #f8895e, 124px 92px #f8895e, 128px 92px #f8895e,
    132px 92px #d2684b, 136px 92px #d2684b, 140px 92px #a13c32,
    144px 92px #67161e, 148px 92px #551721, 152px 92px #551721,
    156px 92px #551721, 160px 92px #551721, 164px 92px #551721,
    168px 92px #551721, 172px 92px #551721, 176px 92px #9e3e36,
    180px 92px #fb9e67, 184px 92px #fb9e67, 188px 92px #fb9e67,
    192px 92px #a53b33, 196px 92px #a53b33, 200px 92px #68191f,
    204px 92px #d0694c, 208px 92px #f79564, 212px 92px #f79564,
    216px 92px #f79564, 220px 92px #530000, 64px 96px #550a18, 68px 96px #550a18,
    72px 96px #67151b, 76px 96px #a33b35, 80px 96px #551822, 84px 96px #551822,
    88px 96px #551822, 92px 96px #6b181c, 96px 96px #a23b37, 100px 96px #a23b37,
    104px 96px #a23b37, 108px 96px #a23b37, 112px 96px #d3684d,
    116px 96px #d3684d, 120px 96px #d3684d, 124px 96px #d3684d,
    128px 96px #d3684d, 132px 96px #d3684d, 136px 96px #a23b37,
    140px 96px #a33c32, 144px 96px #a33c32, 148px 96px #a33c32,
    152px 96px #a33c32, 156px 96px #661a1e, 160px 96px #661a1e,
    164px 96px #521920, 168px 96px #521920, 172px 96px #521920,
    176px 96px #521920, 180px 96px #d26c5d, 184px 96px #ff9e6a,
    188px 96px #ff9e6a, 192px 96px #9d3d32, 196px 96px #671a1f,
    200px 96px #f38c68, 204px 96px #f38c68, 208px 96px #f38c68,
    212px 96px #f38c68, 216px 96px #f38c68, 220px 96px #d66849,
    224px 96px #68191e, 64px 100px #550b14, 68px 100px #641821,
    72px 100px #641821, 76px 100px #a13c37, 80px 100px #641a23,
    84px 100px #641a23, 88px 100px #641a23, 92px 100px #641a23,
    96px 100px #641a23, 100px 100px #641a23, 104px 100px #a03d39,
    108px 100px #d56653, 112px 100px #d56653, 116px 100px #d56653,
    120px 100px #d56653, 124px 100px #d56653, 128px 100px #d56653,
    132px 100px #d56653, 136px 100px #d56653, 140px 100px #a33c32,
    144px 100px #a33c32, 148px 100px #671819, 152px 100px #671819,
    156px 100px #671819, 160px 100px #671819, 164px 100px #671819,
    168px 100px #a03e35, 172px 100px #d2664a, 176px 100px #fe9f6a,
    180px 100px #fe9f6a, 184px 100px #fe9f6a, 188px 100px #fe9f6a,
    192px 100px #9f3d2e, 196px 100px #671b20, 200px 100px #f8a26f,
    204px 100px #f8a26f, 208px 100px #a13d2f, 212px 100px #d36954,
    216px 100px #f68963, 220px 100px #f68963, 224px 100px #651a18,
    60px 104px #580818, 64px 104px #57000c, 68px 104px #9f403f,
    72px 104px #66191e, 76px 104px #cf6953, 80px 104px #a03b37,
    84px 104px #621c1f, 88px 104px #621c1f, 92px 104px #621c1f,
    96px 104px #621c1f, 100px 104px #621c1f, 104px 104px #621c1f,
    108px 104px #d4674e, 112px 104px #d4674e, 116px 104px #d4674e,
    120px 104px #f28a56, 124px 104px #f28a56, 128px 104px #f28a56,
    132px 104px #f28a56, 136px 104px #d16851, 140px 104px #a53c2e,
    144px 104px #621c1f, 148px 104px #621c1f, 152px 104px #621c1f,
    156px 104px #621c1f, 160px 104px #621c1f, 164px 104px #621c1f,
    168px 104px #621c1f, 172px 104px #f6a068, 176px 104px #f6a068,
    180px 104px #f6a068, 184px 104px #f6a068, 188px 104px #f6a068,
    192px 104px #f6a068, 196px 104px #5c0000, 200px 104px #f6a068,
    204px 104px #9f3424, 208px 104px #fb8b62, 212px 104px #fb8b62,
    216px 104px #fb8b62, 220px 104px #f1895b, 224px 104px #67161a,
    56px 108px #520a0c, 60px 108px #520a0c, 64px 108px #520a0c,
    68px 108px #fb9f63, 72px 108px #67191d, 76px 108px #d36752,
    80px 108px #d36752, 84px 108px #591820, 88px 108px #b88fa1,
    92px 108px #531825, 96px 108px #531825, 100px 108px #b88fa1,
    104px 108px #631c20, 108px 108px #9e3b2f, 112px 108px #f28957,
    116px 108px #f28957, 120px 108px #f28957, 124px 108px #f28957,
    128px 108px #f28957, 132px 108px #f28957, 136px 108px #d4674c,
    140px 108px #591723, 144px 108px #b88fa1, 148px 108px #531921,
    152px 108px #531921, 156px 108px #b88fa1, 160px 108px #5b131b,
    164px 108px #a23e3a, 168px 108px #f7a25c, 172px 108px #f7a25c,
    176px 108px #f7a25c, 180px 108px #f7a25c, 184px 108px #f7a25c,
    188px 108px #f7a25c, 192px 108px #f7a25c, 196px 108px #cc6842,
    200px 108px #a53b31, 204px 108px #f7a25c, 208px 108px #f7a25c,
    212px 108px #a53c31, 216px 108px #fa9e65, 220px 108px #d46b4a,
    224px 108px #4d0000, 64px 112px #671b1e, 68px 112px #f99f66,
    72px 112px #661a1b, 76px 112px #d16853, 80px 112px #d16853,
    84px 112px #67171d, 88px 112px #e0d7ce, 92px 112px #884a05,
    96px 112px #e0d7ce, 100px 112px #e0d7ce, 104px 112px #b9674f,
    108px 112px #a33c2f, 112px 112px #f18a57, 116px 112px #f18a57,
    120px 112px #f18a57, 124px 112px #f18a57, 128px 112px #f18a57,
    132px 112px #f18a57, 136px 112px #f18a57, 140px 112px #d2694b,
    144px 112px #e0d7ce, 148px 112px #884a05, 152px 112px #e0d7ce,
    156px 112px #e0d7ce, 160px 112px #bb949f, 164px 112px #bd6e60,
    168px 112px #fb9f61, 172px 112px #fb9f61, 176px 112px #fb9f61,
    180px 112px #fb9f61, 184px 112px #fb9f61, 188px 112px #f89969,
    192px 112px #f89969, 196px 112px #f89969, 200px 112px #af4733,
    204px 112px #fb9e65, 208px 112px #cc6840, 212px 112px #a23d29,
    216px 112px #f89969, 220px 112px #631c1b, 64px 116px #6a1917,
    68px 116px #f38a5d, 72px 116px #a53a35, 76px 116px #d2684e,
    80px 116px #d2684e, 84px 116px #d2684e, 88px 116px #a53a32,
    92px 116px #a53a32, 96px 116px #a53a32, 100px 116px #d2674e,
    104px 116px #d2674e, 108px 116px #6a1917, 112px 116px #f28962,
    116px 116px #f28962, 120px 116px #f28962, 124px 116px #f28962,
    128px 116px #f28962, 132px 116px #f28962, 136px 116px #f28962,
    140px 116px #f28962, 144px 116px #d5674c, 148px 116px #a33c31,
    152px 116px #a33c31, 156px 116px #a33c31, 160px 116px #cc6750,
    164px 116px #fda262, 168px 116px #fda262, 172px 116px #fda262,
    176px 116px #fda262, 180px 116px #fda262, 184px 116px #fda262,
    188px 116px #fda262, 192px 116px #fda262, 196px 116px #fda262,
    200px 116px #a53d29, 204px 116px #f78761, 208px 116px #9f3521,
    212px 116px #f68a6d, 216px 116px #f68a6d, 220px 116px #621a1b,
    64px 120px #681a20, 68px 120px #9d322a, 72px 120px #d3684f,
    76px 120px #d3684f, 80px 120px #d3684f, 84px 120px #f48b54,
    88px 120px #f48b54, 92px 120px #f48b54, 96px 120px #f88962,
    100px 120px #d5674b, 104px 120px #d5674b, 108px 120px #6a181b,
    112px 120px #f8885c, 116px 120px #fba25c, 120px 120px #fba25c,
    124px 120px #fba25c, 128px 120px #fba25c, 132px 120px #fba25c,
    136px 120px #fba25c, 140px 120px #fba25c, 144px 120px #fba25c,
    148px 120px #fba25c, 152px 120px #fba25c, 156px 120px #fba25c,
    160px 120px #fba25c, 164px 120px #fba25c, 168px 120px #fba25c,
    172px 120px #fba25c, 176px 120px #fba25c, 180px 120px #fba25c,
    184px 120px #fba25c, 188px 120px #fba25c, 192px 120px #fba25c,
    196px 120px #fba25c, 200px 120px #fba25c, 204px 120px #fba25c,
    208px 120px #d26948, 212px 120px #fd9e5f, 216px 120px #5e0000,
    68px 124px #691a1c, 72px 124px #d16851, 76px 124px #d16851,
    80px 124px #faa05d, 84px 124px #faa05d, 88px 124px #faa05d,
    92px 124px #faa05d, 96px 124px #f98963, 100px 124px #d56749,
    104px 124px #722d00, 108px 124px #a13d2f, 112px 124px #f58861,
    116px 124px #f58861, 120px 124px #f8a25b, 124px 124px #f8a25b,
    128px 124px #f8a25b, 132px 124px #f8a25b, 136px 124px #f18b55,
    140px 124px #f18b55, 144px 124px #faa05d, 148px 124px #faa05d,
    152px 124px #faa05d, 156px 124px #faa05d, 160px 124px #faa05d,
    164px 124px #faa05d, 168px 124px #faa05d, 172px 124px #faa05d,
    176px 124px #faa05d, 180px 124px #faa05d, 184px 124px #faa05d,
    188px 124px #faa05d, 192px 124px #faa05d, 196px 124px #faa05d,
    200px 124px #faa05d, 204px 124px #f9a05e, 208px 124px #f9a05e,
    212px 124px #f28b58, 216px 124px #a13d31, 64px 128px #681b1e,
    68px 128px #a43c2f, 72px 128px #d3684b, 76px 128px #f58a5c,
    80px 128px #f58a5c, 84px 128px #f58a5c, 88px 128px #f58a5c,
    92px 128px #f58a5c, 96px 128px #d26850, 100px 128px #d26850,
    104px 128px #722f01, 108px 128px #d16948, 112px 128px #faa05e,
    116px 128px #faa05e, 120px 128px #faa05e, 124px 128px #faa05e,
    128px 128px #faa05e, 132px 128px #faa05e, 136px 128px #faa05e,
    140px 128px #d0694c, 144px 128px #d0694c, 148px 128px #faa05d,
    152px 128px #faa05d, 156px 128px #faa05d, 160px 128px #faa05d,
    164px 128px #faa05d, 168px 128px #faa05d, 172px 128px #faa05d,
    176px 128px #faa05d, 180px 128px #faa05d, 184px 128px #faa05d,
    188px 128px #faa05d, 192px 128px #faa05d, 196px 128px #faa05d,
    200px 128px #faa05d, 204px 128px #faa05d, 208px 128px #faa05d,
    212px 128px #d2664e, 216px 128px #b04935, 64px 132px #67171b,
    68px 132px #d46b52, 72px 132px #d46b52, 76px 132px #f48a59,
    80px 132px #f48a59, 84px 132px #f48a59, 88px 132px #f48a59,
    92px 132px #f48a59, 96px 132px #d1684e, 100px 132px #d1684e,
    104px 132px #702400, 108px 132px #d16948, 112px 132px #faa05d,
    116px 132px #faa05d, 120px 132px #faa05d, 124px 132px #faa05d,
    128px 132px #faa05d, 132px 132px #faa05d, 136px 132px #faa05d,
    140px 132px #faa05d, 144px 132px #a43a2b, 148px 132px #faa05d,
    152px 132px #faa05d, 156px 132px #faa05d, 160px 132px #faa05d,
    164px 132px #faa05d, 168px 132px #faa05d, 172px 132px #722f00,
    176px 132px #faa05d, 180px 132px #faa05d, 184px 132px #faa05d,
    188px 132px #faa05d, 192px 132px #faa05d, 196px 132px #ce6542,
    200px 132px #fba05d, 204px 132px #fba05d, 208px 132px #faa05d,
    212px 132px #9f3e32, 64px 136px #64191b, 68px 136px #d26751,
    72px 136px #d26751, 76px 136px #d26751, 80px 136px #f7885a,
    84px 136px #f7885a, 88px 136px #f7885a, 92px 136px #ce6d49,
    96px 136px #713000, 100px 136px #713000, 104px 136px #713000,
    108px 136px #a43c32, 112px 136px #d26149, 116px 136px #f38a58,
    120px 136px #f38a58, 124px 136px #f38a58, 128px 136px #f38a58,
    132px 136px #f38a58, 136px 136px #f38a58, 140px 136px #cb6941,
    144px 136px #a1382b, 148px 136px #661a00, 152px 136px #661a00,
    156px 136px #661a00, 160px 136px #cc6544, 164px 136px #fba05c,
    168px 136px #fba05c, 172px 136px #fba05c, 176px 136px #671700,
    180px 136px #faa15c, 184px 136px #faa15c, 188px 136px #faa15c,
    192px 136px #faa15c, 196px 136px #faa15c, 200px 136px #d06851,
    204px 136px #a13c34, 208px 136px #a13c34, 64px 140px #651a1c,
    68px 140px #d16850, 72px 140px #d16850, 76px 140px #732c00,
    80px 140px #d0694c, 84px 140px #d0694c, 88px 140px #712f00,
    92px 140px #712f00, 96px 140px #712f00, 100px 140px #712f00,
    104px 140px #712f00, 108px 140px #712f00, 112px 140px #a13c30,
    116px 140px #d4684a, 120px 140px #f38a59, 124px 140px #f48a5a,
    128px 140px #f48a5a, 132px 140px #f48a5a, 136px 140px #d16846,
    140px 140px #9a3826, 144px 140px #792802, 148px 140px #792802,
    152px 140px #792802, 156px 140px #792802, 160px 140px #792802,
    164px 140px #d06a4a, 168px 140px #d06a4a, 172px 140px #6f2f07,
    176px 140px #6f2f07, 180px 140px #f8a25b, 184px 140px #f8a25b,
    188px 140px #f8a25b, 192px 140px #f8a25b, 196px 140px #f8a25b,
    200px 140px #f8a25b, 204px 140px #9c3522, 208px 140px #641b20,
    116px 142px #d46747, 120px 142px #d4674c, 124px 142px #f6895c,
    128px 142px #f6895c, 132px 142px #ce6750, 136px 142px #9a3826,
    64px 144px #660305, 68px 144px #ce6a4d, 72px 144px #712200,
    76px 144px #d2694b, 80px 144px #d2694b, 84px 144px #d2694b,
    88px 144px #713000, 92px 144px #713000, 96px 144px #713000,
    100px 144px #713000, 104px 144px #713000, 108px 144px #713000,
    112px 144px #713000, 116px 144px #713000, 120px 144px #713000,
    124px 144px #713000, 128px 144px #713000, 132px 144px #713000,
    136px 144px #713000, 140px 144px #713000, 144px 144px #713000,
    148px 144px #713000, 152px 144px #713000, 156px 144px #713000,
    160px 144px #713000, 164px 144px #713000, 168px 144px #713000,
    172px 144px #713000, 176px 144px #713000, 180px 144px #f8a15f,
    184px 144px #f8a15f, 188px 144px #f8a15f, 192px 144px #f8a15f,
    196px 144px #f8a15f, 200px 144px #f8a15f, 204px 144px #a03f2e,
    208px 144px #713000, 64px 148px #611611, 68px 148px #ce6b54,
    72px 148px #55161f, 76px 148px #55161f, 80px 148px #d16a4f,
    84px 148px #6d310c, 88px 148px #561812, 92px 148px #6f3100,
    96px 148px #6f3100, 100px 148px #6f3100, 104px 148px #561913,
    108px 148px #6e3005, 112px 148px #6e3005, 116px 148px #6e3005,
    120px 148px #6e3005, 124px 148px #6e3005, 128px 148px #6e3005,
    132px 148px #6e3005, 136px 148px #6e3005, 140px 148px #6e3005,
    144px 148px #6e3005, 148px 148px #581816, 152px 148px #6e3005,
    156px 148px #581816, 160px 148px #6e3005, 164px 148px #6e3005,
    168px 148px #6e3005, 172px 148px #581816, 176px 148px #581816,
    180px 148px #faa05d, 184px 148px #faa05d, 188px 148px #faa05d,
    192px 148px #faa05d, 196px 148px #faa05d, 200px 148px #faa05d,
    204px 148px #61080e, 64px 152px #611518, 68px 152px #cf6c5b,
    72px 152px #531b18, 76px 152px #6f3100, 80px 152px #6f3100,
    84px 152px #531b18, 88px 152px #6f3100, 92px 152px #531b18,
    96px 152px #531b18, 100px 152px #531b18, 104px 152px #6f3100,
    108px 152px #531b18, 112px 152px #6f3100, 116px 152px #531b18,
    120px 152px #6f3100, 124px 152px #531b18, 128px 152px #6f3100,
    132px 152px #531b18, 136px 152px #6f3100, 140px 152px #6f3100,
    144px 152px #531b18, 148px 152px #6f3100, 152px 152px #531b18,
    156px 152px #6f3100, 160px 152px #531b18, 164px 152px #531b18,
    168px 152px #531b18, 172px 152px #6f3100, 176px 152px #f38a5c,
    180px 152px #fb9f60, 184px 152px #fb9f60, 188px 152px #fb9f60,
    192px 152px #fb9f60, 196px 152px #fb9f60, 200px 152px #c96742,
    204px 152px #620000, 64px 156px #67171d, 68px 156px #d06956,
    72px 156px #d06956, 76px 156px #56181c, 80px 156px #56181c,
    84px 156px #56181c, 88px 156px #56181c, 92px 156px #56181c,
    96px 156px #56181c, 100px 156px #56181c, 104px 156px #56181c,
    108px 156px #56181c, 112px 156px #56181c, 116px 156px #56181c,
    120px 156px #56181c, 124px 156px #56181c, 128px 156px #56181c,
    132px 156px #56181c, 136px 156px #56181c, 140px 156px #56181c,
    144px 156px #56181c, 148px 156px #56181c, 152px 156px #56181c,
    156px 156px #56181c, 160px 156px #6d320a, 164px 156px #6d320a,
    168px 156px #56181c, 172px 156px #d16a45, 176px 156px #ffa069,
    180px 156px #ffa069, 184px 156px #ffa069, 188px 156px #ffa069,
    192px 156px #ffa069, 196px 156px #ffa069, 200px 156px #a03a21,
    204px 156px #721a1e, 64px 160px #671920, 68px 160px #d3674e,
    72px 160px #d3674e, 76px 160px #d3674e, 80px 160px #56181c,
    84px 160px #56181c, 88px 160px #56181c, 92px 160px #56181c,
    96px 160px #56181c, 100px 160px #9e3e3a, 104px 160px #9e3e3a,
    108px 160px #9e3e3a, 112px 160px #561721, 116px 160px #561721,
    120px 160px #561721, 124px 160px #561721, 128px 160px #561721,
    132px 160px #561721, 136px 160px #561721, 140px 160px #9e3e3a,
    144px 160px #9e3e3a, 148px 160px #9e3e3a, 152px 160px #67191e,
    156px 160px #56181c, 160px 160px #56181c, 164px 160px #56181c,
    168px 160px #d06853, 172px 160px #fba05d, 176px 160px #fba05d,
    180px 160px #fba05d, 184px 160px #fba05d, 188px 160px #fba05d,
    192px 160px #fba05d, 196px 160px #fba05d, 200px 160px #a53c30,
    204px 160px #580000, 64px 164px #681319, 68px 164px #a33c30,
    72px 164px #d26750, 76px 164px #d26750, 80px 164px #d26750,
    84px 164px #d26750, 88px 164px #d26750, 92px 164px #d26750,
    96px 164px #d26750, 100px 164px #f7885c, 104px 164px #f7885c,
    108px 164px #d56652, 112px 164px #a03c30, 116px 164px #661a20,
    120px 164px #661a20, 124px 164px #661a20, 128px 164px #661a20,
    132px 164px #661a20, 136px 164px #a13d33, 140px 164px #d06950,
    144px 164px #faa05e, 148px 164px #faa05e, 152px 164px #faa05e,
    156px 164px #faa05e, 160px 164px #faa05e, 164px 164px #faa05e,
    168px 164px #faa05e, 172px 164px #faa05e, 176px 164px #faa05e,
    180px 164px #faa05e, 184px 164px #faa05e, 188px 164px #faa05e,
    192px 164px #faa05e, 196px 164px #cf653e, 200px 164px #600006,
    68px 168px #6a1a1e, 72px 168px #d3684c, 76px 168px #d3684c,
    80px 168px #d3684c, 84px 168px #d3684c, 88px 168px #fc9f65,
    92px 168px #fc9f65, 96px 168px #fc9f65, 100px 168px #fc9f65,
    104px 168px #d26548, 108px 168px #fca05c, 112px 168px #fca05c,
    116px 168px #fca05c, 120px 168px #fca05c, 124px 168px #fca05c,
    128px 168px #fca05c, 132px 168px #fca05c, 136px 168px #fca05c,
    140px 168px #fca05c, 144px 168px #d36946, 148px 168px #fca05c,
    152px 168px #fca05c, 156px 168px #fca05c, 160px 168px #fca05c,
    164px 168px #fca05c, 168px 168px #fca05c, 172px 168px #fca05c,
    176px 168px #fca05c, 180px 168px #fca05c, 184px 168px #fca05c,
    188px 168px #fca05c, 192px 168px #fca05c, 196px 168px #a53c31,
    200px 168px #641a1e, 68px 172px #68171c, 72px 172px #a23a2e,
    76px 172px #d1684f, 80px 172px #d1684f, 84px 172px #d1684f,
    88px 172px #fc9f61, 92px 172px #fc9f61, 96px 172px #fc9f61,
    100px 172px #fc9f61, 104px 172px #f38a59, 108px 172px #fc9f61,
    112px 172px #f38a59, 116px 172px #d4674c, 120px 172px #d4674c,
    124px 172px #d4674c, 128px 172px #d4674c, 132px 172px #d4674c,
    136px 172px #f38a59, 140px 172px #ff9d62, 144px 172px #f68c5c,
    148px 172px #fc9f61, 152px 172px #fc9f61, 156px 172px #fc9f61,
    160px 172px #fc9f61, 164px 172px #fc9f61, 168px 172px #fc9f61,
    172px 172px #fc9f61, 176px 172px #fc9f61, 180px 172px #fc9f61,
    184px 172px #fc9f61, 188px 172px #fc9f61, 192px 172px #d1684f,
    196px 172px #a33c35, 200px 172px #561720, 204px 172px #561720,
    72px 176px #721b1f, 76px 176px #cf6a56, 80px 176px #cf6a56,
    84px 176px #cf6a56, 88px 176px #cf6a56, 92px 176px #faa05d,
    96px 176px #faa05d, 100px 176px #faa05d, 104px 176px #faa05d,
    108px 176px #faa05d, 112px 176px #faa05d, 116px 176px #faa05d,
    120px 176px #faa05d, 124px 176px #faa05d, 128px 176px #faa05d,
    132px 176px #faa05d, 136px 176px #faa05d, 140px 176px #faa05d,
    144px 176px #faa05d, 148px 176px #faa05d, 152px 176px #faa05d,
    156px 176px #faa05d, 160px 176px #faa05d, 164px 176px #faa05d,
    168px 176px #faa05d, 172px 176px #faa05d, 176px 176px #faa05d,
    180px 176px #faa05d, 184px 176px #faa05d, 188px 176px #f4895b,
    192px 176px #a33c33, 196px 176px #a33c33, 200px 176px #924705,
    204px 176px #924705, 208px 176px #4e000d, 212px 176px #4e000d,
    72px 180px #67191d, 76px 180px #a03d33, 80px 180px #d46a52,
    84px 180px #d46a52, 88px 180px #d46a52, 92px 180px #faa05d,
    96px 180px #faa05d, 100px 180px #faa05d, 104px 180px #faa05d,
    108px 180px #faa05d, 112px 180px #faa05d, 116px 180px #faa05d,
    120px 180px #faa05d, 124px 180px #faa05d, 128px 180px #faa05d,
    132px 180px #faa05d, 136px 180px #faa05d, 140px 180px #faa05d,
    144px 180px #faa05d, 148px 180px #faa05d, 152px 180px #faa05d,
    156px 180px #faa05d, 160px 180px #faa05d, 164px 180px #faa05d,
    168px 180px #faa05d, 172px 180px #faa05d, 176px 180px #faa05d,
    180px 180px #faa05d, 184px 180px #ef8762, 188px 180px #a53a36,
    192px 180px #a53a36, 196px 180px #6c181f, 200px 180px #914615,
    204px 180px #ffe000, 208px 180px #ffe000, 212px 180px #d58100,
    216px 180px #54191e, 220px 180px #54191e, 76px 184px #651617,
    80px 184px #a33c30, 84px 184px #d5674e, 88px 184px #d5674e,
    92px 184px #d5674e, 96px 184px #f3895a, 100px 184px #faa05d,
    104px 184px #faa05d, 108px 184px #faa05d, 112px 184px #faa05d,
    116px 184px #faa05d, 120px 184px #faa05d, 124px 184px #faa05d,
    128px 184px #faa05d, 132px 184px #faa05d, 136px 184px #faa05d,
    140px 184px #faa05d, 144px 184px #faa05d, 148px 184px #faa05d,
    152px 184px #faa05d, 156px 184px #faa05d, 160px 184px #faa05d,
    164px 184px #faa05d, 168px 184px #faa05d, 172px 184px #faa05d,
    176px 184px #faa05d, 180px 184px #f3895a, 184px 184px #9d3d34,
    188px 184px #9d3d34, 192px 184px #52181b, 196px 184px #52181b,
    200px 184px #52181b, 204px 184px #d98222, 208px 184px #ffdd01,
    212px 184px #ffdd01, 216px 184px #ffdd01, 220px 184px #8e4b00,
    224px 184px #651617, 80px 188px #661921, 84px 188px #661921,
    88px 188px #a23d33, 92px 188px #a23d33, 96px 188px #d66952,
    100px 188px #faa05f, 104px 188px #faa05f, 108px 188px #faa05f,
    112px 188px #faa05f, 116px 188px #faa05f, 120px 188px #faa05f,
    124px 188px #faa05f, 128px 188px #faa05f, 132px 188px #faa05f,
    136px 188px #faa05f, 140px 188px #faa05f, 144px 188px #faa05f,
    148px 188px #faa05f, 152px 188px #faa05f, 156px 188px #faa05f,
    160px 188px #faa05f, 164px 188px #faa05f, 168px 188px #faa05f,
    172px 188px #faa05f, 176px 188px #f58b61, 180px 188px #9f403a,
    184px 188px #9f403a, 188px 188px #5a1a1f, 192px 188px #5a1a1f,
    196px 188px #5a1a1f, 200px 188px #5a1a1f, 204px 188px #5a1a1f,
    208px 188px #d88807, 212px 188px #ffdf00, 216px 188px #ffdf00,
    220px 188px #ffdf00, 224px 188px #d88807, 228px 188px #5a1a1f,
    76px 192px #58140c, 80px 192px #da8419, 84px 192px #da8419,
    88px 192px #58140c, 92px 192px #a33e36, 96px 192px #a33e36,
    100px 192px #d46b54, 104px 192px #f5895a, 108px 192px #fb9f5f,
    112px 192px #fb9f5f, 116px 192px #fb9f5f, 120px 192px #fb9f5f,
    124px 192px #fb9f5f, 128px 192px #fb9f5f, 132px 192px #fb9f5f,
    136px 192px #fb9f5f, 140px 192px #fb9f5f, 144px 192px #fb9f5f,
    148px 192px #fb9f5f, 152px 192px #fb9f5f, 156px 192px #fb9f5f,
    160px 192px #d06852, 164px 192px #9f3b33, 168px 192px #9f3b33,
    172px 192px #d06852, 176px 192px #9f3b33, 180px 192px #9f3b33,
    184px 192px #551917, 188px 192px #551917, 192px 192px #551917,
    196px 192px #551917, 200px 192px #551917, 204px 192px #551917,
    208px 192px #551917, 212px 192px #ffdd03, 216px 192px #ffdd03,
    220px 192px #ffdd03, 224px 192px #ffdd03, 228px 192px #551917,
    72px 196px #55160b, 76px 196px #d98700, 80px 196px #ffdb0d,
    84px 196px #d98700, 88px 196px #d98700, 92px 196px #661920,
    96px 196px #661920, 100px 196px #a53b33, 104px 196px #a53b33,
    108px 196px #d5664f, 112px 196px #faa05c, 116px 196px #faa05c,
    120px 196px #faa05c, 124px 196px #faa05c, 128px 196px #faa05c,
    132px 196px #faa05c, 136px 196px #faa05c, 140px 196px #faa05c,
    144px 196px #d0694e, 148px 196px #d0694e, 152px 196px #a33c32,
    156px 196px #a33c32, 160px 196px #a33c32, 164px 196px #d0694e,
    168px 196px #d0694e, 172px 196px #d0694e, 176px 196px #a43b34,
    180px 196px #601c25, 184px 196px #601c25, 188px 196px #601c25,
    192px 196px #601c25, 196px 196px #601c25, 200px 196px #601c25,
    204px 196px #601c25, 208px 196px #601c25, 212px 196px #ffdb0d,
    216px 196px #ffdb0d, 220px 196px #ffdb0d, 224px 196px #ffdb0d,
    228px 196px #55160b, 68px 200px #54181f, 72px 200px #54181f,
    76px 200px #ffde06, 80px 200px #ffde06, 84px 200px #d68500,
    88px 200px #54181f, 92px 200px #54181f, 96px 200px #54181f,
    100px 200px #9f3c39, 104px 200px #54181f, 108px 200px #54181f,
    112px 200px #54181f, 116px 200px #9f3c39, 120px 200px #9f3c39,
    124px 200px #9f3c39, 128px 200px #9f3c39, 132px 200px #9f3c39,
    136px 200px #a13d32, 140px 200px #a13d32, 144px 200px #a13d32,
    148px 200px #a13d32, 152px 200px #d2684f, 156px 200px #f88956,
    160px 200px #f88956, 164px 200px #f88956, 168px 200px #f88956,
    172px 200px #a13b2e, 176px 200px #56181e, 180px 200px #56181e,
    184px 200px #56181e, 188px 200px #56181e, 192px 200px #56181e,
    196px 200px #56181e, 200px 200px #56181e, 204px 200px #56181e,
    208px 200px #56181e, 212px 200px #ffdf00, 216px 200px #ffdf00,
    220px 200px #ffdf00, 224px 200px #ffdf00, 228px 200px #914901,
    232px 200px #4f1a25, 236px 200px #4f1a25, 68px 204px #4f0507,
    72px 204px #d9830d, 76px 204px #ffdd02, 80px 204px #ffdd02,
    84px 204px #ffdd02, 88px 204px #581913, 92px 204px #581913,
    96px 204px #581913, 100px 204px #581913, 104px 204px #a63b32,
    108px 204px #d26c5b, 112px 204px #d26c5b, 116px 204px #d26c5b,
    120px 204px #d26c5b, 124px 204px #d26c5b, 128px 204px #d26c5b,
    132px 204px #d26c5b, 136px 204px #f78961, 140px 204px #f78961,
    144px 204px #f78961, 148px 204px #f58962, 152px 204px #f58962,
    156px 204px #f58962, 160px 204px #d66a52, 164px 204px #9d3b3a,
    168px 204px #56161d, 172px 204px #56161d, 176px 204px #9d3b3a,
    180px 204px #56161d, 184px 204px #56161d, 188px 204px #56161d,
    192px 204px #56161d, 196px 204px #56161d, 200px 204px #56161d,
    204px 204px #56161d, 208px 204px #d8830c, 212px 204px #ffdf00,
    216px 204px #ffdf00, 220px 204px #ffdf00, 224px 204px #ffdf00,
    228px 204px #8f4900, 232px 204px #8f4900, 236px 204px #8f4900,
    240px 204px #56181e, 244px 204px #56181e, 68px 208px #52151d,
    72px 208px #ffdd12, 76px 208px #ffdd12, 80px 208px #ffdd12,
    84px 208px #ffdd12, 88px 208px #57171d, 92px 208px #57171d,
    96px 208px #57171d, 100px 208px #57171d, 104px 208px #57171d,
    108px 208px #57171d, 112px 208px #973c39, 116px 208px #f7885a,
    120px 208px #f7885a, 124px 208px #f7885a, 128px 208px #f7885a,
    132px 208px #f7885a, 136px 208px #f7885a, 140px 208px #f7885a,
    144px 208px #f7885a, 148px 208px #f7885a, 152px 208px #d46750,
    156px 208px #a53b31, 160px 208px #611a25, 164px 208px #611a25,
    168px 208px #a43b35, 172px 208px #a43b35, 176px 208px #a43b35,
    180px 208px #a43b35, 184px 208px #611a25, 188px 208px #611a25,
    192px 208px #611a25, 196px 208px #611a25, 200px 208px #611a25,
    204px 208px #611a25, 208px 208px #611a25, 212px 208px #ffe000,
    216px 208px #ffe000, 220px 208px #ffe000, 224px 208px #ffe000,
    228px 208px #ffe000, 232px 208px #8d4800, 236px 208px #ab6400,
    240px 208px #d78508, 244px 208px #8b490a, 248px 208px #4f080b,
    60px 212px #551822, 64px 212px #551822, 68px 212px #8d4703,
    72px 212px #561816, 76px 212px #ffde00, 80px 212px #ffde00,
    84px 212px #ffde00, 88px 212px #d68503, 92px 212px #8e481e,
    96px 212px #511a20, 100px 212px #511a20, 104px 212px #511a20,
    108px 212px #511a20, 112px 212px #511a20, 116px 212px #511a20,
    120px 212px #511a20, 124px 212px #511a20, 128px 212px #511a20,
    132px 212px #511a20, 136px 212px #511a20, 140px 212px #511a20,
    144px 212px #511a20, 148px 212px #511a20, 152px 212px #a33c30,
    156px 212px #a33c30, 160px 212px #a33c30, 164px 212px #a33c30,
    168px 212px #a33c30, 172px 212px #a33c30, 176px 212px #a33c30,
    180px 212px #5b1a25, 184px 212px #5b1a25, 188px 212px #5b1a25,
    192px 212px #5b1a25, 196px 212px #5b1a25, 200px 212px #5b1a25,
    204px 212px #d67e18, 208px 212px #fedd02, 212px 212px #fedd02,
    216px 212px #fedd02, 220px 212px #fedd02, 224px 212px #fedd02,
    228px 212px #fedd02, 232px 212px #571b0c, 236px 212px #de8003,
    240px 212px #de8003, 244px 212px #de8003, 248px 212px #8d4819,
    252px 212px #55191c, 56px 216px #551613, 60px 216px #263e09,
    64px 216px #904702, 68px 216px #904702, 72px 216px #571a18,
    76px 216px #ffde08, 80px 216px #ffde08, 84px 216px #ffde08,
    88px 216px #b9730a, 92px 216px #b9730a, 96px 216px #b24e03,
    100px 216px #571a18, 104px 216px #571a18, 108px 216px #571a18,
    112px 216px #571a18, 116px 216px #571a18, 120px 216px #571a18,
    124px 216px #571a18, 128px 216px #a33c33, 132px 216px #a33c33,
    136px 216px #a33c33, 140px 216px #a33c33, 144px 216px #a33c33,
    148px 216px #a33c33, 152px 216px #a33c33, 156px 216px #a33c33,
    160px 216px #a33c33, 164px 216px #a33c33, 168px 216px #a33c33,
    172px 216px #571a18, 176px 216px #571a18, 180px 216px #571a18,
    184px 216px #571a18, 188px 216px #571a18, 192px 216px #571a18,
    196px 216px #571a18, 200px 216px #dc9d03, 204px 216px #ffd92e,
    208px 216px #ffd92e, 212px 216px #ffd92e, 216px 216px #ffd92e,
    220px 216px #ffd92e, 224px 216px #ffd92e, 228px 216px #4f1518,
    232px 216px #db820a, 236px 216px #db820a, 240px 216px #db820a,
    244px 216px #db820a, 248px 216px #803e18, 252px 216px #4f1518;
}
