html, body {
  background: #f001;
}

.cartoon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 80vmin;
}

.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.b {
  border: 0.5vmin solid;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}

/****/
.cartoon {
  --skin: #fca;
  --red: #d00;
  --hair: #ee0;
  --line: #222;
}

.hood {
  width: 40%;
  height: 40%;
  background: var(--red);
  border-radius: 50% 0 50% 50%;
  transform: translate(-50%, 0) rotate(-10deg);
  left: 50%;
  top: 5%;
}

.face {
  width: 90%;
  height: 70%;
  background: var(--skin);
  transform: rotate(10deg) translate(2.5vmin, 7.5vmin);
  border-radius: 100% / 100% 100% 120% 120%;
  overflow: hidden;
}

.eye {
  width: 1.5vmin;
  height: 1.5vmin;
  border-radius: 50%;
  background: white;
  top: 55%;
  left: 35%;
  box-shadow: inset 0.25vmin -0.25vmin 0 0.5vmin var(--line), 7.25vmin -0.25vmin 0 -0.5vmin white, 7vmin 0 var(--line)
}

.hair {
  width: 90%;
  height: 80%;
  background: var(--hair);
  border-radius: 50%;
  top: -35%;
  left: -20%;
  box-shadow: 25vmin -2vmin 0 3vmin var(--hair);
}

.cheek {
  width: 20%;
  height: 10%;
  background: #f002;
  color: #f002;
  top: 65%;
  left: 22%;
  border-radius: 50%;
  box-shadow: 10vmin 0
}

.body {
  width: 23%;
  height: 45%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 100% / 150% 150% 20% 20%;
  background: var(--red);
  box-shadow: inset 0 0 0 10vmin #0003;
}

.hood-bottom {
  width: 30%;
  height: 25%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 100% / 200% 200% 30% 30%;
  box-shadow: 
    inset 10.5vmin 2vmin 0 -3vmin var(--red),
    inset -10vmin 2vmin 0 -3vmin var(--red)
}

.leg {
  width: 8%;
  height: 20%;
  background: var(--skin);
  border-radius: 0 0 40% 90%;
  top: 77%;
  left: 50%;
  transform: translate(-8vmin, 0);
  box-shadow: inset 0 -8vmin 0 -5vmin var(--line);
}

.leg + .leg {
  border-radius: 0 0 100% 70%;
  transform: translate(2vmin, -0.5vmin);
}

.arm {
  width: 6%;
  height: 20%;
  background: var(--skin);
  border-radius: 0 0 90% 40%;
  top: 55%;
  left: 57.5%;
  transform: rotate(-2deg)
}

.arm + .arm {
  left: 36.5%;
  transform: rotate(3deg);
}

.basket {
  width: 17%;
  height: 13%;
  background: #963;
  border-radius: 1vmin 1vmin 3vmin 3vmin;
  top: 67%;
  left: 31%;
  box-shadow: inset 0 6vmin 0 -4vmin #0003;
}

.basket::after {
  width: 7vmin;
  height: 3.75vmin;
  background: var(--skin);
  border-radius: 50%;
  top: -2.5vmin;
  left: 50%;
transform: translate(-50%, 0)
  
}

.smile {
  width: 20%;
  height: 12%;
  border: 0.125vmin solid transparent;
  border-bottom: 0.5vmin solid var(--line);
  top: 77%;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.knot {
  width: 3vmin;
  height: 3vmin;
  background: blue;
  border-radius: 50%;
  top: 42.25%;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--red);
}

.lace {
  width: 3vmin;
  height: 4vmin;
  background: red;
  border-radius: 100% / 120% 120% 30% 30%;
  box-shadow: inset 0 0 0 4vmin #0004;
  top: 42.25%;
  left: 50%;
  transform: translate(-120%, -0.5vmin) rotate(90deg);
}

.lace + .lace {
  transform: scaleX(-1) translate(-20%, -0.5vmin) rotate(90deg);
}

.hair-back {
  width: 37%;
  height: 38%;
  background: var(--hair);
  border-radius: 100% / 120% 120% 10% 10%;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}


/***/

#youtube {
  z-index: 2;
  display: block;
  width: 100px;
  height: 70px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: red;
  border-radius: 50% / 11%;
  transition: transform 0.5s;
}

#youtube:hover,
#youtube:focus {
  transform: scale(1.1);
}

#youtube::before {
  content: "";
  display: block;
  position: absolute;
  top: 7.5%;
  left: -6%;
  width: 112%;
  height: 85%;
  background: red;
  border-radius: 9% / 50%;
}

#youtube::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 40px;
  width: 45px;
  height: 30px;
  border: 15px solid transparent;
  box-sizing: border-box;
  border-left: 30px solid white;
}

#youtube span {
  font-size: 0;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
