*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padidng: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #233637;
}

.diamond {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: -150px;
  transform: rotate(45deg);
}

span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid transparent;
}

span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

span:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}