body {
  height: 100vh;
  background: #cfbdd6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  z-index: -1;
  width: 720px;
  height: 550px;
  background: #ffffff;
  border: 4px solid #8f6e9d;
  overflow: hidden;
}

/* content */
.top {
  position: absolute;
  content: "";
  width: 110px;
  height: 55px;
  bottom: 357px;
  left: 57%;
  z-index: 400;
  background: #ffd1ba;
  box-shadow: 50px -11px 0 -11px #202a45;
}
.top:before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  bottom: 0px;
  left: 100%;
  z-index: 400;
  background: #202a45;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.top:after {
  position: absolute;
  content: "";
  width: 110px;
  height: 13px;
  bottom: 100%;
  left: -10px;
  z-index: 100;
  background: #963a51;
  box-shadow: 60px 0px 0 0 #202a45;
}
.top .clock {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  bottom: 8px;
  left: 35px;
  z-index: 400;
  background: #963a51;
  border-radius: 100%;
}
.top .clock:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 18px;
  bottom: 15px;
  left: 19px;
  z-index: 400;
  background: #202a45;
  -moz-transform: rotateZ(40deg);
  -o-transform: rotateZ(40deg);
  -ms-transform: rotateZ(40deg);
  -webkit-transform: rotateZ(40deg);
  transform: rotateZ(40deg);
}
.top .clock:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 10px;
  bottom: 11px;
  left: 17px;
  z-index: 400;
  background: #202a45;
  -moz-transform: rotateZ(130deg);
  -o-transform: rotateZ(130deg);
  -ms-transform: rotateZ(130deg);
  -webkit-transform: rotateZ(130deg);
  transform: rotateZ(130deg);
}
.top .bell-house {
  position: absolute;
  content: "";
  width: 8px;
  height: 45px;
  bottom: 123%;
  left: 20px;
  z-index: 400;
  background: #963a51;
  box-shadow: 8px 0 0 0 #202a45, 96px 0 0 0 #963a51, 104px 0 0 0 #202a45;
}
.top .bell-house:before {
  position: absolute;
  content: "";
  width: 56px;
  height: 14px;
  bottom: 100%;
  left: 0;
  z-index: 400;
  background: #963a51;
  box-shadow: 56px 0 0 0 #202a45;
}
.top .bell-house:after {
  position: absolute;
  content: "";
  width: 112px;
  height: 45px;
  bottom: calc(100% + 13px);
  left: 0;
  z-index: 400;
  background: #e85b6e;
  -webkit-clip-path: polygon(42% 0, 58% 0, 100% 100%, 0% 100%);
  clip-path: polygon(42% 0, 58% 0, 100% 100%, 0% 100%);
  background: linear-gradient(to right, #e85b6e 50%, #786cae 50%);
}
.top .bricks {
  position: absolute;
  content: "";
  width: 7px;
  height: 14px;
  bottom: 6px;
  left: 0px;
  z-index: 400;
  background: #eab2a5;
  box-shadow: 0 -22px 0 0 #eab2a5, 103px -22px 0 0 #eab2a5, 103px 0px 0 0 #eab2a5;
}
.top .bricks:before {
  position: absolute;
  content: "";
  width: 13px;
  height: 5px;
  bottom: 8px;
  left: 12px;
  z-index: 400;
  background: #eab2a5;
  box-shadow: 5px -18px 0 0 #eab2a5, 70px -10px 0 0 #eab2a5, -68px 135px 0 0 #eab2a5, -60px 234px 0 0 #eab2a5, 0px 200px 0 0 #eab2a5, -200px 160px 0 0px #e9a791, -206px 270px 0 0px #fecfb8, -180px 230px 0 0px #ffd1ba, -143px 327px 0 0px #eaa892, -123px 266px 0 0px #ffd0b9, -133px 160px 0 0px #eaa691, 33px 160px 0 0px #fed0b9, 65px 160px 0 0px #eaa691, 23px 190px 0 0px #eaa892, 30px 265px 0 0px #fecfb8, 30px 325px 0 0px #e9a791, 60px 325px 0 0 #ffd0b9, 70px 230px 0 0 #eaa891, 120px 235px 0 0 #ffd1ba, 180px 150px 0 0 #272f4b, 180px 220px 0 0 #272f4b, 180px 270px 0 0 #272f4b, 220px 100px 0 0 #272f4b;
}

.ground {
  position: absolute;
  content: "";
  width: 100%;
  height: 14px;
  bottom: 0%;
  left: 0%;
  z-index: 200;
  background: #181f31;
  box-shadow: 0 0 0 20px #6f64a8, 0 0 0 27px #5c558b;
}

.wall {
  position: absolute;
  content: "";
  width: 350px;
  height: 200px;
  bottom: 41px;
  left: 30%;
  z-index: 300;
  background: #ffc3a1;
}
.wall:before {
  position: absolute;
  content: "";
  width: 350px;
  height: 12px;
  bottom: calc(100% - 12px);
  left: -10px;
  z-index: 300;
  background: #963a51;
  box-shadow: 0 110px 0 0px #963a51, 10px 0 0 0 #202a45, 10px 110px 0 0 #202a45, 10px 8px 0 -1px #dcaa93, 10px 118px 0 -1px #dcaa93;
}
.wall:after {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  bottom: 201px;
  left: 222px;
  z-index: 300;
  background: #202a45;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.wall .elevation {
  position: absolute;
  content: "";
  width: 95px;
  height: 215px;
  bottom: 0px;
  left: 35%;
  z-index: 350;
  background: #ffd1ba;
  border-left: 6px dashed #eab2a5;
  border-right: 6px dashed #eab2a5;
  border-top: 6px solid #dbb6a6;
}
.wall .elevation .window {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  bottom: 150px;
  left: 23%;
  z-index: 300;
  background: #202a45;
  border-radius: 40px;
  box-shadow: 0 0 0 6px #776bad, 6px 0 0 6px #202a45;
}
.wall .elevation .window:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 6px;
  bottom: 16px;
  left: 0%;
  z-index: 300;
  background: #373a4d;
}
.wall .elevation .window:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 40px;
  bottom: 0px;
  left: 17px;
  z-index: 300;
  background: #373a4d;
}
.wall .elevation .door {
  position: absolute;
  content: "";
  width: 40px;
  height: 65px;
  bottom: 18px;
  left: 24%;
  z-index: 300;
  background: #202a45;
  box-shadow: 0 0 0 6px #e85b6e, 0 0 0 12px #963a51, 3px 3px 0 15px #202a45;
}
.wall .elevation .door:before {
  position: absolute;
  content: "";
  width: 45px;
  height: 7px;
  bottom: 16px;
  left: 0%;
  z-index: 300;
  background: #e95a6e;
  box-shadow: -18px 29px 0 0 #963a51, -24px 35px 0 0 #963a51, 1px 34px 0 0 #963a51;
}
.wall .elevation .door:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 65px;
  bottom: 0px;
  left: 18px;
  z-index: 300;
  background: #e95a6e;
}
.wall .window1, .wall .window2, .wall .window3, .wall .window4, .wall .window5, .wall .window6, .wall .window7, .wall .window8 {
  position: absolute;
  content: "";
  width: 27px;
  height: 38px;
  bottom: 125px;
  left: 22px;
  z-index: 300;
  background: #202a45;
  box-shadow: 0 7px 0 0 #963a51, -2px 3px 0 4px #786cae, 2px 3px 0 4px #786cae, 2px 15px 0 -2px #dbab92;
}
.wall .window1:before, .wall .window2:before, .wall .window3:before, .wall .window4:before, .wall .window5:before, .wall .window6:before, .wall .window7:before, .wall .window8:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 33px;
  bottom: 0px;
  left: 5px;
  z-index: 300;
  background: #373a4d;
}
.wall .window1:after, .wall .window2:after, .wall .window3:after, .wall .window4:after, .wall .window5:after, .wall .window6:after, .wall .window7:after, .wall .window8:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 4px;
  bottom: 20px;
  left: 5px;
  z-index: 300;
  background: #373a4d;
}
.wall .window2, .wall .window6 {
  left: 75px;
}
.wall .window3, .wall .window7 {
  left: 250px;
}
.wall .window4, .wall .window8 {
  left: 305px;
}
.wall .window5, .wall .window6, .wall .window7, .wall .window8 {
  bottom: 23px;
}

.roof {
  position: absolute;
  content: "";
  width: 350px;
  height: 140px;
  bottom: 241px;
  left: 39.6%;
  z-index: 300;
  background: #e85b6e;
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}
.roof:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 40px;
  bottom: 0px;
  left: 6%;
  z-index: 300;
  background: #963a51;
  background: linear-gradient(-153deg, #786cae 37px, #963a51 37px, #963a51);
}
.roof:after {
  position: absolute;
  content: "";
  width: 80px;
  height: 40px;
  bottom: 0px;
  left: 69%;
  z-index: 300;
  background: #963a51;
  background: linear-gradient(-153deg, #786cae 37px, #963a51 37px, #963a51);
}
.roof .front {
  position: absolute;
  content: "";
  width: 110px;
  height: 13px;
  bottom: 21px;
  left: 24.5%;
  z-index: 300;
  background: #963a51;
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  -ms-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}
.roof .front:before {
  position: absolute;
  content: "";
  width: 110px;
  height: 55px;
  bottom: 13px;
  left: 0;
  z-index: 300;
  background: #963a51;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.roof .front:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 56px;
  bottom: 12px;
  left: 83px;
  z-index: 300;
  background: #786cae;
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  -ms-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}
.roof .front .exhaust {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  bottom: -15px;
  left: -59px;
  z-index: 500;
  background: #7f374f;
  border-radius: 100%;
  box-shadow: 0 0 0 4px #853750b5, 105px -40px 0 5px #9d4456;
}
.roof .front .exhaust:before {
  position: absolute;
  content: "";
  width: 26px;
  height: 42px;
  bottom: -85px;
  left: 330px;
  z-index: 300;
  background: #43456e;
  box-shadow: 5px 0 0 0 #fec2a0;
}
.roof .front .exhaust:after {
  position: absolute;
  content: "";
  width: 26px;
  height: 42px;
  bottom: -85px;
  left: 390px;
  z-index: 300;
  background: #43456e;
  box-shadow: 5px 0 0 0 #fec2a0;
}

.chimney {
  position: absolute;
  content: "";
  width: 50px;
  height: 85px;
  bottom: 52%;
  left: 37%;
  z-index: 100;
  background: #ffd1ba;
  background: linear-gradient(to right, #ffd1ba 60%, #202a45 40%);
}
.chimney:before {
  position: absolute;
  content: "";
  width: 70px;
  height: 15px;
  bottom: 100%;
  left: -10px;
  z-index: 100;
  background: #ffd1ba;
  background: linear-gradient(to right, #ffd1ba 45%, #202a45 40%);
}
.chimney:after {
  position: absolute;
  content: "";
  width: 14px;
  height: 6px;
  bottom: 50px;
  left: 16px;
  z-index: 910;
  background: #eab2a5;
  box-shadow: -15px -12px 0 0 #eab2a5, -15px -29px 0 1px #dbb5a8, -1px -29px 0 1px #dbb5a8, -15px 29px 0 0 #dbb5a8;
}

.side {
  position: absolute;
  content: "";
  width: 345px;
  height: 340px;
  bottom: 40px;
  left: 50%;
  z-index: calc($house - 1);
  background: #202a45;
}
.side:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 340px;
  bottom: -10px;
  left: 100%;
  z-index: calc($house - 1);
  background: #202a45;
  -moz-transform: skewY(45deg);
  -o-transform: skewY(45deg);
  -ms-transform: skewY(45deg);
  -webkit-transform: skewY(45deg);
  transform: skewY(45deg);
}
.side:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  bottom: 0px;
  left: -205px;
  z-index: 100;
  background: #1a2134;
  border-radius: 100%;
}

.bus {
  position: absolute;
  content: "";
  width: 137px;
  height: 50px;
  bottom: 53px;
  left: 80px;
  z-index: 200;
  background: #202a45;
}
.bus:before {
  position: absolute;
  content: "";
  width: 130px;
  height: 40px;
  bottom: 50px;
  left: 0px;
  z-index: 200;
  background: #ffc3a1;
  border-top-left-radius: 15px;
}
.bus:after {
  position: absolute;
  content: "";
  width: 130px;
  height: 40px;
  bottom: 50px;
  left: 70px;
  z-index: 200;
  background: #202a45;
  border-top-left-radius: 15px;
}
.bus .windows {
  position: absolute;
  content: "";
  width: 70px;
  height: 25px;
  bottom: 50px;
  left: 0px;
  z-index: 201;
  background: #786cae;
  box-shadow: 70px 0 0 0 #404066, 71px -5px 0 0 #963a51;
}
.bus .windows:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 5px;
  bottom: 30px;
  left: 1px;
  z-index: 201;
  background: #ffd0bb;
  border-top-left-radius: 10px;
}
.bus .windows:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  bottom: 30px;
  left: 50px;
  z-index: 201;
  background: #e85a6c;
  border-radius: 100%;
  box-shadow: 10px 0 0 0 #e85a6c;
}
.bus .bonnet {
  position: absolute;
  content: "";
  width: 70px;
  height: 15px;
  bottom: 35px;
  left: -6px;
  z-index: 201;
  background: #e85b6e;
  -moz-transform: skewX(-40deg);
  -o-transform: skewX(-40deg);
  -ms-transform: skewX(-40deg);
  -webkit-transform: skewX(-40deg);
  transform: skewX(-40deg);
  -webkit-clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
}
.bus .engine {
  position: absolute;
  content: "";
  width: 56px;
  height: 36px;
  bottom: 0px;
  left: -11px;
  z-index: 202;
  background: #ffc3a1;
}
.bus .engine:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 22px;
  bottom: 0px;
  left: -10px;
  z-index: 202;
  background: #ffc3a1;
  box-shadow: 65px 0 0 0 #ffc3a1;
}
.bus .engine:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  bottom: 18px;
  left: -10px;
  z-index: 202;
  background: #786cae;
  border-radius: 100%;
  box-shadow: 65px 0 0 0 #786cae;
}
.bus .engine .exhaust {
  position: absolute;
  content: "";
  width: 75px;
  height: 5px;
  bottom: 0px;
  left: -10px;
  z-index: 202;
  background: #963a51;
}
.bus .engine .exhaust:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 20px;
  bottom: 5px;
  left: 15px;
  z-index: 202;
  background: #963a51;
  box-shadow: 37px -45px 0 0 #8d79ac, 37px -49px 0 0 #8d79ac, 48px -45px 0 0 #8472ae, 48px -49px 0 0 #8472ae, 52px -45px 0 0 #8472ae, 52px -49px 0 0 #8472ae, 54px -45px 0 0 #8472ae, 54px -49px 0 0 #8472ae, 57px -45px 0 0 #8472ae, 57px -49px 0 0 #8472ae, 62px -45px 0 0 #8472ae, 62px -49px 0 0 #8472ae, 65px -45px 0 0 #8472ae, 65px -49px 0 0 #8472ae, 0px -4px 0 0 #7e384e, 10px 0px 0 0 #963a51, 10px -4px 0 0 #7e384e, 20px 0px 0 0 #963a51, 20px -4px 0 0 #7e384e, 30px 0px 0 0 #963a51, 30px -4px 0 0 #7e384e, 40px 0px 0 0 #963a51, 40px -4px 0 0 #7e384e;
}
.bus .wheels {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  bottom: -12px;
  left: 6px;
  z-index: 100;
  background: #1a2134;
  border-radius: 100%;
  box-shadow: -10px 0 0 0 #1f2a44, 80px 0 0 0 #1a2134;
}
