.body {
	background-color:#2d5056;
	width:256px;
	height:256px;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-o-border-radius:100%;
	margin:18px auto;
	position:relative;
	-moz-position:relative;
	-webkit-position:relative;
	-o-position:relative;
	overflow:hidden;
}
.star {
	width:6px;
	height:6px;
	background-color:#446366;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-o-border-radius:100%;
	position:absolute;
	-moz-position:absolute;
	-webkit-position:absolute;
	-o-position:absolute;
}
.moonback {
	width:124px;
	height:124px;
	background-color:rgba(255,255,255,0.1);
	position:absolute;
	-moz-position:absolute;
	-webkit-position:absolute;
	-o-position:absolute;
	top: 82px;
	right: 16px;
	transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}
.moon {
	width:112px;
	height:112px;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-o-border-radius:100%;
	background-color:#feffff;
	position:absolute;
	-moz-position:absolute;
	-webkit-position:absolute;
	-o-position:absolute;
	top: 88px;
	right: 21px;
}
.moon:after {
	content:"";
	width:96px;
	height:96px;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-o-border-radius:100%;
	background-color:#edeee9;
	position:absolute;
	-moz-position:absolute;
	-webkit-position:absolute;
	-o-position:absolute;
	top: 10px;
	right: 16px;
}
.first{
	background-color:#1c3a42;
	width:128px;
	height:128px;
	position:absolute;
	-moz-position:absolute;
	-webkit-position:absolute;
	-o-position:absolute;
	bottom: -52px;
	left: -50px;
	transform:rotate(60deg);
  -webkit-transform:rotate(60deg);
}
.on{
	background-color:#345f44;
	width:128px;
	height:128px;
	position:absolute;
	-moz-position:absolute;
	-webkit-position:absolute;
	-o-position:absolute;
	bottom: -52px;
	left: -50px;
	transform:rotate(60deg);
  -webkit-transform:rotate(60deg);
}
.onn{
	background-color:#416c50;
	width:128px;
	height:128px;
	position:absolute;
	-moz-position:absolute;
	-webkit-position:absolute;
	-o-position:absolute;
	bottom: -52px;
	left: -50px;
	transform:rotate(60deg);
  -webkit-transform:rotate(60deg);
}
.comet {
	width:92px;
	height:8px;
	border-radius:4px;
	background: -webkit-linear-gradient(left top, #FFF , transparent);
	transform:rotate(32deg);
	position:absolute;
	-moz-position:absolute;
	-webkit-position:absolute;
	-o-position:absolute;
	top:60px;
	left:110px;
	opacity: 0.8;
}