body {
	background: #e1ecee;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

.container {
	position: relative;
	width: 270px;
	height: 600px;
	background: #000;
	border-radius: 80px;
	border-bottom-right-radius: 70px;
	border-bottom-left-radius: 70px;
}

.back {
	position: absolute;
	top: .3%;
	left: 0.4%;
	width: 98.7%;
	height: 99%;
	background: #414244;
	border-radius: 85px;
	border-bottom-right-radius: 70px;
	border-bottom-left-radius: 70px;
	box-shadow: 0 4px 10.5px rgba(0, 0, 0, 0.037),
	0 7.6px 20.2px rgba(0, 0, 0, 0.055),
	0 11.3px 29.1px rgba(0, 0, 0, 0.069),
	0 16.1px 37.6px rgba(0, 0, 0, 0.081),
	0 25.9px 49.1px rgba(0, 0, 0, 0.094),
	0 70px 99px rgba(0, 0, 0, 0.11);
}

.screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(82deg, rgba(28, 29, 33, .7), rgba(28, 29, 33, .7) 50%, rgba(76, 81, 87, .8) 50%, rgba(76, 81, 87, .8));
	position: absolute;
	top: 19px;
	left: 12px;
	width: 88%;
	height: 42%;
	border: 4px solid #dce2e3;
	border-radius: 55px;
	border-bottom-right-radius: 43px;
	border-bottom-left-radius: 43px;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.screen::before {
	position: absolute;
	content: '';
	top: -5px;
	width: 30%;
	height: 3px;
	border-top: 5px solid #131315;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.screen span {
	font-weight: bold;
	font-family: Arial;
	font-size: 18px;
	margin-bottom: 25px;
}

.screen img {
	border-radius: 4px;
}

.buttons {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 88%;
	height: 45%;
	top: 49%;
	left: 14px;
}

.buttons .top-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 30%;
}

.buttons .top-row .start {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	height: 100%;
}

.buttons .top-row .start .b1 {
	position: relative;
	height: 45%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .top-row .start .b1::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	border-top: 3px solid white;
}

.buttons .top-row .start .b2 {
	position: relative;
	height: 45%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .top-row .start .b2::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	border-top: 5px solid #19ae72;
	border-radius: 3px;
}

.buttons .top-row .middle {
	position: relative;
	width: 30%;
	height: 100%;
	background: #5c5d61;
	border-radius: 10px;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .top-row .middle::before {
	content: '';
	position: absolute;
	width: 85%;
	height: 85%;
	top: 3.6px;
	left: 2.6px;
	background: #17181a;
	border-radius: 10px;
	border: 2px solid #dce2e3;
}

.buttons .top-row .end {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	height: 100%;
}

.buttons .top-row .end .b1 {
	position: relative;
	height: 45%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .top-row .end .b1::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	border-top: 3px solid white;
}

.buttons .top-row .end .b2 {
	position: relative;
	height: 45%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .top-row .end .b2::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	border-top: 5px solid #c35258;
	border-radius: 3px;
}

.buttons .bottom-row {
	color: white;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	width: 100%;
	height: 68%;
}

.buttons .bottom-row .column1 {
	margin-left: 2px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 30%;
	height: 100%;
}

.buttons .bottom-row .column1 .b1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column1 .b2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column1 .b3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column1 .b4 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	border-bottom-left-radius: 24px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column2 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
	height: 100%;
}

.buttons .bottom-row .column2 .b1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column2 .b2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column2 .b3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column2 .b4 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column3 {
	margin-right: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
	height: 100%;
}

.buttons .bottom-row .column3 .b1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column3 .b2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column3 .b3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.buttons .bottom-row .column3 .b4 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	border-bottom-right-radius: 24px;
	background: #151517;
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}