body {
  background: #666;
}

.game {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 80vmin;
  pointer-events: none;
  filter: drop-shadow(0 0 1vmin)
}

.game::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    repeating-linear-gradient(#0000 0 5%, #fffc 0 5.5%),
    conic-gradient(at 95% 50%, #fffc 90deg, #0000 0) 0 0 / 10% 11%,
    conic-gradient(at 95% 50%, #fffc 90deg, #0000 0) 5.5% 6% / 10% 11%,
    indianred;
  clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%, 45% 100%, 45% 50%, 75% 50%, 75% 30%, 25% 30%, 25% 85%, 5% 85%, 5% 5%, 95% 5%, 95% 95%, 75% 95%, 75% 75%, 65% 75%, 65% 65%, 85% 65%, 85% 75%, 80% 75%, 80% 90%, 90% 90%, 90% 10%,10% 10%, 10% 70%, 20% 70%, 20% 30%, 20% 20%, 80% 20%, 80% 55%, 55% 55%, 55% 100%);
  pointer-events: auto;
}

.game:checked,
.game:hover {
  clip-path: none;
}

.game::after {
  white-space: pre-wrap;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3vmin;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: #000c;
  pointer-events: auto;
}

.game:checked::after {
  content: "Welcome to a single div Maze Game! \a \a Click on the board to start the game.";
}

.game:not(:checked):hover::after {
  content: "Game Over! \a \a Mouse out of the board to play again.";
}
