.baymax-central {
  position: relative;
  width: 126px;
  height: 180px;
  margin: 50px auto;
}

.baymax-patch, .baymax-body:before, .baymax-body:after, .baymax-leftarm .baymax-arm-patch,
.baymax-rightarm .baymax-arm-patch, .baymax-rightleg .baymax-leg-sidepatch,
.baymax-rightleg .baymax-leg-footpatch,
.baymax-leftleg .baymax-leg-sidepatch,
.baymax-leftleg .baymax-leg-footpatch {
  content: "";
  position: absolute;
  background: #efe7e7;
  border-radius: 50%;
  border: 1px solid #EAEAEA;
}

.baymax-body {
  position: relative;
  overflow: hidden;
  display: block;
  width: 124px;
  height: 180px;
  background-color: whitesmoke;
  border: 1px solid #EAEAEA;
  -webkit-border-radius: 50%  50%  50%  50%  / 60%   60%  40%  40%;
  border-radius: 50%  50%  50%  50%  / 60%   60%  40%  40%;
  -webkit-box-shadow: inset 0px -30px 50px 0px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: inset 0px -30px 50px 0px rgba(204, 204, 204, 0.5);
  box-shadow: inset 0px -30px 50px 0px rgba(204, 204, 204, 0.5);
}
.baymax-body:before, .baymax-body:after {
  top: 55px;
  width: 15px;
  height: 40px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.5);
}
.baymax-body:before {
  left: -8px;
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.baymax-body:after {
  right: -8px;
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.baymax-body .baymax-heart {
  position: absolute;
  top: 35px;
  right: 30%;
  height: 12px;
  width: 12px;
  border: 1px solid #EAEAEA;
  background: whitesmoke;
  border-radius: 50%;
}
.baymax-body .baymax-highlight {
  position: absolute;
  top: 20%;
  right: 40%;
  width: 0%;
  height: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 45px 25px white;
  -moz-box-shadow: 0 0 45px 25px white;
  box-shadow: 0 0 45px 25px white;
  border-radius: 50%;
}

.baymax-head {
  background: whitesmoke;
  height: 28px;
  width: 42px;
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -21px;
  border: 1px solid #EAEAEA;
  border-radius: 40px / 25px;
  -webkit-box-shadow: 0 6px 8px -5px rgba(128, 128, 128, 0.75), inset 0 -6px 8px -5px rgba(204, 204, 204, 0.5);
  -moz-box-shadow: 0 6px 8px -5px rgba(128, 128, 128, 0.75), inset 0 -6px 8px -5px rgba(204, 204, 204, 0.5);
  box-shadow: 0 6px 8px -5px rgba(128, 128, 128, 0.75), inset 0 -6px 8px -5px rgba(204, 204, 204, 0.5);
  overflow: hidden;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.baymax-head .baymax-eyes {
  position: relative;
  top: 10px;
  left: 50%;
  margin-left: -10px;
  height: 1px;
  width: 20px;
  background: #333333;
}
.baymax-head .baymax-eyes:before, .baymax-head .baymax-eyes:after {
  content: "";
  position: absolute;
  top: -3px;
  background: #333333;
  height: 6px;
  width: 6px;
  border-radius: 100%;
}
.baymax-head .baymax-eyes:before {
  left: -2px;
}
.baymax-head .baymax-eyes:after {
  right: -2px;
}
.baymax-head .baymax-highlight {
  position: absolute;
  top: 12%;
  right: 25%;
  width: 45%;
  height: 1%;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 18px 9px white;
  -moz-box-shadow: 0 0 18px 9px white;
  box-shadow: 0 0 18px 9px white;
}

.baymax-leftarm,
.baymax-rightarm {
  position: absolute;
  top: 5px;
  height: 145px;
  width: 40px;
  background-color: whitesmoke;
  border: 1px solid #EAEAEA;
  overflow: hidden;
}
.baymax-leftarm:after,
.baymax-rightarm:after {
  content: "";
  position: absolute;
  top: 40px;
  height: 80px;
  width: 20px;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 30px 0px gray;
  -moz-box-shadow: 0px 0px 30px 0px gray;
  box-shadow: 0px 0px 30px 0px gray;
  z-index: 1;
}
.baymax-leftarm .baymax-highlight,
.baymax-rightarm .baymax-highlight {
  position: absolute;
  top: 25%;
  width: 1%;
  height: 65%;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 16px 7px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 0 16px 7px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 16px 7px rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.baymax-leftarm .baymax-arm-patch,
.baymax-rightarm .baymax-arm-patch {
  top: 60px;
  height: 50px;
  width: 25px;
}

.baymax-leftarm {
  left: -25px;
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  border-radius: 90px 20px 20px 90px / 200px 40px 40px 200px;
}
.baymax-leftarm:after {
  right: -13px;
  border-radius: 30px 10px 10px 90px / 90px 10px 10px 200px;
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.baymax-leftarm .baymax-highlight {
  left: 30%;
}
.baymax-leftarm .baymax-arm-patch {
  left: -20px;
}

.baymax-rightarm {
  right: -25px;
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  border-radius: 20px 90px 90px 20px / 40px 200px 200px 40px;
}
.baymax-rightarm:after {
  left: -13px;
  border-radius: 10px 30px 90px 10px / 10px 90px 200px 10px;
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.baymax-rightarm .baymax-highlight {
  right: 30%;
}
.baymax-rightarm .baymax-arm-patch {
  right: -20px;
}

.baymax-rightleg,
.baymax-leftleg {
  position: absolute;
  bottom: -48px;
  width: 48px;
  height: 85px;
  background: whitesmoke;
  border: 1px solid #EAEAEA;
  overflow: hidden;
  z-index: 0;
}
.baymax-rightleg:after,
.baymax-leftleg:after {
  content: "";
  position: absolute;
  top: 0;
  width: 48px;
  height: 85px;
  -webkit-box-shadow: inset 0px 0px 15px 0px #cccccc;
  -moz-box-shadow: inset 0px 0px 15px 0px #cccccc;
  box-shadow: inset 0px 0px 15px 0px #cccccc;
}
.baymax-rightleg .baymax-highlight,
.baymax-leftleg .baymax-highlight {
  position: absolute;
  top: 40%;
  width: 1%;
  height: 38%;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 16px 7px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 0 16px 7px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 16px 7px rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.baymax-rightleg .baymax-leg-sidepatch,
.baymax-rightleg .baymax-leg-footpatch,
.baymax-leftleg .baymax-leg-sidepatch,
.baymax-leftleg .baymax-leg-footpatch {
  background: #f5f0f0;
  z-index: 1;
}
.baymax-rightleg .baymax-leg-sidepatch,
.baymax-leftleg .baymax-leg-sidepatch {
  top: -50px;
  height: 100px;
  width: 30px;
}
.baymax-rightleg .baymax-leg-footpatch,
.baymax-leftleg .baymax-leg-footpatch {
  bottom: -22px;
  height: 30px;
  width: 60px;
}

.baymax-leftleg {
  left: 13px;
  border-radius: 20% 0 30% 50% / 50% 0 30% 50%;
}
.baymax-leftleg .baymax-leg-sidepatch {
  left: -20px;
}
.baymax-leftleg .baymax-leg-footpatch {
  left: 0;
}
.baymax-leftleg .baymax-highlight {
  left: 25px;
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.baymax-rightleg {
  right: 13px;
  border-radius: 0 20% 50% 30% / 0 50% 50% 30%;
}
.baymax-rightleg .baymax-leg-sidepatch {
  right: -20px;
}
.baymax-rightleg .baymax-leg-footpatch {
  right: 0;
}
.baymax-rightleg .baymax-highlight {
  right: 20px;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

body {
  background-color: #e8e7ea;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFE8E7EA', endColorstr='#FF95A6BA');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZTdlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk1YTZiYSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #e8e7ea 0%, #95a6ba 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #e8e7ea 0%, #95a6ba 100%);
  background-image: radial-gradient(ellipse cover at center, #e8e7ea 0%, #95a6ba 100%);
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 30px;
}
.container h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 40px;
  margin: 20px auto;
  text-align: center;
  color: #666666;
}
