body {
  min-height: 300px;
  height: 100vh;
  position: relative;
  background-color: #ffd700;
  text-align: center;
}
div {
  position: absolute;
  left: 50%;
  top: 50%;
}
div:before,
div:after {
  display: block;
  content: '';
  position: absolute;
}
@media (max-width: 400px) {
  div:not(.no-scale) {
    transform: scale(0.8);
  }
}
#tired {
  box-sizing: border-box;
  width: 13em;
  height: 13em;
  margin-left: -6.5em;
  margin-top: -6.5em;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse at 50% 0%, rgba(220,20,60,0.5) 50%, rgba(220,20,60,0) 55%), radial-gradient(ellipse at 50% 0%, #ff8c00 50%, rgba(255,140,0,0) 51%), radial-gradient(ellipse at 50% 0%, rgba(220,20,60,0.5) 50%, rgba(220,20,60,0) 55%), radial-gradient(ellipse at 50% 0%, #ff8c00 50%, rgba(255,140,0,0) 51%), radial-gradient(ellipse, #783e22 45%, #48240a 66%, rgba(139,69,19,0) 68%), radial-gradient(circle at 50% 10%, #fffacd, #ffd700 40%, #ff8c00 80%);
  background-size: 5.8em 4em, 5.8em 6em, 5.8em 4em, 5.8em 6em, 2em 1.5em, 100% 100%;
  background-position: left 0.7em top 6.5em, left 0.7em top 6.5em, right 0.7em top 6.5em, right 0.7em top 6.5em, 50% 85%, 0 0;
  border-radius: 50%;
  border: 0.2em solid #ff8c00;
  box-shadow: inset 0 1.4em 0.5em -1em rgba(255,215,0,0.9), inset 0 0 0 0.3em rgba(220,20,60,0.2), inset 0 -0.6em 1em 0.5em rgba(139,0,0,0.4);
}
#tired:before,
#tired:after {
  width: 4.6em;
  height: 4.6em;
  top: 3.9em;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #fffacd, #ffd700, #ffa500), linear-gradient(#8b4513 80%, rgba(139,69,19,0) 100%), radial-gradient(circle, black 60%, rgba(0,0,0,0) 62%), radial-gradient(circle, rgba(0,0,0,0) 60%, rgba(0,0,0,0.4) 75%), radial-gradient(circle, #fff 48%, #ff6347 75%);
  background-size: 100% 55%, 100% 60%, 1.3em 1.3em, 100% 100%, 100% 100%;
  background-position: 0 0, 0 0, 50% 62%, 0 0, 0 0;
  border-radius: 50%;
  box-shadow: 0 -1em 1em 0 rgba(220,20,60,0.1);
}
#tired:before {
  left: 1.3em;
}
#tired:after {
  right: 1.3em;
}
