.woman {
  --skin: #fca;
  --skin-dark: #f8bb99;
  --hair: #642;
  --hair-dark: #321;
  --hair-semi: #321a;
  --eye: #586;
  --eye-dark: #475;
  --flush: #f001;
  --lips: #f88;
  --lips-dark: #c44;
  --glasses: #000;
  --glasses-glass: #8888ff18;
  --line-light: #fff1;
  --line-light2: #fff2;
  --line-dark: #0001;
  --line-dark2: #0002;
  --earrings: #0000;
  --earrings-dark: #0000;
  
/*   --skin: #963;
  --skin-dark: #852;
  --hair: #321;
  --hair-dark: #221808;
  --hair-semi: #221808aa;
  --eye: #432;
  --eye-dark: #210;
  --flush: #f001;
  --lips: #c77;
  --lips-dark: #a55; 
  --glasses: #fa9;
  --glasses-glass: #2228;
  --line-light: #fff1;
  --line-light2: #fff2;
  --line-dark: #0002;
  --line-dark2: #0004; 
  --earrings: #0000;
  --earrings-dark: #0000; */
  
/*   --skin: #fdb;
  --skin-dark: #fca;
  --hair: #a85;
  --hair-dark: #752;
  --hair-semi: #752a;
  --eye: #8ad;
  --eye-dark: #68b;
  --flush: #ff000028;
  --lips: #c77;
  --lips-dark: #b44;
  --glasses: #222;
  --glasses-glass: #0008;
  --line-light: #fff1;
  --line-light2: #fff2;
  --line-dark: #0001;
  --line-dark2: #0002;
  --earrings: #0000;
  --earrings-dark: #0000; */
 
  width: 80vmin;
  aspect-ratio: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: 
    /* hair-top */
    radial-gradient(farthest-side, var(--hair) 99%, #0000 99.9%) 21.75% 25% / 20% 35%,
    radial-gradient(farthest-side, var(--hair) 99%, #0000 99.9%) 78% 23% / 20% 40%,
    radial-gradient(100% 200% at 100% 40%, #0000 52%, var(--hair) 52.5% 60%, #0000 60.5%) 11.5% 180% / 20% 80%,
    
    radial-gradient(100% 200% at 100% 20%, #0000 48%, var(--hair) 48.5% 60%, #0000 60.5%) 89.5% 110% / 20% 80%,
    radial-gradient(80% 200% at 0% 20%, #0000 55%, var(--hair) 55.5% 60%, #0000 60.5%) 89.5% 110% / 20% 80%,
    radial-gradient(80% 200% at 0% 10%, #0000 52%, var(--hair) 52.5% 60%, #0000 60.5%) 88.75% 110% / 20% 80%,
    
    /* ears */
    radial-gradient(farthest-side, #9001 99.5%, #0000 99.9%) 25% 50% / 15% 15%,
    radial-gradient(farthest-side, #8001 99.5%, #0000 99.9%) 75% 52% / 15% 12%,
    
    radial-gradient(farthest-side, var(--skin-dark) 99.5%, #0000 99.9%) 21.75% 45% / 20% 30%,
    radial-gradient(farthest-side, var(--skin-dark) 99.5%, #0000 99.9%) 78.25% 45% / 20% 30%,
/*     radial-gradient(farthest-side, var(--skin-dark) 99.5%, #0000 99.9%) 20% 40% / 20% 30%, */
    
    /* earrings */
    radial-gradient(farthest-side at 100% 50%, #0000 80%, var(--earrings-dark) 0 99.9%, #0000 0) 24% 62.25% / 1.25% 5%,
    radial-gradient(farthest-side at 0% 50%, #0000 80%, var(--earrings-dark) 0 99.9%, #0000 0) 76.25% 62% / 1.25% 5%,
    
    /* hair back */
    radial-gradient(100% 200% at 100% 20%, #0000 50%, var(--hair) 50.5% 60%, #0000 60.5%) 14% 110% / 20% 80%,
    radial-gradient(100% 200% at 100% 20%, #0000 55%, var(--hair) 55.5% 60%, #0000 60.5%) 13.5% 200% / 20% 80%,
    /* neck */
    radial-gradient(50% 45%, var(--skin-dark) 99%, #0000 99.9%) 50.5% 80% / 28% 30%,
    radial-gradient(100% 200% at 0 0, #0000 30%, var(--skin) 0) 40% 106.5% / 28% 35%,
    radial-gradient(100% 200% at 100% 0, #0000 30%, var(--skin) 0) 60% 110% / 28% 40%,
    
/*     
    radial-gradient(50% 45%, var(--skin-dark) 99%, #0000 99.9%) 50% 80% / 28% 30%,
    radial-gradient(100% 200% at 0 0, #0000 30%, var(--skin) 0) 40% 110% / 30% 40%,
    radial-gradient(100% 200% at 100% 0, #0000 30%, var(--skin) 0) 60% 110% / 30% 40%, */
    /* shoulders */
    radial-gradient(120% 135% at 50% 100%, var(--skin) 41%, #0000 0) 50% 100% / 100% 20%,
    
    /* hair back back */
    repeating-linear-gradient(90deg, #0000 0 13%, var(--line-dark) 0 13.25%) 50% 100% / 64% 50%,
    repeating-linear-gradient(91deg, #0000 0 11%, var(--line-dark2) 0 11.25%) 50% 100% / 64% 50%,
    repeating-linear-gradient(88deg, #0000 0 7%, var(--line-dark2) 0 7.25%) 50% 100% / 64% 50%,
    repeating-linear-gradient(90.5deg, #0000 0 5%, var(--line-dark2) 5.5%) 50% 100% / 64% 50%,
    repeating-linear-gradient(92deg, #0000 0 10%, var(--line-dark) 0 10.5%)  14% 110% / 20% 80%,
    linear-gradient(var(--hair-dark) 0 0) 50% 100% / 64% 50%,
    
    repeating-linear-gradient(92deg, #0000 0 15%, var(--line-light) 0 15.5%)  14% 70% / 10% 40%,
    repeating-linear-gradient(90.5deg, #0000 0 25%, var(--line-dark2) 0 25.5%) 90% 110% / 20% 80%,
    repeating-linear-gradient(89deg, #0000 0 20%, var(--line-light) 20.5%) 90% 110% / 20% 80%,
    
    radial-gradient(100% 200% at 100% 100%, var(--hair) 99%, #0000 99.9%) 14% 110% / 20% 80%,
    radial-gradient(100% 200% at 0% 100%, var(--hair) 97%, #0000 97.5%) 90% 110% / 20% 80%,
    radial-gradient(farthest-side, var(--hair) 99%, #0000 99.5%) 55.33% 00% / 75.66% 50%;
  background-repeat: no-repeat;
  
/*   filter: 
    drop-shadow(0 0 100px #fff) 
    drop-shadow(0 0 20vmax #beeeef); */
}

.woman::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 75%;
  background: #00f3;
  border-radius: 100% / 60% 60% 145% 145%;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) rotate(-2deg);
  background:
    /* eye 1 */
    radial-gradient(circle at 69.5% 45%, #fffc 2%, #0000 0),
    radial-gradient(circle at 72% 43.5%, #fffc 1%, #0000 0),
    radial-gradient(circle, #000 24%, var(--eye) 28% 40%, var(--eye-dark) 66%, #0000 67%) 75.6% 45% / 14% 10%,
    radial-gradient(farthest-side at 50% 100%, #f8f8f8 98%, #0000 99.9%) 80% 44% / 24% 10%,
    radial-gradient(farthest-side, #f8f8f8 98%, #0000 99.9%) 80% 49% / 24% 3%,
    radial-gradient(farthest-side at 50% 100%, #000 98%, #0000 99.9%) 82% 44% / 24% 10%,
    radial-gradient(farthest-side at 50% 0, #000 99%, #0000 99.9%) 83% 50% / 24% 2%,
    radial-gradient(farthest-side at 50% 100%, var(--skin-dark) 98%, #0000 99.9%) 80% 43% / 24% 12%, /* #fb8 */
    
    /* eye 2 */
    radial-gradient(circle at 24.5% 45%, #fffc 2%, #0000 0),
    radial-gradient(circle at 27% 43.5%, #fffc 1%, #0000 0),
    radial-gradient(circle, #000 24%, var(--eye) 28% 40%, var(--eye-dark) 66%, #0000 67%) 23.5% 45% / 14% 10%,
    radial-gradient(farthest-side at 50% 100%, #f8f8f8 98%, #0000 99.9%) 20% 44% / 24% 10%,
    radial-gradient(farthest-side, #f8f8f8 98%, #0000 99.9%) 20% 49% / 24% 3%,
    radial-gradient(farthest-side at 50% 100%, #000 99%, #0000 99.9%) 18% 44% / 24% 10%,
    radial-gradient(farthest-side at 50% 0, #000 98%, #0000 99.9%) 17% 50% / 24% 2%,
    radial-gradient(farthest-side at 50% 100%, var(--skin-dark) 98%, #0000 99.9%) 20% 43% / 24% 12%,
    
    /* cheeks */
    radial-gradient(circle at 25% 57%, #a001 0.5%, #0000 0),
    radial-gradient(circle at 37% 55.5%, #9001 0.5%, #0000 0),
    radial-gradient(circle at 20% 55%, #8001 0.35%, #0000 0),
    radial-gradient(circle at 32% 53%, #a001 0.6%, #0000 0),
    radial-gradient(circle at 27% 54%, #9001 0.4%, #0000 0),
    radial-gradient(circle at 22% 53%, #8001 0.5%, #0000 0),
    
    radial-gradient(circle at 75% 57%, #a001 0.5%, #0000 0),
    radial-gradient(circle at 64% 55.5%, #9001 0.5%, #0000 0),
    radial-gradient(circle at 80% 55%, #8001 0.35%, #0000 0),
    radial-gradient(circle at 70% 53%, #a001 0.6%, #0000 0),
    radial-gradient(circle at 84% 54%, #9001 0.4%, #0000 0),
    radial-gradient(circle at 77% 53%, #8001 0.5%, #0000 0),
    radial-gradient(farthest-side, var(--flush), #f000) 5% 55% / 50% 20%,
    radial-gradient(farthest-side, var(--flush), #f000) 95% 55% / 50% 20%,
    
    /* eyebrows */
    radial-gradient(20% 13% at 26% 48%, var(--skin) 99%, #0000 99.9%),
    radial-gradient(17% 11% at 26% 44%, var(--skin-dark) 99%, #0000 99.9%),
    radial-gradient(farthest-side at 60% 50%, var(--hair) 99%, #0000 99.9%) 14.5% 39% / 29% 19%,
    radial-gradient(20% 13% at 74% 48%, var(--skin) 99%, #0000 99.9%),
    radial-gradient(17% 11% at 74.5% 44%, var(--skin-dark) 99%, #0000 99.9%),
    radial-gradient(farthest-side at 40% 50%, var(--hair) 99%, #0000 99.9%) 86% 39% / 28% 19%,
    
    /* nose */
    radial-gradient(80% 125% at 50% -40%, #0000 80%, #000 0 90%, #0000 86%) 50% 66.55% / 6.95% 3%,
    radial-gradient(farthest-side at 50% 0, #000 98%, #0000 99.9%) 55.5% 66% / 3% 0.75%,
    radial-gradient(farthest-side at 50% 100%, #000 98%, #0000 99.9%) 55% 65.5% / 4% 0.5%,
    radial-gradient(farthest-side at 50% 0, #000 98%, #0000 99.9%) 44.5% 66% / 3% 0.75%,
    radial-gradient(farthest-side at 50% 100%, #000 98%, #0000 99.9%) 45% 65.5% / 4% 0.5%,
    radial-gradient(farthest-side at 100% 70%, #0000 90%, #000 0 99%, #0000 99.9%) 41% 63% / 4% 5%,
    radial-gradient(farthest-side at 0% 73%, #0000 90%, #000 0 99%, #0000 99.9%) 59% 63% / 4% 5%,
    
    
    /* mouth */
    radial-gradient(100% 240% at 0% -15%, #0000 35%, #0002 36% 37%, #0000 39%) 73% 78.75% / 20% 2%,
    radial-gradient(100% 240% at 100% -15%, #0000 35%, #0002 36% 38%, #0000 39%) 27% 78.75% / 20% 2%,
    radial-gradient(90% 120% at 50% -15%, var(--lips) 35%, #0000 39%) 50% 77.5% / 15% 1.5%,
    radial-gradient(50% 100% at 50% 0%, #f8f8f8 35%, #0000 36%) 50% 90% / 89% 15%,
    radial-gradient(90% 120% at 50% 1%, var(--lips) 35%, #0000 0) 50% 102% / 50% 25%,
    
    radial-gradient(farthest-side at 48% 100%, var(--lips) 90%, #0000 91%) 44% 76% / 23% 3%,
    radial-gradient(farthest-side at 52% 100%, var(--lips) 90%, #0000 91%) 56% 76% / 23% 3%,
    radial-gradient(89% 125% at 50% 1%, var(--lips-dark) 34%, #0000 35%) 50% 102% / 50% 25%,
    
    /* shadows */
    radial-gradient(50% 50% at 10% 90%, var(--skin-dark), #0000) 0 100% / 80% 80%,
    radial-gradient(50% 50% at 90% 90%, var(--skin-dark), #0000) 100% 100% / 80% 80%,
    linear-gradient(var(--skin-dark), #0000 35%),
    
    var(--skin);
  background-repeat: no-repeat;
}

.woman::after {
  content: "";
  position: absolute;
  width: 76%;
  height: 102%;
  left: 49.85%;
  top: -7%;
  transform: translateX(-50%) rotate(4deg);
  border-radius: 100% / 70% 65% 30% 20%;
  background: 
    /* earrings */
    radial-gradient(farthest-side at 0 50%, #0000 80%, var(--earrings) 0 99.9%, #0000 0) 19% 70% / 1.5% 5%,
    radial-gradient(farthest-side at 100% 50%, #0000 80%, var(--earrings) 0 99.9%, #0000 0) 85.5% 66% / 1.5% 5%,
    /* hair shadows */
    radial-gradient(50% 40% at -10% -10%, var(--hair-semi), #0000),
    radial-gradient(50% 40% at 105% -5%, var(--hair-semi), #0000),
    radial-gradient(farthest-side at 50% 100%, #0000 50%, var(--hair-semi) 200%) 50% 0 / 150% 20%,
    /* glasses? */
    radial-gradient(closest-side circle, var(--glasses-glass) 92%, var(--glasses) 92.5% 99.5%, #0000 99.9%) 20% 45% / 35% 35%,
    radial-gradient(closest-side circle, var(--glasses-glass) 92%, var(--glasses) 92.5% 99.5%, #0000 99.9%) 80% 41% / 35% 35%,
    radial-gradient(50% 80% at 50% 100%, #0000 72%, var(--glasses) 72.5% 99.5%, #0000 0) 49.4% 38% / 9.25% 4.5%,
    linear-gradient(var(--glasses) 0 0) 8% 43% / 7% 1.5%,
    linear-gradient(-15deg, #0000 45%, var(--glasses) 0 55%, #0000 0) 90.75% 35.5% / 7% 15%,
    /* bangs */
    linear-gradient(var(--hair) 12%, #0000 0),
    radial-gradient(100% 32% at 0 0, #0000 94%, var(--line-dark) 0 94.5%, #0000 0 96.5%) 0 0 / 50% 120%,
    radial-gradient(100% 32% at 0 0, #0000 94%, var(--line-dark) 0 94.5%, #0000 0 96.5%) 10% 10% / 40% 120%,
    radial-gradient(100% 32% at 0 0, #0000 94%, var(--line-light) 94.5%, #0000 0 96.5%) 10% 10% / 43% 120%,
    radial-gradient(100% 32% at 100% 0, #0000 92%, var(--line-dark2) 93%, #0000 0 96.5%) 70% 28% / 20% 40%,
    radial-gradient(100% 32% at 100% 0, #0000 92%, var(--line-light2) 93%, #0000 0 96.5%) 70% 28% / 15% 30%,
    
    radial-gradient(100% 32% at 100% 0, #0000 92%, var(--line-dark2) 92.7%, #0000 0 96.5%) 90% 28% / 20% 45%,
    radial-gradient(100% 32% at 100% 0, #0000 92%, var(--line-light) 93%, #0000 0 96.5%) 88% 28% / 20% 30%,
    
    radial-gradient(farthest-side at 50% 100%, #0000 90%, var(--line-light) 90.5%, #0000 0) 0 0 / 100% 30%,
    radial-gradient(farthest-side at 50% 100%, #0000 90%, var(--line-dark2) 90.5%, #0000 0) 50% 0 / 104% 31%,
    radial-gradient(farthest-side at 50% 100%, #0000 90%, var(--line-dark) 91%, #0000 0) 45% 0 / 95% 29%,
    radial-gradient(50% 100% at 50% 100%, #0000 90%, var(--line-dark) 91%, #0000 0) 42% 0 / 95% 35%,
    radial-gradient(21% 100% at 50% 60%, #0000 90%, var(--line-dark) 91%, #0000 0) 225% 1% / 90% 27%,
    
    radial-gradient(100% 32% at 0 0, var(--hair) 96%, #0000 96.5%) 0 0 / 50% 120%,
    radial-gradient(50% 33% at 100% 0, var(--hair) 96%, #0000 96.5%),
    radial-gradient(90% 65% at -5% 35%, #0000 100.1%, var(--hair) 100.5% 110%, #0000 110.5%) 39% 0% / 15% 30%,
    radial-gradient(51% 145% at -20% 50%, #0000 45%, var(--hair) 45.5% 48.5%, #0000 49%) 76% 0% / 39% 34%,
    radial-gradient(60% 80% at 100% 24%, #0000 95%, var(--hair) 95.5% 110%, #0000 110.5%) 75% 0% / 30% 30%,
    radial-gradient(60% 65% at 100% 35%, #0000 105%, var(--hair) 105.5% 110%, #0000 110.5%) 58.5% -1% / 25% 31%,
    radial-gradient(62% 74% at 100% 25%, #0000 103%, var(--hair) 103.5% 110%, #0000 110.5%) 60% 0% / 27% 30%,
    radial-gradient(farthest-side at 100% 0, #0000 60%, var(--hair) 0 99.8%, #0000 99.9%) 65% 0 / 22% 30.075%,
    
    radial-gradient(100% 105% at 100% 40%, #0000 60%, var(--hair) 60.5% 99.3%, #0000 99.9%) 55% -1% / 13% 31%
    
    ;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 37%, 1% 36%, 0 36.5%);
}

.woman.noglasses {
  --glasses: #0000;
  --glasses-glass: #0000;
}

.woman.earrings {
  --earrings: #aaa;
  --earrings-dark: #666;
}