<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<title>PURE CSS ART GALLERY - CSS-ART.COM</title>
	<style>{{{cssart_css}}}</style>
	<script type="application/json" id="artwork">{{{artwork}}}</script>
	<script src="/js/css-art.js" async></script>
</head>
<body scroll="no">
<div class="cssart-frame">
	<header class="cssart">
		<div class="cssart-buttons">
			<nav class="cssart-nav">
				<a href="/">Index</a>
				{{#prev}}<a href="{{prev}}"><span class="cssart-flip-h">➜</span> Previous</a>{{/prev}}
				{{#next}}<a href="{{next}}">Next <span>➜</span></a>{{/next}}
			</nav>
			<div class="cssart-publish"><a href="https://github.com/style-tools/async-css/pulls" target="_blank" rel="noopener">Publish Art via Github</a></div>
		</div>
		<h1>PURE CSS ART GALLERY</h1>
	</header>
	<main class="cssart">
		<section class="cssart"><h1 class="cssart-loading">Loading artwork...</h1></section>
		{{> author}}
	</main>
	{{> perf}}
</div>
</body>
</html>