.akuaku {
  position: relative;
  left: .5em;
  top: 1.5em;
}
.akuaku .feather {
  position: absolute;
}
.akuaku .feather {
  opacity: 0;
}
.akuaku .feather:nth-child(1) {
  transform: translateX(-6em) translateY(-6em) rotate(-20deg);
  left: -3em;
  top: -4em;
  width: 3em;
  height: 4em;
  background: #008DBB;
  clip-path: polygon(100% 40%, 0 0, 100% 100%);
}
.akuaku .feather:nth-child(2) {
  transform: translateX(-3em) translateY(-6em) rotate(-10deg);
  left: 0;
  top: -6em;
  width: 2em;
  height: 6em;
  background: #FFBE58;
  clip-path: polygon(50% 100%, 80% 0, 0 40%);
}
.akuaku .feather:nth-child(3) {
  transform: translateX(2em) translateY(-3em) rotate(20deg);
  left: 1.5em;
  top: -5em;
  width: 1.5em;
  height: 5em;
  background: #FE8101;
  clip-path: polygon(30% 100%, 100% 0, 0 40%);
}
.akuaku .feather:nth-child(4) {
  transform: translateX(6em) translateY(-6em) rotate(20deg);
  left: 2.5em;
  top: -3em;
  width: 1em;
  height: 3em;
  background: #FF5D7A;
  clip-path: polygon(10% 44%, 100% 0, 60% 70%, 0 100%);
}
.akuaku .body {
  opacity: 0;
  transform: translateY(1em);
  position: relative;
  left: -1em;
  margin-top: -.5em;
  top: .8em;
  width: 4em;
  height: 7em;
  background: #422202;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}
.akuaku .eyebrows {
  opacity: 0;
  transform: scale(1.2);
  position: absolute;
  top: 50%;
  left: -1em;
  width: 2em;
  height: 1em;
  background: #FE5F4C;
  z-index: 1;
}
.akuaku .eyebrows + .eyebrows {
  top: 40%;
  left: 1em;
  width: 2.25em;
}
.akuaku .eye {
  opacity: 0;
  transform: scale(1.2);
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: -.9em;
  width: 1.8em;
  height: 1.6em;
  background: #FDBE57;
  border-radius: 50%;
  border: 0.2em solid #67A858;
}
.akuaku .eye + .eye {
  top: 40%;
  left: 1em;
  width: 2.2em;
  height: 2.2em;
  border: 0.4em solid #67A858;
}
.akuaku .nose {
  opacity: 0;
  position: absolute;
  bottom: .8em;
  left: .5em;
  width: 1em;
  height: 1.5em;
  background: #FDBE57;
  clip-path: polygon(60% 0, 0 75%, 50% 100%);
}
.akuaku .lip {
  opacity: 0;
  position: absolute;
  bottom: -.5em;
  left: -1em;
  width: 4em;
  height: 2.5em;
  background: #FE5F4C;
  clip-path: polygon(49% 58%, 100% 41%, 89% 100%, 50% 97%, 10% 100%, 0 40%);
}
.akuaku .lip + .lip {
  background: #fff;
  width: 3em;
  height: 1em;
  left: -.5em;
  bottom: -.15em;
}
.akuaku .beard {
  position: absolute;
  bottom: -2.2em;
  left: -.2em;
  width: 1.2em;
  height: 1.8em;
  background: #67A858;
  clip-path: polygon(72% 0, 100% 33%, 70% 100%, 50% 63%, 8% 86%, 26% 21%);
  opacity: 0;
  transform: translateX(-2em) translateY(3em) rotate(20deg);
}
.akuaku .beard + .beard {
  left: .8em;
  transform: translateX(2em) translateY(3em) rotate(-20deg);
  clip-path: polygon(47% 0, 85% 27%, 62% 73%, 50% 100%, 34% 73%, 13% 30%);
}

.feather {
  animation: feather .25s ease-in-out forwards;
}
.feather:nth-child(1) {
  animation-delay: .5s;
}
.feather:nth-child(2) {
  animation-delay: .75s;
}
.feather:nth-child(3) {
  animation-delay: .85s;
}
.feather:nth-child(4) {
  animation-delay: 1s;
}

.body {
  animation: feather .25s ease-in-out forwards;
  animation-delay: 1.15s;
}

.eyebrows {
  animation: eyes .25s ease-in-out forwards, eyebrow1 10s ease-in-out infinite;
  animation-delay: 1.25s, 3s;
}
.eyebrows + .eyebrows {
  animation: eyes .25s ease-in-out forwards, eyebrow2 10s ease-in-out infinite;
  animation-delay: 1.25s, 3s;
}

.eye {
  animation: eyes .25s ease-in-out forwards, eye1 10s ease-in-out infinite;
  animation-delay: 1.25s, 3s;
}
.eye + .eye {
  animation: eyes .25s ease-in-out forwards, eye2 10s ease-in-out infinite;
  animation-delay: 1.25s, 3s;
}

.nose {
  animation: nose1 .25s ease-in-out forwards, nose 10s ease-in-out infinite;
  animation-delay: 1.35s, 3s;
}

.lip {
  animation: lip .25s ease-in-out forwards, lip1 10s ease-in-out infinite;
  animation-delay: 1.45s, 3s;
}
.lip + .lip {
  animation: lip .25s ease-in-out forwards, lip2 10s ease-in-out infinite;
  animation-delay: 1.45s, 3s;
}

.beard {
  animation: beard1 .25s ease-in-out forwards;
  animation-delay: 1.55s;
}
.beard + .beard {
  animation: beard2 .25s ease-in-out forwards;
  animation-delay: 1.65s;
}

@keyframes feather {
  to {
    opacity: 1;
    transform: translateX(0) translateY(0) rotate(0);
  }
}
@keyframes body {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes eyes {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes nose1 {
  from {
    opacity: 0;
    transform: translateY(0.5em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes lip {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes beard1 {
  to {
    opacity: 1;
    transform: translateX(0) translateY(0) rotate(10deg);
  }
}
@keyframes beard2 {
  to {
    opacity: 1;
    transform: translateX(0) translateY(0) rotate(-15deg);
  }
}
@keyframes eyebrow1 {
  5%, 40% {
    top: 44%;
  }
  42%, 80% {
    top: 50%;
  }
}
@keyframes eyebrow2 {
  5%, 40% {
    top: 48%;
  }
  42%, 65% {
    top: 40%;
  }
}
@keyframes eye1 {
  5%, 40% {
    top: 48%;
  }
  42%, 80% {
    top: 50%;
  }
}
@keyframes eye2 {
  5%, 40% {
    top: 48%;
    height: 2em;
  }
  42%, 80% {
    top: 40%;
    height: 2.2em;
  }
}
@keyframes nose {
  5%, 40% {
    transform: rotate(-13deg);
  }
  42%, 80% {
    transform: rotate(0);
  }
}
@keyframes lip1 {
  5%, 25% {
    transform: rotate(-5deg);
  }
  30%, 75% {
    transform: rotate(5deg);
  }
  77% {
    transform: rotate(0);
  }
}
@keyframes lip2 {
  2%, 5% {
    width: 3.3em;
    height: 1.3em;
    left: -.65em;
    bottom: -.2em;
  }
  5%, 25% {
    width: 3.3em;
    height: 1.3em;
    left: -.65em;
    bottom: -.2em;
    transform: rotate(-5deg);
  }
  30%, 75% {
    width: 3.3em;
    height: 1.3em;
    left: -.65em;
    bottom: -.2em;
    transform: rotate(5deg);
  }
  77% {
    width: 3em;
    height: 1em;
    left: -.5em;
    bottom: -.15em;
    transform: rotate(0);
  }
}
html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  font-size: calc(1em + 1vw);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: -webkit-radial-gradient(circle contain, #fff4cd 0%, #ffedac 100%);
}

@media all and (min-width: 600px) {
  body {
    font-size: calc(1em + 1vw);
  }
}
@media all and (max-width: 599px) {
  body {
    font-size: calc(1em + 3vw);
  }
}
@media all and (max-height: 400px) {
  body {
    font-size: calc(1em + 3vh);
  }
}
