/* Variables */
/* Reset */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/* Generic */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #a0a2b6;
  font-family: 'Griffy', cursive;
}

h1 {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: 32px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;
  width: 800px;
  overflow: hidden;
}

/**/
.l {
  position: relative;
  width: 310px;
  height: 560px;
  animation: cuerpo .5s infinite linear alternate;
}
.l--lengua {
  position: absolute;
  bottom: 25px;
  width: 60%;
  height: 15px;
  border-top-right-radius: 15px;
  background-color: #FF0460;
}
.l--nariz {
  position: absolute;
  top: 125px;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #FFBF9E;
  box-shadow: inset 0 -10px 0 #F98D7D;
  z-index: 150;
}
.l--copete {
  position: absolute;
  top: 0px;
  left: calc(50% - 65px);
  width: 220px;
  height: 100px;
  z-index: 200;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  background-color: #FE3445;
  box-shadow: inset 0 -30px 0 #DA2B3A;
}

/* Generic Components*/
.camisa {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 100px;
  border: 5px solid #009C9A;
  background-image: repeating-linear-gradient(to right, #009C9A 0px, #009C9A 5px, #009391 5px, #009391 15px);
}

.cuello {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  height: 150px;
  background-image: linear-gradient(to top, #FC9080 35%, #FE7D7A 35%);
}

.cabeza {
  position: absolute;
  left: 50%;
  bottom: 145px;
  transform: translateX(-50%);
  width: 240px;
  height: 390px;
  border-radius: 120px;
  z-index: 100;
  background-color: #FFBF9E;
  animation: cabeza .5s infinite linear alternate;
}

.cabello {
  position: absolute;
  left: 50%;
  top: -15px;
  transform: translateX(-50%);
  width: 280px;
  height: 190px;
  background: #FE3445;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 40px -40px 0 #DA2B3A;
}
.cabello:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 85%;
  width: 85%;
  background: #FFBF9E;
  transform: translate(-50%, -43%);
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
}

.ojos {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 125px;
  transform: translateX(-50%);
  height: 22px;
  width: 100px;
}

.ojo {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #010000;
  animation: ojo infinite 2s;
}

.cejas {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 125px;
  height: 18px;
}

.ceja {
  height: 18px;
  width: 40px;
  border-radius: 25px;
  background-color: #FE3445;
  box-shadow: 0px 8px 0 #F98D7D;
}

.barba {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background-color: #DA2B3A;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
}
.barba:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  background: blue;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #FE3445;
}

.boca {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 80px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #002637;
}

.dientes {
  width: 100%;
  height: 25px;
  background-color: #FFFFFF;
  z-index: 50;
}
.dientes:nth-of-type(2) {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.oreja {
  position: absolute;
  top: 140px;
  left: 50%;
  height: 50px;
  width: 320px;
  transform: translateX(-50%);
  border-radius: 50px;
  background-color: #FFBF9E;
  box-shadow: inset 0 -15px 0 #F98D7D;
  z-index: -1;
}

.x-ray {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 500;
  overflow: hidden;
  background: #00455C;
}
.x-ray::before, .x-ray::after {
  content: '';
  position: absolute;
  top: 0%;
  left: -50%;
  width: 250%;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  transform: rotateZ(-45deg);
  z-index: 2000;
  animation: reflejo .25s infinite;
}
.x-ray::after {
  top: 50%;
  width: 250%;
  height: 100px;
}

.r {
  position: absolute;
  bottom: 0;
  left: 0%;
  z-index: 500;
  animation: cuerpo .5s infinite linear alternate;
}
.r--camisa {
  background: #002637;
  border: none;
}
.r--cuello {
  background: #002637;
  border: none;
}
.r--columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 150px;
  z-index: 200;
  left: -40px;
  padding-top: 5px;
}
.r--huesos {
  width: 80px;
  height: 18px;
  border-radius: 15px;
  background-color: #cccccc;
}
.r--cabeza {
  border: none;
  background: #002637;
}
.r--cabeza::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: 90%;
  background-image: linear-gradient(to bottom, #cccccc 50%, #002637 50%, #002637 69%, #cccccc 69%);
  border-radius: 120px;
}
.r--barba {
  background: none;
}
.r--barba::before {
  content: none;
}
.r--ojo {
  background-color: #002637;
}
.r--dientes {
  background-color: #e6e6e6;
}
.r--dientes:nth-of-type(2) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.r--nariz {
  position: absolute;
  top: 140px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #002637;
  z-index: 150;
}

/**/
@keyframes cuerpo {
  0% {
    transform: rotateZ(-10deg);
    transform-origin: bottom center;
  }
  100% {
    transform: rotateZ(10deg);
    transform-origin: bottom center;
  }
}
@keyframes cabeza {
  0% {
    transform: translateX(-50%) rotateZ(-14deg);
    transform-origin: bottom center;
  }
  100% {
    transform: translateX(-50%) rotateZ(14deg);
    transform-origin: bottom center;
  }
}
@keyframes reflejo {
  0% {
    width: 250%;
  }
  100% {
    width: 249%;
  }
}
@keyframes ojo {
  0%,3%,100% {
    height: 22px;
  }
  2% {
    height: 2px;
  }
}
