/* Variables */
/* Reset */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #363C38;
  position: relative;
}

/* Generic */
body {
  width: 100%;
  height: 100vh;
  background-color: #E4EFEE;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
}

.main {
  width: 800px;
  height: 600px;
}

.frank {
  position: relative;
  width: 250px;
  height: 480px;
}

.head {
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 210px;
  height: 400px;
  transform: translateX(-50%);
  z-index: 100;
}
.head__t {
  position: relative;
  width: 200px;
  height: 125px;
  background-image: linear-gradient(to bottom, #78C858 0%, #78C858 80%, #569740 80%, #569740 95%, #00671E 95%, #00671E 100%);
  box-shadow: 0 5px 0 rgba(54, 60, 56, 0.25);
  z-index: 50;
}
.head__t::before, .head__t::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 10px;
  background: #A9DB91;
  border-radius: 5px;
  top: 50%;
  left: 20%;
}
.head__t::after {
  top: 20%;
  left: 60%;
}
.head__m {
  width: 200px;
  height: 160px;
  background-image: linear-gradient(to bottom, #8FD274 0%, #8FD274 90%, #78C858 90%, #78C858 98%, #65B34F 98%, #65B34F 100%);
}
.head__b {
  position: relative;
  width: 100%;
  height: 115px;
  background-image: linear-gradient(to bottom, #78C858 0%, #78C858 85%, #65B34F 85%, #65B34F 100%);
}
.head__b::before {
  content: '';
  position: absolute;
  left: calc(50% - 35px);
  bottom: -18px;
  border-top: 35px solid #8FD274;
  border-left: 35px solid #8FD274;
  border-right: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-radius: 50%;
  transform: rotateZ(45deg);
}
.head__b::after {
  content: '';
  position: absolute;
  top: 0;
  right: 25px;
  width: 20px;
  height: 50%;
  background: #8FD274;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: drop-1 4s infinite,drop-2 4s infinite;
}

.face {
  width: 100%;
  height: 100%;
  position: relative;
}

.eye {
  position: relative;
  width: 100%;
  height: 50px;
}
.eye__l, .eye__r {
  position: absolute;
  bottom: 0;
  left: 7%;
  height: 70px;
  width: 70px;
  background-color: #E4EFEE;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #65B34F, 0 0 0 10px #78C858;
  animation: eye 4s infinite alternate;
}
.eye__l::before, .eye__r::before {
  content: '';
  position: absolute;
  top: 35%;
  left: 65%;
  height: 15px;
  width: 15px;
  background-color: #363C38;
  border-radius: 50%;
}
.eye__r {
  left: 57%;
}
.eye__r::before {
  top: 60%;
  left: 15%;
}

.nose {
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 50%;
  width: 40px;
  height: 80px;
  transform: translateX(-50%);
}
.nose__t {
  width: 15px;
  height: 60px;
  background-image: linear-gradient(to right, #D0EEC2 30%, #A9DB91 30%);
}
.nose__b {
  width: 100%;
  height: 20px;
  background-image: linear-gradient(to right, #D0EEC2 43%, #A9DB91 43%);
  border-bottom: 5px solid #569740;
}

.mouth {
  position: absolute;
  left: 50%;
  bottom: -20px;
  border-top: 35px solid #78C858;
  border-left: 35px solid #78C858;
  border-right: 35px solid transparent;
  border-bottom: 35px solid transparent;
  transform: translateX(-50%) scaleX(0.4) scaleY(1.3) rotateZ(45deg);
}

.teeth {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.teeth__l, .teeth__m, .teeth__r {
  position: absolute;
  width: 20px;
  height: 40px;
  background: red;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #FDFED9 0%, #FDFED9 60%, #FFF38C 60%, #FFF38C 100%);
}
.teeth__l::before, .teeth__l::after, .teeth__m::before, .teeth__m::after, .teeth__r::before, .teeth__r::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #D30924;
}
.teeth__l::after, .teeth__m::after, .teeth__r::after {
  left: 10px;
  top: 20px;
  height: 3px;
  width: 3px;
}
.teeth__l {
  left: 30%;
  bottom: -5px;
  transform: rotateZ(-15deg);
  animation: teeth-1 .1s infinite;
}
.teeth__m {
  left: 50%;
  bottom: -15px;
  transform: rotateZ(15deg);
  animation: teeth-2 .1s infinite;
}
.teeth__r {
  left: 80%;
  bottom: -20px;
  transform: rotateZ(-5deg);
  animation: teeth-3 .1s infinite;
}

.hair {
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 260px;
}
.hair__t {
  height: 50px;
  width: 100px;
  position: relative;
  animation: screws .1s infinite;
}
.hair__t::before {
  content: '';
  position: absolute;
  right: 0%;
  top: 0;
  height: 70px;
  width: 70px;
  background-color: #363C38;
  border-radius: 50%;
}
.hair__t::after {
  content: '';
  position: absolute;
  left: 0;
  border-top: 35px solid #363C38;
  border-left: 35px solid #363C38;
  border-right: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-radius: 50%;
  transform: rotateZ(-45deg);
}
.hair__m {
  height: 30px;
  width: 200px;
  border-radius: 10px;
}
.hair__b {
  position: absolute;
  bottom: 0;
  width: 240px;
  height: 190px;
  border-radius: 15px;
}

.ear {
  position: absolute;
  justify-content: space-between;
  top: 255px;
  width: 100%;
  height: 50px;
}
.ear__l, .ear__r {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: radial-gradient(circle, #78C858 0%, #78C858 30%, #65B34F 30%, #65B34F 40%, #78C858 40%, #78C858 100%);
  animation: screws .1s infinite;
}

.screws {
  position: absolute;
  top: 110px;
  width: 100%;
  height: 45px;
}
.screws__l, .screws__r {
  position: absolute;
  height: 45px;
  width: 60px;
  top: 0;
  left: -35px;
  animation: screws .1s infinite;
}
.screws__l::before, .screws__r::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 100%;
  background-image: linear-gradient(to bottom, #D0DBD6 0%, #D0DBD6 25%, #b7c1bc 25%, #b7c1bc 92%, #939E99 92%, #939E99 100%);
}
.screws__l::after, .screws__r::after {
  content: '';
  position: absolute;
  right: 0;
  top: calc(50% - 10px);
  width: 45px;
  height: 20px;
  background-image: linear-gradient(to bottom, #D0DBD6 0%, #D0DBD6 25%, #b7c1bc 25%, #b7c1bc 85%, #939E99 85%, #939E99 100%);
  border-left: 3px solid #939E99;
}
.screws__r {
  left: calc(100% - 25px);
}
.screws__r::before {
  right: 0;
}
.screws__r::after {
  left: 0;
  border-left: none;
  border-right: 3px solid #939E99;
}

/**/
@keyframes eye {
  0% {
    transform: rotateZ(-0.25turn);
  }
  100% {
    transform: rotateZ(0.25turn);
  }
}
@keyframes teeth-1 {
  0% {
    transform: rotateZ(-15deg) translateX(0);
  }
  100% {
    transform: rotateZ(-15deg) translateX(2px);
  }
}
@keyframes teeth-2 {
  0% {
    transform: rotateZ(15deg) translateX(0);
  }
  100% {
    transform: rotateZ(15deg) translateX(2px);
  }
}
@keyframes teeth-3 {
  0% {
    transform: rotateZ(-5deg) translateX(0);
  }
  100% {
    transform: rotateZ(-5deg) translateX(2px);
  }
}
@keyframes screws {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1px);
  }
}
@keyframes drop-1 {
  0% {
    height: 10%;
  }
  100% {
    height: 50%;
  }
}
@keyframes drop-2 {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
