@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300';
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ffe9e9;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.875em;
}

.container {
  flex: 1 0 auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(16, 10px);
  grid-template-rows: repeat(16, 10px);
  grid-template-areas: "	.		😀	😀	😀	.		😃	😃	😃	😃	😃	😃	.		😄	😄	😄	." "	😁	🕐	.		.		😆	🕑	.		.		.		.		🕒	😅	.		.		🕓	😂" "	😁	.		.		.		.		.		.		.		.		.		.		.		.		.		.		😂" "	😁	.		.		.		.		.		.		.		.		.		.		.		.		.		.		😂" "	😁	.		.		.		.		.		.		.		.		.		.		.		.		.		.		😂" "	😁	🕔	.		.		.		.		.		.		.		.		.		.		.		.		🕕	😂" "	😁	🕔	.		.		.		.		.		🤣	.		😊	.		.		.		.		🕕	😂" "	.		😇	.		.		.		.		.		🤣	.		😊	.		.		.		.		🙂	." "	.		😇	🕘	.		.		🕖	🕖	🤣	.		😊	🕗	.		.		🕙	🙂	." "	.		😇	🙃	🙃	.		.		.		.		.		.		.		.		😉	😉	🙂	." "	😌	🕚	🕚	🕚	😍	.		.		.		😮	.		.		😘	🕛	🕛	🕛	😗" "	😌	🕜	🕜	🕜	🕜	😙	🕝	.		.		🕞	😚	🕟	🕟	🕟	🕟	😗" "	.		😋	🕠	🕠	🕠	🕠	😝	🕢	🕢	😛	🕡	🕡	🕡	🕡	😜	." "	.		.		🤑	🤑	🕣	🕣	😝	😏	😏	😛	🕤	🕤	😎	😎	.		." "	.		.		.		.		😒	😒	.		.		.		.		😞	😞	.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		.";
  margin-top: 50px;
  padding: 30px;
  animation-name: jump;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.kirby-pixel-group {
  background-color: #ff6060;
}

.kirby-pixel-group-inner {
  background-color: #ffacac;
}

.pixel-group-1 {
  grid-area: 😀;
}

.pixel-group-2 {
  grid-area: 😃;
}

.pixel-group-3 {
  grid-area: 😄;
}

.pixel-group-4 {
  grid-area: 😁;
}

.pixel-group-5 {
  grid-area: 😆;
}

.pixel-group-6 {
  grid-area: 😅;
}

.pixel-group-7 {
  grid-area: 😂;
}

.pixel-group-8 {
  grid-area: 🤣;
}

.pixel-group-9 {
  grid-area: 😊;
}

.pixel-group-10 {
  grid-area: 😇;
}

.pixel-group-11 {
  grid-area: 🙂;
}

.pixel-group-12 {
  grid-area: 🙃;
}

.pixel-group-13 {
  grid-area: 😉;
}

.pixel-group-14 {
  grid-area: 😌;
}

.pixel-group-15 {
  grid-area: 😍;
}

.pixel-group-16 {
  grid-area: 😘;
}

.pixel-group-17 {
  grid-area: 😗;
}

.pixel-group-18 {
  grid-area: 😙;
}

.pixel-group-19 {
  grid-area: 😚;
}

.pixel-group-20 {
  grid-area: 😋;
}

.pixel-group-21 {
  grid-area: 😜;
}

.pixel-group-22 {
  grid-area: 😝;
}

.pixel-group-23 {
  grid-area: 😛;
}

.pixel-group-24 {
  grid-area: 🤑;
}

.pixel-group-25 {
  grid-area: 😎;
}

.pixel-group-26 {
  grid-area: 😮;
}

.pixel-group-27 {
  grid-area: 😏;
}

.pixel-group-28 {
  grid-area: 😒;
}

.pixel-group-29 {
  grid-area: 😞;
}

.pixel-group-30 {
  grid-area: 🕐;
}

.pixel-group-31 {
  grid-area: 🕑;
}

.pixel-group-32 {
  grid-area: 🕒;
}

.pixel-group-33 {
  grid-area: 🕓;
}

.pixel-group-34 {
  grid-area: 🕔;
}

.pixel-group-35 {
  grid-area: 🕕;
}

.pixel-group-36 {
  grid-area: 🕖;
}

.pixel-group-37 {
  grid-area: 🕗;
}

.pixel-group-38 {
  grid-area: 🕘;
}

.pixel-group-39 {
  grid-area: 🕙;
}

.pixel-group-40 {
  grid-area: 🕚;
}

.pixel-group-41 {
  grid-area: 🕛;
}

.pixel-group-42 {
  grid-area: 🕜;
}

.pixel-group-43 {
  grid-area: 🕝;
}

.pixel-group-44 {
  grid-area: 🕞;
}

.pixel-group-45 {
  grid-area: 🕟;
}

.pixel-group-46 {
  grid-area: 🕠;
}

.pixel-group-47 {
  grid-area: 🕡;
}

.pixel-group-48 {
  grid-area: 🕢;
}

.pixel-group-49 {
  grid-area: 🕣;
}

.pixel-group-50 {
  grid-area: 🕤;
}

@keyframes jump {
  0%, 19%, 100% {
    grid-template-areas: "	.		.		.		.		.		.		😀	😀	😀	😀	.		.		.		.		.		." "	.		.		.		.		😃	😃	🕐	.		.		🕑	😄	😄	.		.		.		." "	.		.		.		😁	😁	.		.		.		.		.		.		😆	😆	.		.		." "	.		.		.		😅	.		.		.		.		.		.		.		.		😂	.		.		." "	.		.		🤣	🕒	.		.		.		.		.		.		.		.		🕓	😊	.		." "	.		😇	🕔	.		.		.		.		🙂	.		🙃	.		.		.		🕕	😉	." "	.		😇	.		.		.		.		.		🙂	.		🙃	.		.		.		.		😉	." "	😌	🕖	.		.		.		.		.		🙂	.		🙃	.		.		.		.		🕗	😍" "	😌	.		.		.		.		.		.		.		.		.		.		.		.		.		.		😍" "	😌	.		.		.		.		.		.		.		.		.		.		.		.		.		.		😍" "	😌	🕘	.		🕙	.		.		.		.		😮	.		.		.		🕚	.		🕛	😍" "	.		😘	🕜	😙	.		.		.		.		.		.		.		.		😚	🕝	😗	." "	.		.		😋	😋	😋	.		.		.		.		.		.		😜	😜	😜	.		." "	.		😝	🕞	🕞	🕞	😛	😛	😛	😛	😛	😛	🕟	🕟	🕟	🤑	." "	.		😝	🕠	🕠	🕠	🕠	🕠	😎	😎	🕡	🕡	🕡	🕡	🕡	🤑	." "	.		.		😏	😏	😏	😏	😏	.		.		😒	😒	😒	😒	😒	.		.";
    transform: translateY(0);
  }
  20%, 29%, 55%, 74% {
    grid-template-areas: "	.		.		.		.		.		.		😀	😀	😀	😀	.		.		.		.		.		." "	.		.		😃	😃	😃	😃	.		.		.		.		😄	😄	😄	😄	.		." "	.		😁	.		😆	.		.		.		.		.		.		.		.		😅	.		😂	." "	🤣	.		.		.		.		.		.		😊	.		😇	.		.		.		.		.		🙂" "	🤣	.		.		.		.		.		.		😊	.		😇	.		.		.		.		.		🙂" "	🤣	.		.		.		.		🕐	🕐	😊	.		😇	🕑	🕑	.		.		.		🙂" "	🤣	🕒	.		.		.		.		.		.		.		.		.		.		.		.		🕓	🙂" "	.		🙃	.		.		.		.		.		.		😮	.		.		.		.		.		😉	." "	.		🙃	🕔	.		.		.		.		.		😮	.		.		.		.		🕕	😉	." "	.		.		😌	.		.		.		.		.		.		.		.		.		.		😍	.		." "	.		.		.		😘	.		.		.		.		.		.		.		.		😗	.		.		." "	.		.		.		😘	😙	🕖	.		.		.		.		🕗	😚	😗	.		.		." "	.		.		.		😘	🕘	😋	😋	😋	😋	😋	😋	🕙	😗	.		.		." "	.		.		.		😘	🕘	🕚	🕚	😜	😜	🕛	🕛	🕙	😗	.		.		." "	.		.		.		.		😝	🕚	🕚	😜	😜	🕛	🕛	😛	.		.		.		." "	.		.		.		.		.		🤑	🤑	.		.		😎	😎	.		.		.		.		.";
  }
  29% {
    transform: translateY(-25px);
  }
  30%, 44% {
    grid-template-areas: "	.		😀	😀	😀	.		😃	😃	😃	😃	😃	😃	.		😄	😄	😄	." "	😁	🕐	.		.		😆	🕑	.		.		.		.		🕒	😅	.		.		🕓	😂" "	😁	.		.		.		.		.		.		.		.		.		.		.		.		.		.		😂" "	😁	.		.		.		.		.		.		.		.		.		.		.		.		.		.		😂" "	😁	.		.		.		.		.		.		.		.		.		.		.		.		.		.		😂" "	😁	🕔	.		.		.		.		.		.		.		.		.		.		.		.		🕕	😂" "	😁	🕔	.		.		.		.		.		🤣	.		😊	.		.		.		.		🕕	😂" "	.		😇	.		.		.		.		.		🤣	.		😊	.		.		.		.		🙂	." "	.		😇	🕘	.		.		🕖	🕖	🤣	.		😊	🕗	.		.		🕙	🙂	." "	.		😇	🙃	🙃	.		.		.		.		.		.		.		.		😉	😉	🙂	." "	😌	🕚	🕚	🕚	😍	.		.		.		😮	.		.		😘	🕛	🕛	🕛	😗" "	😌	🕜	🕜	🕜	🕜	😙	🕝	.		.		🕞	😚	🕟	🕟	🕟	🕟	😗" "	.		😋	🕠	🕠	🕠	🕠	😝	🕢	🕢	😛	🕡	🕡	🕡	🕡	😜	." "	.		.		🤑	🤑	🕣	🕣	😝	😏	😏	😛	🕤	🕤	😎	😎	.		." "	.		.		.		.		😒	😒	.		.		.		.		😞	😞	.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		.";
  }
  45%, 49%, 50%, 54%, 75%, 79% {
    grid-template-areas: "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		.		.		.		.		.		.		.		.		.		.		.		.		.		." "	.		.		😀	😀	😀	😀	.		.		.		.		😄	😄	😄	😄	.		." "	.		😁	🕐	.		.		🕑	😃	😃	😃	😃	🕒	.		.		🕓	😆	." "	😅	🕔	.		.		🕕	.		.		.		.		.		.		🕖	.		.		🕗	😂" "	😅	.		.		.		.		.		.		.		.		.		.		.		.		.		🕗	😂" "	😅	🤣	.		.		.		.		😇	.		.		🙂	.		.		.		.		😊	😂" "	😅	.		.		.		.		.		.		🙃	.		🙂	.		.		.		.		.		😂" "	😅	.		.		.		.		.		.		.		.		.		.		.		.		.		.		😂" "	😅	😉	.		.		.		.		.		.		😮	.		.		.		.		🕘	😌	😂" "	😅	🕙	😍	😍	.		.		.		.		.		.		.		🕚	😘	😘	🕛	😂" "	.		😗	😗	😗	😗	😗	😗	😗	😗	😗	😗	😗	😗	😗	😗	.";
  }
  45%, 54% {
    transform: translateY(100px);
  }
  52%, 53% {
    transform: translateY(105px);
  }
  72% {
    transform: translateY(-10px);
  }
  74% {
    transform: translateY(0);
  }
  80%, 99% {
    grid-template-areas: "	.		.		.		.		.		.		😀	😀	😀	😀	😀	😀	😀	😀	.		." "	.		.		.		.		😃	😃	🕐	.		.		.		.		🕑	😄	.		😁	." "	.		.		.		😆	🕒	.		.		.		.		.		.		.		.		🕓	.		😅" "	.		.		😂	🕔	.		.		.		🤣	.		😊	.		.		.		.		.		😅" "	.		.		😂	.		.		.		.		🤣	.		😊	.		.		.		.		🕕	😅" "	.		😇	.		.		.		.		.		🤣	.		😊	.		.		.		.		.		😅" "	🙂	🕖	.		.		.		.		.		.		.		.		.		.		.		.		.		😅" "	🙂	.		.		.		.		.		.		.		😮	.		.		.		.		.		🕗	😅" "	🙂	.		.		.		.		.		.		.		😮	.		.		.		.		.		🙃	." "	.		😉	.		🕘	.		.		.		.		.		.		.		.		.		🕙	🙃	." "	.		.		😌	😌	😌	.		.		.		.		.		.		.		.		🕙	🙃	." "	.		😍	🕚	🕚	🕚	😘	.		.		.		.		.		.		🕝	😗	.		." "	.		😍	🕚	🕚	🕚	🕛	😙	.		.		.		.		🕞	😚	😚	😚	." "	.		😍	🕚	🕚	🕚	🕛	😙	🕟	🕟	🕟	😋	😋	🕠	🕠	🕠	😜" "	.		.		😝	🕜	🕜	🕛	😙	😛	😛	😛	🕡	🕡	🕠	🕠	🕠	😜" "	.		.		.		🤑	🤑	🤑	.		.		.		.		😎	😎	😎	😎	😎	.";
  }
}