body {
  background-color: #dcdcdc;
  position: relative;
  height: 100vh;
}
.entry {
  position: absolute;
  left: 50%;
  top: 50%;
}
.entry:before,
.entry:after {
  display: block;
  content: '';
  position: absolute;
}
.entry.clock {
  width: 150px;
  height: 150px;
  margin-left: -75px;
  margin-top: -75px;
  border-radius: 50%;
  background-color: #fff;
  background-image: radial-gradient(circle at center, #708090 8px, transparent 8px), radial-gradient(circle at center 53%, rgba(0,0,0,0.2) 8px, transparent 8px), radial-gradient(circle at center, #fff 47%, transparent 47%, transparent 57%, #fff 57%), linear-gradient(to right, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%), linear-gradient(to bottom, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%), linear-gradient(60deg, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%), linear-gradient(30deg, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%), linear-gradient(-60deg, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%), linear-gradient(-30deg, transparent 50%, #d3d3d3 50%, #d3d3d3 51%, transparent 51%);
  border: 10px solid #fff;
  box-shadow: 0 0 0 2px #708090, inset 0 4px 2px 4px rgba(0,0,0,0.1), 0 3px 2px 3px rgba(0,0,0,0.2);
  box-sizing: border-box;
}
.entry.clock:before {
  width: 48px;
  height: 6px;
  left: 46%;
  top: 48%;
  background-color: #4e5a65;
  border-radius: 4px;
  box-shadow: -2px 6px 3px rgba(0,0,0,0.1);
}
.entry.clock:after {
  width: 30px;
  height: 7px;
  top: 42%;
  left: 30%;
  background-color: #4e5a65;
  border-radius: 4px;
  box-shadow: 6px 6px 3px rgba(0,0,0,0.1);
  transform: rotate(32deg);
}
